ul {
    padding: 0;
    list-style-type: none;
}

p {
    color: #222;
    line-height: 1.5;
}

.ui.container.blog-container {
    max-width: 640px!important;
}

.blog-segment {
    position: relative;
    z-index: 1;
    background: url('/img/posts/2017-02-16-intrapreneur-startup-d-etat.jpg');
}

a.blog-segment-link {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
}

a.blog-title-link {
    display: block;
    padding: 0;
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
    font-weight: 700;
    line-height: 1.3em;
    font-size: 1.2em;
    text-decoration: none;
    color: rgba(0,0,0,.87);
}

.blog-container .ui.horizontal.list + a.blog-title-link {
    margin-top: 1em;
}

.blog-parution-date {
    font-size: 0.8em;
    color: #333;
    margin-bottom: 1em;
}

.blog-techno {
    font-size: 1em;
    color: rgba(0, 0, 0, .5);
}

.thumbnail {
    position: relative;
    width: 100%;
    height: 200px;
    overflow: hidden;
    margin-bottom: 15px;
}

.thumbnail img {
    position: absolute;
    left: 50%;
    top: 80%;
    width: 100%;
    height: auto;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

@media (max-width: 414px) {
    .thumbnail {
        height: 100px;
    }
}
