h2 {
    border: none;
    margin: 1em 0;
    padding: 0;
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
    font-weight: 700;
    line-height: 1.2857em;
    text-transform: none;
    color: rgba(0,0,0,.87);
}

p {
    color: #222;
    line-height: 1.5;
}

a.blog-segment {
    text-decoration: none;
}
