ul.unstyled {
    padding: 0;
    list-style-type: none;
}

p {
    color: #222;
    line-height: 1.5;
}

.ui.container.blog-container {
    max-width: 640px!important;
}

.blog-segment {
    position: relative;
    background: #fff;
    box-shadow: 0 1px 2px 0 rgba(34,36,38,.15);
    margin: 1rem 0;
    padding: 1em;
    border-radius: .28571429rem;
    border: 1px solid rgba(34,36,38,.15);
    position: relative;
}

.blog-segment-friend {
    padding: 0;
    background-color: #efefef;
}

.blog-segment-friend .ad {
    width: 100%;
    background-color: whitesmoke;
    border-radius: .28571429rem;
    padding: 1em;
}

.blog-segment-friend .content {
    padding: 1em;
}

a.blog-segment-link {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
}

a.blog-title-link {
    display: block;
    padding: 0;
    font-weight: 700;
    line-height: 1.3em;
    font-size: 1.2em;
    text-decoration: none;
    color: rgba(0,0,0,.87);
}

.blog-container .ui.horizontal.list + a.blog-title-link {
    margin-top: 1em;
}

.excerpt-meta-informations {
    font-size: .8em;
    margin-bottom: 1em;
}

.excerpt-parution-date {
    color: #333;
}

.excerpt-job-techno {
    color: rgba(0, 0, 0, .55);
}

.thumbnail {
    position: relative;
    width: 100%;
    height: 200px;
    overflow: hidden;
    margin-bottom: 15px;
}

.thumbnail img {
    position: absolute;
    left: 50%;
    top: 80%;
    width: 100%;
    height: auto;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

@media (max-width: 414px) {
    .thumbnail {
        height: 100px;
    }
}
