#community {
  margin-bottom: 2em;
}

#chart-wrapper {
    position: relative;
    height: 60vh;
}

@supports (display: grid) {
  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
    grid-gap: 2em;
  }
}

.card .card__content {
  padding: 1em;
}

.card .card__cover {
  height: 310px;
}

a.card__content {
  text-decoration: none;
}

#alumni {
    margin: 6em 0 2em;
}

#alumni ~ .author img {
    filter: grayscale(100%);
}

#alumni ~ .author img:hover {
    filter: grayscale(0%)
}
