#community {
  margin-bottom: 2em;
}

#chart-wrapper {
    position: relative;
    height: 60vh;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
  grid-gap: 2em;
}

.card .card__content {
  padding: 1em;
}

a.content {
  text-decoration: none;
}
