.counter--incubation a {
    text-decoration: none;
    width: 100%;
    color: inherit;
}

.counter--incubation, .counter--endgame {
    display: flex;
    list-style: none;
    padding: 0;
}

.counter--incubation {
    color: white;
    width: 100%;
}

.counter--endgame {
    flex-direction: column;
    font-size: 80%;
    border-style: solid;
    border-width: 10px 0 10px 20px;
    border-color: transparent transparent transparent #00234d;
}

.counter, .counter a {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.counter {
    padding: 1em;
}

.counter--name, .counter--count {
    text-transform: uppercase;
    font-weight: bold;
}

.counter--name {
    font-size: 120%;
}

.counter--count {
    font-size: 500%;
}

.counter--endgame .counter--count {
    font-size: 300%;
}

.counter--endgame .counter {
    min-height: 6em; /* for IE11 */
}

@media (max-width: 50em) {
    .counter--incubation {
        flex-direction: column;
    }

    .counter--endgame {
        flex-direction: row;
        border-width: 20px 10px 0 10px;
        border-color: #00234d transparent transparent transparent;
    }
}
