body {
	margin: 0;
	max-width: 100%;
}

#masthead {
	background-image: url('/img/header.jpg');

	font-weight: bold;
}

.links {
	text-align: right;
	text-shadow: none;
}

#cycle, #blog {
	font-size: 130%;
	line-height: 2;

	text-align: center;
	background-color: #FEFEFE;
}

#cycle ol, #blog ul {
	list-style-position: inside;
	padding-left: 0;
}

#phases {
	color: #FEFEFE;
	font-size: 110%;
}

#phases .text.container {
	margin-top: 0;
}

#phases .text.container p:last-child, #blog ul {
	margin-bottom: 0;
}

.primary.success.cta {
	display: block;
	width: 100%;
	height: 100%;
	padding: 0;
	color: black;
}

@media (max-width: 50em) {
	.links a {
		text-align: center;
		display: inline-block;
		margin: 0;
		padding: .5em;
	}
}

@media (max-width: 34em) {
	#cycle, #blog {
		text-align: left;
		line-height: 1.5;
	}

	.links a {
		display: block;
	}

	.large.screen.only {
		display: none;
	}
}
