body {
	margin: 0;
	max-width: 100%;
	background-color: #DDD;
}

#mission-statement {
	position: relative;
	max-width: 100%;
	background-image: url('/img/header.jpg');
	background-size: cover;
	background-position: center right;
	padding: 7em;
	color: white;
	letter-spacing: .05em;
}

#mission-statement p {
	font-weight: bold;
}

#mission-statement h1 {
	text-transform: uppercase;
	line-height: 1;
	font-size: 300%;
	max-width: 20em;
	margin-top: 0;
}

.links {
	text-align: right;
}

a.cta {
	padding: .75em;
	margin: .75em;

	text-decoration: none;
	transition: box-shadow .5s;
}

a.primary.cta {
	font-size: 130%;

	background-color: #1b91a3;
	font-weight: bold;
}

a.cta:hover, a.cta:focus {
	box-shadow: 0 0 .3em .1em #1b91a3;
	transition: box-shadow .1s;
}

#cycle {
	padding: 1em;
	font-size: 130%;

	text-align: center;
	background-color: #FEFEFE;
}

#cycle * {
	max-width: 60rem;
	margin: 1em auto;
}

#cycle ol {
	list-style-position: inside;
	padding-left: 0;
}

#phases {
	color: #FEFEFE;
}

.phase--description {
	font-size: 120%;
}

.phase--description p {
	margin-top: 0;
}

.phase--description p:last-child {
	margin-bottom: 0;
}

@media (min-width: 100em) {
	#mission-statement {
		font-size: 120%;
		padding: 14em;
	}
}

@media (max-width: 50em) {
	#mission-statement {
		padding: 2em;
	}

	.links a {
		text-align: center;
		display: inline-block;
		margin: 0;
		padding: .5em;
	}
}

@media (max-width: 34em) {
	#mission-statement {
		padding: 1em 0;
	}

	.links a {
		display: block;
	}
}

@media (min-width: 1368px) {
	#mission-statement {
		background-image: url('/img/header@2x.jpg');
	}
}

@media (min-width: 2736px) {
	#mission-statement {
		background-image: url('/img/header@4x.jpg');
	}
}
