body {
	padding: 0;
	margin: 0;
	max-width: 100%;
	background-color: #DDD;
}

#mission-statement {
	position: relative;
	max-width: 100%;
	background-image: url('/img/header.jpg');
	background-size: cover;
	background-position: center;
	padding: 0;
	color: white;
}

#mission-statement > .wrapper {
	background-color: rgba(0, 0, 0, 0.4);
	height: 100%;
	width: 100%;
	padding: 7em;
	letter-spacing: .05em;
}

#mission-statement p {
	font-weight: bold;
}

#mission-statement h1 {
	text-transform: uppercase;
	line-height: 1;
	font-size: 300%;
	max-width: 20em;
	margin-top: 0;
}

.links {
	text-align: right;
}

.links a {
	padding: .75em;
	margin: .75em;
	text-decoration: none;
	transition: box-shadow .5s;
}

.links a:last-child {
	background-color: #1b91a3;
	font-size: 130%;
	font-weight: bold;
}

.links a:hover, .links a:focus {
	box-shadow: 0 0 .3em .1em #1b91a3;
	transition: box-shadow .1s;
}

#methode {
	padding: 1em;
	font-size: 130%;

	text-align: center;
	background-color: #FEFEFE;
}

#methode * {
	max-width: 60rem;
	margin: 1em auto;
}

#methode ol {
	list-style-position: inside;
	padding-left: 0;
}

#phases {
	color: #FEFEFE;
}

@media (min-width: 100em) {
	#mission-statement > .wrapper {
		font-size: 120%;
		padding: 14em;
	}
}

@media (max-width: 50em) {
	#mission-statement > .wrapper {
		padding: 2em;
	}
}

@media (max-width: 34em) {
	#mission-statement > .wrapper {
		padding: 1em 0;
	}
}

