.map {
    height: 18em;
}

h3 em {
    font-style: normal;
    font-weight: bold;
}

.manifeste {
    padding: 1.5em 3em;
    background-color: white;
    border-radius: 4px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2em;
}

.grid .card + .card {
    margin-left: 0;
}
