.map {
    height: 18em;
}

h3 {
    font-weight: normal;
}

h3 em {
    font-style: normal;
    font-weight: bold;
}

.manifeste {
    padding: 1.5em 3em;
    background-color: white;
    border-radius: 4px;
}
