html {
	height: 100%;
}

body {
	position: relative;
	padding: 0;
	display: flex;
	height: 100%;
	flex-direction: column;
	background-color: #F3F3F3;
}

header, footer {
	flex: none;
}

main {
	flex: 1 0 auto;
	width: 100%;
}

body, .menu {
	font-family: "Century Gothic", "Gilles Sans", "Open Sans", "Helvetica Neue", "Arial", sans-serif;
}

.menu {
	text-align: right;
}

.ui.secondary.menu .item {
	padding: 1em;
}

.ui.secondary.menu {
	margin-right: 0;
}

/* degradability, see http://bitsofco.de/styling-broken-images */
img {
	font-family: inherit;
}

a {
	color: inherit;
}

a i.icon {
	text-decoration: none;
}

blockquote {
	color: #666;
	border-left: .2em solid #999;
	margin-left: 0;
	padding-left: 2em;
}

.cta {
	cursor: pointer;
	font-weight: bold;
	text-decoration: none;
}

.primary.cta, .secondary.cta {
	font-size: 1.2rem;
	padding: .75em;
	margin: .75em;
}

.primary.investigation.cta {
	color: white;
}

a.secondary.cta {
	background-color: transparent;
}

.cta:hover, .cta:focus {
	text-decoration: underline;
}

body > a, body > footer a {
	text-decoration: none;
}

header {
	background-color: #FEFEFE;
	padding: 1em;
}

header > nav.ui.secondary.menu {
	background-image: url(/img/marianne.svg);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: .8em;
}

#logo {
	color: transparent;
	background-image: url(/img/logo.svg);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: left center;
	padding-right: 1.5em;
}

.ui.container.padded, section {
	padding: 3em 0;
}

body > footer {
	font-size: 70%;
	padding: 1em;
	color: #FFF;
	background-color: #26353f;
	text-shadow: none;
}

body > footer .subscribe form {
	margin: 2em 0 3em 0;
}

body > footer .links {
	margin: 2em 0;
}

body > footer ul {
	margin: 0;
	padding: 0 3em;
}

body > footer li {
	list-style-type: none;
	display: inline-block;
	width: 30%;
	text-align: left;
	margin-bottom: .5em;
}

body > footer li a {
	margin-left: .5em;
}

body > footer li a:hover {
	text-decoration: underline;
}

.investigation {
	background-color: #1b91a3;
}

.construction {
	background-color: #067b94;
}

.consolidation {
	background-color: #04677c;
}

.passation {
	background-color: #067071;
}

.death {
	background-color: #5c5151;
}

.retirement {
	background-color: #b3b4b6;
}

.success {
	background-color: #ffd700;
}

a.ui.card {
	text-decoration: none;
	color: inherit;
	cursor: pointer;
}

h1.site-description {
	text-align: center;
	text-transform: uppercase;
	padding: 1em 0;
	font-weight: normal;
}

#masthead {
	background-size: cover;
	background-position: bottom center;
	background-attachment: fixed;
	padding: 5em;
	color: white;
	letter-spacing: .05em;
	background-color: #CCC;
	box-shadow: inset 0em 0em 1em #666;
	background-blend-mode: darken;
}

#masthead h1 {
	text-transform: uppercase;
	text-align: left;
	font-weight: bold;
	line-height: 1.25;
	font-size: 300%;
	max-width: 20em;
	margin-top: 0;
	text-shadow: 0 0 .5em #666;
	padding: 0;
}

.ui.text.container {
	padding: 1em 0;
}

@media (min-width: 100em) {
	#masthead {
		font-size: 120%;
		padding: 14em;
	}
}

@media (max-width: 50em) {
	header {
		background-position: 0;
		font-size: 60%;
		padding: 0;
	}

	footer li {
		width: 100%;
		text-align: center;
	}

	#masthead {
		padding: 2em;
	}

	.large.screen.only {
		display: none !important;
	}
}

@media (max-width: 34em) {
	#masthead {
		padding: 1em 0;
	}

	#masthead h1 {
		font-size: 200%;
		text-align: center;
	}

	.ui.action.input {
		display: block;
	}

	.ui.horizontal.divider {
		white-space: normal;
	}
}

iframe {
	border-width: 0px;
	width: 100%;
}
