---
# Front matter comment to ensure Jekyll properly reads file.
---

// Imports
@import "theme";
@import "header";

/* degradability, see http://bitsofco.de/styling-broken-images */
img {
    font-family: inherit;
}

a i.icon {
    text-decoration: none;
}

.investigation {
    background-color: #1a85ff;
}

blockquote {
    color: $theme-grey-text;
    border-left: .2em solid $theme-border-grey;
    margin-left: 0;
    padding-left: 2em;
}

.cta {
    cursor: pointer;
    font-weight: bold;
    text-decoration: none;
}

.primary.cta, .secondary.cta {
    font-size: 1.2rem;
    padding: .75em;
    margin: .75em;
}

a.secondary.cta {
    background-color: transparent;
}

.cta:hover, .cta:focus {
    text-decoration: underline;
}

body > a {
    text-decoration: none;
}

.ui.container.padded, section {
    padding: 3em 0;
}

.construction {
    background-color: #006be6;
}

.consolidation {
    background-color: #0053B3;
}


.acceleration {
    background-color: #04677c;
}

.death {
    color: #000;
    background-color: #8393a7;
}

.retirement {
    color: #111;
    background-color: #adb9c9;
}

.consolidation {

    color: #222;
    background-color: #03bd5b;
}

h1.site-description {
    text-align: center;
    text-transform: uppercase;
    padding: 1em 0;
}

iframe {
    border-width: 0px;
    width: 100%;
}

.screenreader-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}

.subtitle {
    margin-top: -30px;
}

.external-link {
    color: green;
}

.hero {
  height: 38vh;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero__container {
  z-index: 10;
}

.hero img {
  width: 100%;
  filter: brightness(0.5);
  position: absolute;
  z-index: 5;
}

.grid {
  display: flex;
  flex-flow: row wrap;
  margin: 0 -1em;
}

.grid .card {
  overflow: initial;
  margin: 1em;
  min-width: 30%;
  max-width: 100%;
  width: 100%;
  word-wrap: break-word;
}

@media (max-width: 399px) {
  .grid {
    flex-direction: column;
    margin: 0;
  }

  .grid .card {
    margin: 0;
  }

  .grid .card + .card {
    margin-top: 1em;
  }
}

@supports (display: grid) {
  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 30px;
    margin-top: 25px;
    justify-items: center;
    justify-content: space-evenly;
  }

  .grid .card {
    margin: 0;
  }
}

a.card,
footer.footer a {
  text-decoration: none;
}

footer.footer a,
footer.footer a:hover,
footer.footer a:focus,
footer.footer a:visited,
footer.footer a:active {
    color: white;
}

@media (max-width: 999px) {
    .footer .container {
        flex-direction: column;
    }
}

.card__cover {
    height: 200px;
}
