html {
	height: 100%;
}

body {
	position: relative;
	padding: 0;
	display: flex;
	height: 100%;
	flex-direction: column;
	background-color: #F3F3F3;
}

header, footer {
	flex: none;
}

main {
	flex: 1 0 auto;
	width: 100%;
	z-index: 2;
	background-color: #F3F3F3;
}

body, .menu {
	font-family: "Century Gothic", "Gilles Sans", "Open Sans", "Helvetica Neue", "Arial", sans-serif;
}

.menu {
	text-align: right;
}

.ui.secondary.menu .item {
	padding: 1em;
}

.ui.secondary.menu {
	margin-right: 0;
}

/* degradability, see http://bitsofco.de/styling-broken-images */
img {
	font-family: inherit;
}

a {
	color: inherit;
}

a i.icon {
	text-decoration: none;
}

blockquote {
	color: #666;
	border-left: .2em solid #999;
	margin-left: 0;
	padding-left: 2em;
}

.cta {
	cursor: pointer;
	font-weight: bold;
	text-decoration: none;
}

.primary.cta, .secondary.cta {
	font-size: 1.2rem;
	padding: .75em;
	margin: .75em;
}

.primary.investigation.cta {
	color: white;
}

a.secondary.cta {
	background-color: transparent;
}

.cta:hover, .cta:focus {
	text-decoration: underline;
}

body > a, body > footer a {
	text-decoration: none;
}

header {
	background-color: #FEFEFE;
	padding: 1em;
	z-index: 2;
}

header > nav.ui.secondary.menu {
	background-image: url(/img/marianne.svg);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: .8em;
}

#logo {
	color: transparent;
	background-image: url(/img/logo.svg);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: left center;
	padding-right: 1.5em;
}

.ui.container.padded, section {
	padding: 3em 0;
}

body > footer {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	flex-direction: column;
	z-index: 0;
}

.footer-space {
	height: 451px;
	position: relative;
	z-index: -2;
	pointer-events: none;
}

@media (max-width: 414px) {
	.footer-space {
		height: 392px;
	}
}
@media (max-width: 768px) {
	.footer-space {
		height: 466px;
	}
}
@media (max-width: 1024px) {
	.footer-space {
		height: 490px;
	}
}
@media (max-width: 1280px) {
	.footer-space {
		height: 512px;
	}
}

body > footer .footer-main {
	background: #26353f;
	color: #FFF;
	bottom: 0;
	width: 100%;
	position: fixed;
	z-index: -1;
	font-size: 70%;
	text-shadow: none;
	will-change: transform;
	-webkit-backface-visibility: hidden;
	-webkit-transform: translate3d(0,0,0);
}

@media (max-width: 414px) {
	body > footer .subscribe {
			padding: 56px 0;
	}
}
@media (max-width: 768px) {
	body > footer .subscribe {
			padding: 88px 0;
	}
}
@media (max-width: 1024px) {
	body > footer .subscribe {
			padding: 104px 0;
	}
}
@media (max-width: 1280px) {
	body > footer .subscribe {
			padding: 116px 0;
	}
}

body > footer .subscribe {
	padding: 120px 0;
}

body > footer .subscribe h2 {
	text-align: center;
	margin: 15px 0;
}

body > footer .subscribe form {
	margin: 0 auto;
	max-width: 420px;
	width: 100%;
	position: relative;
}

body > footer .subscribe form label {
	white-space: nowrap;
	text-overflow: ellipsis;
	padding: 8px 0;
	display: block;
	cursor: pointer;
	overflow: hidden;
	position: absolute;
	top: 0;
	right: 0;
	height: 100%;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	align-items: center;
	padding: 24px;
}

body > footer .subscribe form input[type=submit] {
	display: none;
}

body > footer .subscribe form input[type=email] {
	transition: all .25s ease-in-out;
	width: 100%;
	border: none;
	outline: none;
	padding: 16px 64px 16px 20px;
	background-color: #f6f8fe;
	font: inherit;
	line-height: 1.6;
	color: #5c5f6e;
	border-radius: 2px;
}

body > footer .social-links {
	display: flex;
	justify-content: center;
	margin-top: 15px;
}

body > footer .social-links a {
	margin-right: 30px;
}

body > footer .social-links a:last-child {
	margin-right: 0;
}

body > footer .links {
	margin-bottom: 2em;
	display: flex;
	justify-content: center;
}

body > footer ul {
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
  margin-right: 50px;
}

body > footer ul:last-child {
  margin-right: 0;
}

body > footer li {
	list-style-type: none;
	display: inline-block;
	margin-bottom: .5em;
}

body > footer i.icon {
	color: #717d86;
	margin-right: .5em;
}

@media (max-width: 768px) {
	body > footer li i.icon {
		display: none;
	}

	body > footer li {
		font-size: 0.9em;
		line-height: 1.2em;
	}
}

body > footer li a:hover {
	text-decoration: underline;
}

.investigation {
	background-color: #1b91a3;
}

.construction {
	background-color: #067b94;
}

.consolidation {
	background-color: #04677c;
}

.passation {
	background-color: #067071;
}

.death {
	background-color: #5c5151;
}

.retirement {
	background-color: #b3b4b6;
}

.success {
	background-color: #ffd700;
}

a.ui.card {
	text-decoration: none;
	color: inherit;
	cursor: pointer;
}

h1.site-description {
	text-align: center;
	text-transform: uppercase;
	padding: 1em 0;
	font-weight: normal;
}

#masthead {
	background-size: cover;
	background-position: bottom center;
	background-attachment: fixed;
	padding: 5em;
	color: white;
	letter-spacing: .05em;
	background-color: #CCC;
	box-shadow: inset 0em 0em 1em #666;
	background-blend-mode: darken;
}

#masthead h1 {
	text-transform: uppercase;
	text-align: left;
	font-weight: bold;
	line-height: 1.25;
	font-size: 300%;
	max-width: 20em;
	margin-top: 0;
	text-shadow: 0 0 .5em #666;
	padding: 0;
}

.ui.text.container {
	padding: 1em 0;
}

@media (min-width: 100em) {
	#masthead {
		font-size: 120%;
		padding: 14em;
	}
}

@media (max-width: 50em) {
	header {
		background-position: 0;
		font-size: 60%;
		padding: 0;
	}

	#masthead {
		padding: 2em;
	}

	.large.screen.only {
		display: none !important;
	}
}

@media (max-width: 34em) {
	#masthead {
		padding: 1em 0;
	}

	#masthead h1 {
		font-size: 200%;
		text-align: center;
	}

	.ui.action.input {
		display: block;
	}

	.ui.horizontal.divider {
		white-space: normal;
	}
}

iframe {
	border-width: 0px;
	width: 100%;
}
