body {
	font-family: "Century Gothic", "Open Sans", "Gilles Sans", "Arial", "Helvetica Neue", sans-serif;
	background-color: #EEE;
	max-width: 60rem;
	margin: auto;
}

body > a {
	text-decoration: none;
	color: inherit;
}

header {
	background-image: url(/img/marianne.svg);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: .8em;
	background-color: #FEFEFE;
	color: #555;
}

header h1 {
	font-size: 100%;
	font-weight: normal;
	text-align: right;
	padding: .8em;
	margin: 0;
}

.investigation {
	background-color: #912b88;
}

.construction {
	background-color: #d53880;
}

.consolidation {
	background-color: #f47738;
}

.passation {
	background-color: #85994b;
}

.death {
	background-color: #444;
}

.retirement {
	background-color: #bfc1c3;
}

.success {
	background-color: gold;
}


@media (max-width: 50em) {
	header {
		background-position: 0;
		font-size: 60%;
		padding-left: 2em;
	}
}
