body {
	padding-top: 8em;
	max-width: 60em;
	margin: auto;

	font-family: "Century Gothic", "Open Sans", "Gilles Sans", "Arial", "Helvetica Neue", sans-serif;
	background-color: #EFEFEF;
}

header {
	position: fixed;
	width: 100%;
	left: 0;
	top: 0;
	padding-right: 1em;
	padding-left: 1em;
	padding-bottom: 2em;
	box-sizing: border-box;

	background-color: #333;
	background-color: rgba(0, 0, 0, .6);
	-webkit-backdrop-filter: blur(10px);
	color: white;
}

header a {
	color: inherit;
}

#counters {
	display: flex;
	list-style: none;
	padding: 0;
}

.counter {
	flex: 1;
	text-align: center;
	padding: 1em;
}

.counter--count {
	font-size: 250%;
	font-weight: bold;
}

.counter i {
	display: block;
	font-size: 60%;
	font-style: italic;
	opacity: .9;
}

.discovery {
	background-color: #912b88;
}

.alpha {
	background-color: #d53880;
}

.beta {
	background-color: #f47738;
}

.live {
	background-color: #85994b;
}

.retirement {
	background-color: #bfc1c3;
}

@media (max-height: 50em) {
	header {
		position: absolute;
	}
}
