.vevent .summary {
    font-weight: bold;
}

.post-container {
    background-color: white;
}

.post {
    letter-spacing: 0;
    font-weight: 400;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -moz-font-feature-settings: "liga" on;
    color: #222;
    font-size: 112%;
    line-height: 1.5;
}

.post img {
    margin: auto;
    display: block;
    max-width: 100%;
}
