---
title: Annonces
menu_index: 4
---

<section class="ui container">
	<div class="ui segments">
		{% for post in site.posts %}
			<div class="ui segment">
				{% if post.category == 'evenement' %}
					Retrouvez-nous le <time datetime="{{ post.start }}"></time> pour <a href="{{ post.url }}">{{ post.title }}</a> ({{ post.location }}).
				{% elsif post.startup %}
					{% capture id %}/startup/{{ post.startup }}{% endcapture %}
					{% for currentStartup in site.startup %}
						{% if currentStartup.id == id %} {% comment %} where query doesn't work on id {% endcomment %}
							{% assign startupTitle = currentStartup.title %}
						{% endif %}
					{% endfor %}
					[{{ startupTitle }}] <a href="{{ post.url }}">{{ post.title }}</a>
				{% else %}
					<a href="{{ post.url }}">{{ post.title }}</a>
				{% endif %}
			</div>
		{% endfor %}
	</div>
</section>
