---
title: La communauté
additional_js:
  - https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.2.1/Chart.bundle.min.js
  - equipe
---
<section class="ui four stackable doubling cards container">
	<h2 class="ui divider horizontal">La communauté des Startups d'État</h2>

	{% for person in site.author %}
		{% unless person.end %}
			{% include author.html description=person %}
		{% endunless %}
	{% endfor %}

	<h2 class="ui divider horizontal">Évolution des effectifs</h2>
	<canvas width="768" height="400"></canvas>

	<h2 class="ui divider horizontal">Les ancien·ne·s</h2>

	{% for person in site.author %}
		{% if person.end %}
			{% include author.html description=person %}
		{% endif %}
	{% endfor %}
</section>

<script type="text/javascript">
	var starts = [],
		ends = [];

	{% for person in site.author %}
	starts.push('{{ person.start }}');
	ends.push('{{ person.end }}');
	{% endfor %}
</script>
