---
title: La communauté
additional_js:
  - https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.2.1/Chart.bundle.min.js
  - equipe
---
{% capture build_date %}{{ site.time | date:"%Y-%m-%d" }}{% endcapture %}

<section class="ui four stackable doubling cards container">
	<h2 class="ui divider horizontal">La communauté des Startups d'État</h2>

	{% for person in site.author %}
		{% capture end_date_as_string %}{{ person.end }}{% endcapture %}
		{% if end_date_as_string == '' or end_date_as_string > build_date %}
			{% include author.html description=person %}
		{% endif %}
	{% endfor %}

	<h2 id="effectifs" class="ui divider horizontal">Évolution des effectifs</h2>
	<canvas width="768" height="400"></canvas>

	<h2 id="alumni" class="ui divider horizontal">Les ancien·ne·s</h2>

	{% for person in site.author %}
		{% capture end_date_as_string %}{{ person.end }}{% endcapture %}
		{% if end_date_as_string != '' and end_date_as_string <= build_date %}
			{% include author.html description=person %}
		{% endif %}
	{% endfor %}
</section>

<script type="text/javascript">
(function() {
	window.buildDate = '{{ build_date }}';
	window.data = [];

	{% for person in site.author %}
		{% if person.start %}
			window.data.push({
				date: '{{ person.start }}',
				increment: 1
			});
		{% endif %}
		{% if person.end %}
			window.data.push({
				date: '{{ person.end }}',
				increment: -1
			});
		{% endif %}
	{% endfor %}
})();
</script>
