---
title: Toute nos Startups d'État
additional_css: portfolio
---

<h2>
	{{ site.description }}.<br/>
	Vous trouverez ici tous les services créés avec <a href="{{ site.baseurl }}#methode">notre méthode</a>.
</h2>

<section id="dashboard">
	<ol class="counter--incubation">
		{% for phase in site.phases.incubation %}
			<li class="counter {{ phase[0] }}">
				<span class="counter--count">{{ site.startup | where:'status',phase[0] | size }}</span>
				<i>startups en</i>
				<span class="tooltip counter--name" title="{{ phase[1].description }}">{{ phase[1].name }}</span>
			</li>
		{% endfor %}

		<li>
			<ul class="counter--endgame">
				{% for phase in site.phases.endgame %}
					<li class="counter {{ phase[0] }}">
						<span class="counter--count">{{ site.startup | where:'status',phase[0] | size }}</span>

						<span class="tooltip counter--name" title="{{ phase[1].description }}">{{ phase[1].name.plural }}</span>
					</li>
				{% endfor %}
			</ul>
		</li>
	</ol>
</section>

<section id="list" class="ui two stackable cards container">
	<h2 class="ui divider horizontal">Toutes nos Startups d'État</h2>

	{% for startup in site.startup %}
		{% include startup-card.html description=startup %}
	{% endfor %}
</section>
