.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
  grid-gap: 2em;
}

.article__author {
  width: 100%;
}

.card a {
  text-decoration: none;
}

.grid.alumni .article__author.panel {
    color: #53657d;
    background-color: #c9d3df;
}

.grid.alumni .card__cover img {
    filter: sepia(100%);
}

.grid.alumni .article__author.panel.inactive img:hover {
    filter: sepia(0%);
}

.grid .panel + .panel {
    margin-left: 0;
}

.article__author a {
  text-decoration: none;
}
