/* Modifications communes */
/* Supprimer la déco des liens */

.card a {
  text-decoration: none;
}

/* --- */
/* Page Community */
.alumni .card__cover img {
    filter: sepia(100%);
}

.alumni .card__cover img:hover {
    filter: sepia(0%)
}

/* --- */
/* Page Jobs */

.jobs .grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 1em;
  margin-top: 1em;
  justify-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

/* Réduire la taille des extra */

.jobs .card__extra {
  padding: 0.25em;
}

.jobs .card__extra p {
  text-align: center;
  margin-top: 0.25em;
  margin-bottom: 0.25em;
}

/* Post pourvu */

.jobs .closed img {
  filter: grayscale(100%);
}

.jobs .closed img:hover {
  filter: grayscale(0%);
}

/* F.R.I.E.N.D.S */

.jobs .friend {
  background-color: #ebeff3;
}

.jobs .card__friend {
  padding: 0em;
  text-align: center;
}

/* ---*/
/* Startups */

/* Plus de gap entre les startups */

.startups.grid {
  grid-gap: 2em;
}
