/* Modifications communes */
/* Supprimer la déco des liens */

.card a {
  text-decoration: none;
}

/* --- */
/* Page Community */
.alumni .card__cover img {
    filter: sepia(100%);
}

.alumni .card__cover img:hover {
    filter: sepia(0%)
}

/* --- */
/* Page Startups */
.container.startup-lists {
    max-width: 90%;
    width: 90%;
}

.startup-lists ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 5em;
  justify-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.startup-lists ul li {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.startup-lists__counter {
    font-size: 2em;
    font-weight: bold;
    margin: 10px 0;
}

.startup-lists__label {
    font-weight: bold;
    font-size: 1.2em;
}

.startup-lists__description {
    color: #555;
    text-align: center;
}

.startup-lists__link,
.startup-lists__link:visited {
    background-color: #ebeff3;
    color: #53667d;
    padding: 10px 20px;
    border-radius: 20px;
    text-decoration: none;
}

.startup-lists__link:hover,
.startup-lists__link:focus,
.startup-lists__link:active {
    background-color: #d7e0e8;
    color: #53667d;
    transition: none;
}
/* --- */
/* Page Jobs */

.jobs .grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 1em;
  margin-top: 1em;
  justify-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

/* Réduire la taille des extra */

.jobs .card__extra {
  padding: 0.25em;
}

.jobs .card__extra p {
  text-align: center;
  margin-top: 0.25em;
  margin-bottom: 0.25em;
}

/* Post pourvu */

.jobs .closed img {
  filter: grayscale(100%);
}

.jobs .closed img:hover {
  filter: grayscale(0%);
}

/* F.R.I.E.N.D.S */

.jobs .friend {
  background-color: #ebeff3;
}

.jobs .card__friend {
  padding: 0em;
  text-align: center;
}

/* ---*/
/* Startups */

/* Plus de gap entre les startups */

.startups.grid {
  grid-gap: 2em;
}
