.home-team-animation-container {
  width: 100%;
  position: relative;
}

.home-team-animation-background {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: all 0.5s ease-out;
  max-height: 200px;
}

.home-team-animation-foreground {
  position: relative;
  width: 100%;
  height: 100%;
  max-height: 200px;
}

.home-team-animation-container:hover .home-team-animation-background {
  transform: scale(1.1);
}

.home-hero-anim {
  position: relative;
}
#hero-anim-background {
  width: 70%;
  height: 70%;
}
#hero-anim-hand-1,
#hero-anim-hand-1-shape,
#hero-anim-hand-2,
#hero-anim-hand-3,
#hero-anim-hand-1-container {
  position: absolute;
  transition: all 0.5s ease-out;
}

#hero-anim-hand-1 {
  top: -70px;
  right: -130px;
}

#hero-anim-hand-1-container {
  position: absolute;
  top: -10px;
  right: 50px;
}

#hero-anim-hand-1-shape {
  /* animation: spin 4s linear infinite; */
  right: 85px;
  top: 35px;
}

#hero-anim-hand-2 {
  top: 100px;
  right: -50px;
}

#hero-anim-hand-3 {
  top: 200px;
  right: -70px;
}

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@media (max-width: 749px) {
  .home-hero-anim {
    display: none;
  }
  #hero-anim-hand-1,
  #hero-anim-hand-1-shape,
  #hero-anim-hand-2,
  #hero-anim-hand-3,
  #hero-anim-hand-1-container {
    display: none;
  }
  .home-team-animation-background {
    max-height: 130px;
  }

  .home-team-animation-foreground {
    max-height: 130px;
  }
}
