.home-section-blue {
    background: linear-gradient(270.3deg, rgba(123, 97, 255, 0.46) 3.25%, rgba(123, 97, 255, 0.63) 55.33%, rgba(123, 97, 255, 0.39) 99.82%),
    linear-gradient(0deg, #00006D, #00006D);
}

.home-section-blue h1,
.home-section-blue h2,
.home-section-blue h3:not(.fr-card__title),
.home-section-blue h4:not(.fr-card__title),
.home-section-blue .home-section-description {
    color: #fff;
}

.home-section-blue svg {
    max-height: 200px;
    margin-left: auto;
    margin-right: auto;
}

.home-section-blue h3.fr-card__title {
    text-align: center;
}

.home-section-main h1 {
    color: white;
    text-align: left;
    margin-bottom: 1.2em;
}

.home-section-main-animation {
    width: 100%;
    height: 100%;
}

.home-button-white {
    background-color: white;
    border-color: white;
    box-shadow: inset 0 0 0 1px white;
}

.home-button-white-border {
    border-color: white;
    box-shadow: inset 0 0 0 1px white;
    color: white;
}

.home-section-title,
.home-section-description {
    text-align: center;
}

.home-section-principle-list-item {
    display: flex;
}

.home-section-principle-animation {
    width: 100%;
    height: 100%;
}

.home-section-principle-list-item .home-section-principle-list-item-number {
   font-weight: bold;
   font-size: 3.5em;
   margin-right: 0.5em;
}

.home-section-principle-list-item .home-section-principle-list-item-content {
    font-size: 1.2em;
 }

.home-section-principle .row {
    background-color: #F9F8F6
}

.home-team-animation-container {
    width: 100%;
    max-height: 200px;
    position: relative;
}

.home-team-animation-background {
    position: absolute;
    width: 100%;
    height: 100%;
}

.home-team-animation-foreground {
    position: relative;
    width: 100%;
    height: 100%;
}
