
/*
.lpintra-image-container {
    text-align: center;
}

*/

.landing-intra-steps {
    width: 100%;
}

.landing-intra-main-anim object {
    width: 100%;
    max-width: 300px;
}

.card-feature{
    max-width: 275px;
}

.section-feature{
    justify-content: space-between;
    display: flex;
    padding: 1em;
}
