/* Supprimer la déco des liens des phases */

.side-pane__link {
  text-decoration: none;
}

/* Augmenter l'espace de présentation */

.main-pane {
  padding: 1em 2em;
  background: #fff;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

@media (min-width: 900px) {
  .main-pane .markdown {
    width: 100%;
  }

  .side-pane {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 250px;
            flex: 0 0 250px;
  }
}

.sticky {
  position: sticky;
  top: 0;
}

@media (max-width: 749px) {
  .sticky {
    position: relative;
  }
}
