
<!-- Matomo data.gouv -->
<script type="text/javascript">
  var _paq = _paq || [];
  /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="//stats.data.gouv.fr/";
    _paq.push(['setTrackerUrl', u+'piwik.php']);
    _paq.push(['setSiteId', '21']);
      <!-- Matomo beta -->
     var secondaryTracker = 'https://stats.beta.gouv.fr/';
     var secondaryWebsiteId = '1';
     // Also send all of the tracking data to the new Matomo server
     _paq.push(['addTracker', secondaryTracker, secondaryWebsiteId]);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<!-- End Matomo data.gouv Code -->
