{% comment %}
  Appeler cette page avec en paramètre authors une liste d'identifiants d'auteurs
  ex : {% include authors.html authors=page.authors %}
{% endcomment %}

<div class="article__author-list">
  {% for authors in include.authors %}
  {% capture target %}/authors/{{ authors }}{% endcapture %}
  {% assign author = site.authors | where: "id", target | first %}
  <div class="article__author panel">
    <div class="article__author-info">
        <div class="article__author-name">{{ author.fullname }}</div>
        <div class="article__author-role">{{ author.role }}</div>
    </div>
      <img alt="" src="{% if author.avatar %}{{ author.avatar }}{% else %}/img{{ target }}.jpg{% endif %}" />
      <div class="article__author-description">
        {% if author.link %}<a href="{{ author.link }}" target="_blank" rel="noopener">{% endif %}
          {{ author.content | markdownify }}
        {% if author.link %}</a>{% endif %}
      </div>
  </div>
  {% endfor %}
</div>
