{% if include.description.link %}
<a class="ui card author" {% if include.description.link %} href="{{ include.description.link }}" target="_blank" rel="noopener" {% endif %}>
{% else %}
<div class="ui card author">
{% endif %}
	<div id="{{ include.description.id | replace:'/author/','' }}" class="image">
		{% if include.description.avatar %}
			<img alt="" src="{{ include.description.avatar }}" />
		{% else %}
			<img alt="" src="{{ site.baseurl }}img{{ include.description.id }}.jpg" />
		{% endif %}
	</div>
	<div class="content">
		<div class="header">{{ include.description.fullname }}</div>
		<div class="meta">{{ include.description.role }}</div>
		<div class="description">
			{{ include.description.content }}
		</div>
	</div>
{% if include.description.link %}
</a>
{% else %}
</div>
{% endif %}
