{%- comment -%}
  S'appelle avec un author. On peut spécifier force=true pour forcer une image.
  Ex : {%- include avatar.html author=author -%}
{%- endcomment -%}

{%- if include.rounded -%}
  {%- assign img_class = "lazy-load avatar-rounded" -%}
{%- else -%}
  {%- assign img_class = "lazy-load" -%}
{%- endif -%}

{%- assign author_id = include.author.id | remove: '/authors/' -%}
{%- assign screenshot_files = site.static_files | where: "authors_img", true -%}
{%- assign screenshot_file = screenshot_files | where: 'basename', author_id | first -%}

<div class="avatar fr-py-2w">
  {%- if screenshot_file -%}
    {%- assign screenshot_path = screenshot_file.path -%}
    <a class="{{ img_class }}" href="{{ screenshot_path }}"></a>
  {%- elsif include.author.avatar -%}
    <a class="{{ img_class }}" href="{{ include.author.avatar }}"></a>
  {%- elsif include.author.github -%}
    {%- capture avatarGithub -%}
      https://avatars3.githubusercontent.com/{{include.author.github}}?s=600
    {%- endcapture -%}
    <a class="{{ img_class }}" href="{{ avatarGithub }}"></a>
  {%- elsif include.force -%}
    {%- assign screenshot_path = "/img/logo-generique-startup-carre-2019.jpg" -%}
    <a class="{{ img_class }}" href="{{ screenshot_path }}"></a>
  {%- endif -%}
</div>
