{%- comment -%}
  Appeler cette page avec un author
  Ex : {%- include card-community.html author=author -%}
{%- endcomment -%}

{%- assign author= include.author -%}

{%- comment -%}
  Détecter si l'author est actif ou non. Par défaut, oui.
{%- endcomment -%}

{%- if author.missions.last.end -%}
  {%- capture timestampNow -%}{{ 'now' | date: '%s' }}{%- endcapture -%}
  {%- capture authorEndDate -%}{{ author.missions.last.end | date: '%s' }}{%- endcapture -%}
{%- endif -%}

<div class="fr-card fr-card--no-arrow fr-card__img__rounded">
  <div class="fr-card__img">
    {%- include avatar.html author=author force=true rounded=true -%}
  </div>
  <div class="fr-card__body">
    <h3 class="fr-card__title">
        {%- if author.link -%}
          <a class="fr-card__link" href="{{ author.link }}" target="_blank" rel="noopener">{{ author.fullname }}</a>
        {%- else -%}
          {{ author.fullname }}
        {%- endif -%}
    </h3>
    <p class="fr-card__detail">
      {%- if timestampNow > authorEndDate -%}
        Alumni
      {%- else -%}
        {{ author.role }}
      {%- endif -%}
    </p>
    {%- if author.content -%}
    <p class="fr-card__desc">{{ author.content | strip_html }}</p>
    {%- endif -%}


  {%- assign total_startups = [] -%}
  {%- if author.startups -%}
      {%- assign total_startups = total_startups | concat: author.startups -%}
  {%- endif -%}
  {%- if author.previously -%}
      {%- assign total_startups = total_startups | concat: author.previously -%}
  {%- endif -%}
  {%- assign total_count=total_startups | size -%}
  {%- capture taille_autres -%}{{ total_count | minus:5 }}{%- endcapture -%}

  {%- if total_startups -%}
    <ul class="fr-tags-group">
    {%- for startup in total_startups -%}
      {%- if author.previously contains startup -%}
        {%- assign label_class =  "fr-tag fr-tag--sm fr-tag--inactive" -%}
      {%- else -%}
        {%- assign label_class = "fr-tag fr-tag--sm" -%}
      {%- endif -%}

      {%- if startup == '' or startup == nil -%}
        {%- continue -%}
      {%- endif -%}

      {%- if forloop.index > 5 -%}
        <li>
          <span class="fr-tag--sm">Et {{ taille_autres }} autres</span>
        </li>
        {%- break -%}
      {%- endif -%}

      {%- if startup == "_help_me_" -%}
        {%- continue -%}
      {%- endif -%}
      {%- if startup == "_in_progress_" -%}
        <li>
          <span class="fr-tag--sm">Fiche produit à venir</span>
        </li>
        {%- continue -%}
      {%- endif -%}
      {%- if startup == "_alpha_" -%}
        <li>
          <a href="approche/formation" class="{{ label_class }}" target="_self">Formation Alpha</a>
        </li>
        {%- continue -%}
      {%- endif -%}
      {%- if startup == "_openfisca_" -%}
        <li>
          <a href="https://openfisca.org" class="{{ label_class }}" target="_self">OpenFisca</a>
        </li>
        {%- continue -%}
      {%- endif -%}
      {%- if startup == "_help_me_" -%}
        {%- continue -%}
      {%- endif -%}
      {%- capture startup_id -%}/startups/{{ startup }}{%- endcapture -%}
      {%- assign this_startup = site.startups | where: "id", startup_id | first -%}

      <li>
        <a href="{{ this_startup.url }}" class="{{ label_class }}" target="_self">{{ this_startup.title }}</a>
      </li>
    {%- endfor -%}
    </ul>
  {%- endif -%}
  </div>

</div>
