{% comment %}
  Appeler cette page avec un incubateur.
  Ex : {% include card-incubator.html incubator = incubator %}
{% endcomment %}

<div class="fr-tile fr-enlarge-link fr-tile--horizontal">
  <div class="fr-tile__body">
      <h3 class="fr-tile__title">
          <a class="fr-tile__link" href="/startups/?incubateur={{ incubator.id | remove: '/incubators/' }}">{{ incubator.title }}</a>
      </h3>
      <p class="fr-tile__desc">{{ incubator.owner }}, {{ incubator.address }}</p>
  </div>
  <div class="fr-tile__img">
      <img src="../img/incubators/{{ incubator.logo }}" alt="Logo de {{ incubator.title }}">
  </div>
</div>