{% comment %}
  Appeler cette page avec une startup.
  Ex : {% include card-startup.html startup = startup %}
{% endcomment %}

<div class="fr-card fr-enlarge-link">
    <div class="fr-card__body">
        <h3 class="fr-card__title">
            <a class="fr-card__link" href="{{ startup.url }}" >{{ startup.title | strip_html }}</a>
        </h3>
        {%- if startup.sponsors -%}
            <p class="fr-card__detail">
                {%- for sponsorId in startup.sponsors -%}
                    {% assign sponsor = site.organisations | where: 'id', sponsorId | first %}
                    {% if forloop.index > 1 %} / {% endif %}<abbr title="{{sponsor.name}}">{{sponsor.acronym}}</abbr>
                {%- endfor -%}
            </p>
        {%- endif -%}
        <p class="fr-card__desc">{{ startup.mission | strip_html }}</p>
    </div>
    <div class="fr-card__header">
        <div class="fr-card__img">
            {% include screenshot.html startup=startup %}
        </div>

        {% if startup.events.last.name == "national_impact" %}
        <ul class="fr-badges-group">
            <li>
                <span class="fr-badge fr-badge--success">Service à impact national</span>
            </li>
        </ul>
        {% endif %}
    </div>
</div>


