{%- comment -%}
  Appeler cette page avec un author
  Ex : {%- include card-community.html author=author -%}
{%- endcomment -%}

{%- assign author= include.author -%}

{%- comment -%}
  Détecter si l'author est actif ou non. Par défaut, oui.
{%- endcomment -%}

{% assign empty_array = "" | split: "," %}
{% assign startups = empty_array %}
{%- if author.missions -%}
    {% for mission in author.missions %}
      {% for startup in mission.startups %}
        {% assign startups = startups | push: startup %}
      {% endfor %}
    {% endfor %}
{%- endif -%}

<div class="fr-card fr-card--grey">
  <div class="fr-card__body">
    <div class="fr-card__content">
      <div class="fr-card__start">
        <h3 class="fr-card__title fr-mb-2w">
          {% if author.link.size > 0 %}
            <a href="{{ author.link }}" target="_blank" rel="noopener" title="Site web de {{author.fullname}} - nouvelle fenêtre">{{ author.fullname }}</a>
          {% else %}
            {{ author.fullname }}
          {% endif %}
        </h3>

          {%- if author.role != nil -%}
            <p class="fr-card__detail">{{ author.role }}</p>
          {%- endif -%}

          {%- unless include.hide_details -%}
            {% assign author_content = author.content | strip_newlines | size %}
            {% if author_content > 0 %}
              <p class="fr-card__desc">
                {{ author.content | strip_html }}
              </p>
            {%- endif -%}

            {% assign previously = author.previously | default: empty_array %}
            {% assign all_startups = startups | concat: previously | compact | uniq %}
            {% unless all_startups == empty %}
              <div class="startups">
                <ul class="fr-tags-group">
                  {% for startup in all_startups, limit: 4 %}
                    {% assign startup_id = "/startups/" | append: startup %}
                    {% assign this_startup = site.startups | find: "id", startup_id %}
                    {% if this_startup %}
                      <li>
                        <a class="fr-tag" href="{{ this_startup.url }}" target="_self">{{ this_startup.title }}</a>
                      </li>
                    {% else %}
                      {% continue %}
                    {% endif %}
                  {% endfor %}
                </ul>
              </div>
            {% endunless %}
          {% endunless %}
      </div>
    </div>
  </div>
  <div class="fr-card__header">
    <div class="fr-card__img">
      {%- include avatar.html author=author rounded=true -%}
    </div>
  </div>
</div>
