{% comment %}
Appeler cette page avec un job.
Ex : {% include card-job.html job = job %}
{% endcomment %}

{% assign job = include.job %}

{% assign startup_id = job.startup %}
{% assign startup = site.startups | find: "title", startup_id %}
{% unless startup  %}
  {% capture startup_id %}/startups/{{ job.startup }}{% endcapture %}
  {% assign startup = site.startups | find: "id", startup_id %}
{% endunless %}

<div class="fr-card fr-card--grey fr-enlarge-link fr-card--horizontal hiring fr-mb-5v">
  <div class="fr-card__body">
    <div class="fr-card__content">
      <h4 class="fr-card__title">
        <a href="{{ job.url }}">{{ job.roles }}</a>
      </h4>
      <p class="fr-card__desc">
        {{ job.excerpt | strip_html | truncate: 260 }}
      </p>
      <div class="fr-card__start">
        <p class="fr-card__detail">
          Offre de
          {% if job.friend %}
            {{ job.friend | strip_html }}
          {% else %}
            {{ startup.title | default: "beta.gouv.fr" | strip_html}}
          {% endif %}
        </p>
      </div>
      <div class="fr-card__end">
        {% if startup.incubator %}
          {% capture incubator_id %}/incubateurs/{{ startup.incubator }}{% endcapture %}
          {% assign incubator = site.incubators | find: 'id', incubator_id %}
          <p class="fr-card__detail fr-icon-map-pin-2-line">
            {{ incubator.title }}
          </p>
          <p class="fr-card__detail fr-icon-calendar-line fr-mt-1w">
            Posté le {{ job.date | date: "%d/%m/%Y" }}
          </p>
        {% endif %}

        {% if job.junior %}
          <p class="fr-card__detail fr-icon-seedling-line fr-mt-1w">
            Ouvert aux juniors
          </p>
        {% endif %}

        {% unless job.techno == empty %}
          <ul class="fr-tags-group fr-my-1w">
            {% for techno in job.techno %}
              <li>
                <p class="fr-tag">{{ techno }}</p>
              </li>
            {% endfor %}
          </ul>
        {% endunless %}
      </div>
    </div>
  </div>
  <div class="fr-card__header">
    <div class="fr-card__img">
      {% include screenshot.html startup=startup %}
    </div>
  </div>
</div>
