{% comment %}
  Appeler cette page avec une startup.
  Ex : {% include card-startup.html startup = startup %}
{% endcomment %}

<div class="card">
  <a href="{{ startup.url }}">
    <div class="card__cover">
      {% include screenshot.html startup=startup force=true %}
    </div>
    <div class="card__content">
      <h3 class="startup__title">{{ startup.title | strip_html }}</h3>
      <div class="card__meta">
        {{ startup.owner | strip_html }}
      </div>
      {% if startup.status != 'death'%}
        <p>
          {{ startup.mission | strip_html }}
        </p>
      {% endif %}
    </div>
  </a>
</div>
