{% assign phases = include.phases %}
<ol class="counter--incubation">
    {% for phase in phases.incubation %}
        <li class="counter {{ phase[0] }}">
            <a href="/startups#{{ phase[0] }}">
                <span class="counter--count">{{ site.startup | where:'status',phase[0] | size }}</span>
                <i>{{ phases.startups_in }}</i>
                <span class="counter--name">{{ phase[1].name }}</span>
            </a>
        </li>
    {% endfor %}

    <li>
        <ul class="counter--endgame">
            {% for phase in phases.endgame %}
                <li class="counter {{ phase[0] }}">
                    <a href="/startups#{{ phase[0] }}">
                        <span class="counter--count">{{ site.startup | where:'status',phase[0] | size }}</span>
                        <span class="counter--name">{{ phase[1].name }}</span>
                    </a>
                </li>
            {% endfor %}
        </ul>
    </li>
</ol>
