<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>{% if page.title %}{{ page.title }} — {% endif %}{{ site.title }}</title>
	<meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

	<link rel="stylesheet" type="text/css" class="ui" href="https://oss.maxcdn.com/semantic-ui/2.1.8/components/reset.min.css">
	<link rel="stylesheet" type="text/css" class="ui" href="//oss.maxcdn.com/semantic-ui/2.1.8/components/menu.min.css">
	<link rel="stylesheet" type="text/css" class="ui" href="https://oss.maxcdn.com/semantic-ui/2.1.8/components/container.min.css">
	<link rel="stylesheet" type="text/css" class="ui" href="https://oss.maxcdn.com/semantic-ui/2.1.8/components/grid.min.css">
	<link rel="stylesheet" type="text/css" class="ui" href="https://oss.maxcdn.com/semantic-ui/2.1.8/components/divider.min.css">
	<link rel="stylesheet" type="text/css" class="ui" href="https://oss.maxcdn.com/semantic-ui/2.1.8/components/card.min.css">
	<link rel="stylesheet" type="text/css" class="ui" href="https://oss.maxcdn.com/semantic-ui/2.1.8/components/image.min.css">
	<link rel="stylesheet" type="text/css" class="ui" href="https://oss.maxcdn.com/semantic-ui/2.1.8/components/transition.min.css">
	<link rel="stylesheet" type="text/css" class="ui" href="https://oss.maxcdn.com/semantic-ui/2.1.8/components/icon.min.css">
	<link rel="stylesheet" type="text/css" class="ui" href="https://oss.maxcdn.com/semantic-ui/2.1.8/components/form.min.css">
	<link rel="stylesheet" type="text/css" class="ui" href="https://oss.maxcdn.com/semantic-ui/2.1.8/components/button.min.css">
	<link rel="stylesheet" type="text/css" class="ui" href="https://oss.maxcdn.com/semantic-ui/2.1.8/components/input.min.css">

	<link rel="stylesheet" type="text/css" href="{{ "css/main.css" | prepend: site.baseurl }}">
	<link rel="stylesheet" type="text/css" href="{{ "css/startup-card.css" | prepend: site.baseurl }}">
	<link rel="stylesheet" type="text/css" href="{{ "css/tooltip.css" | prepend: site.baseurl }}">

	{% if page.layout != 'default' %}
	<link rel="stylesheet" type="text/css" href="{{ "css/" | append: page.layout | append: ".css" | prepend: site.baseurl }}">
	{% endif %}
	{% for file in page.additional_css %}
		<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}css/{{ file }}.css">
	{% endfor %}

	<link rel="apple-touch-icon" sizes="57x57" href="{{ site.baseurl }}img/favicons/apple-touch-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="{{ site.baseurl }}img/favicons/apple-touch-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="{{ site.baseurl }}img/favicons/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="{{ site.baseurl }}img/favicons/apple-touch-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="{{ site.baseurl }}img/favicons/apple-touch-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="{{ site.baseurl }}img/favicons/apple-touch-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="{{ site.baseurl }}img/favicons/apple-touch-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="{{ site.baseurl }}img/favicons/apple-touch-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="{{ site.baseurl }}img/favicons/apple-touch-icon-180x180.png">
	<link rel="icon" type="image/png" href="{{ site.baseurl }}img/favicons/favicon-32x32.png" sizes="32x32">
	<link rel="icon" type="image/png" href="{{ site.baseurl }}img/favicons/android-chrome-192x192.png" sizes="192x192">
	<link rel="icon" type="image/png" href="{{ site.baseurl }}img/favicons/favicon-96x96.png" sizes="96x96">
	<link rel="icon" type="image/png" href="{{ site.baseurl }}img/favicons/favicon-16x16.png" sizes="16x16">
	<link rel="manifest" href="{{ site.baseurl }}img/favicons/manifest.json">
	<link rel="mask-icon" href="{{ site.baseurl }}img/favicons/safari-pinned-tab.svg">
	<link rel="shortcut icon" href="{{ site.baseurl }}img/favicons/favicon.ico">
	<meta name="apple-mobile-web-app-title" content="beta.gouv.fr">
	<meta name="application-name" content="beta.gouv.fr">
	<meta name="msapplication-TileColor" content="#042075">
	<meta name="msapplication-TileImage" content="{{ site.baseurl }}img/favicons/mstile-144x144.png">
	<meta name="msapplication-config" content="{{ site.baseurl }}img/favicons/browserconfig.xml">
	<meta name="theme-color" content="#042075">

	<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

	<style type="text/css">
		{% capture mastheadImagePath %}{{ site.baseurl }}img/{{ page.path | replace:'_posts','posts' | replace:'.html','' | replace:'.md','' }}{% endcapture %}
		#masthead, footer::before {
			background-image: url("{{ mastheadImagePath }}.jpg");
		}
		@media (min-width: 1368px) {
			#masthead, footer::before {
				background-image: url("{{ mastheadImagePath }}@2x.jpg"),
									url("{{ mastheadImagePath }}.jpg"); /* fallback */
			}
		}
		@media (min-width: 2736px) {
			#masthead, footer::before {
				background-image: url("{{ mastheadImagePath }}@4x.jpg"),
									url("{{ mastheadImagePath }}.jpg"); /* fallback */
			}
		}
	</style>
</head>
