<header role="banner"  class="fr-header">
  <div class="fr-header__body">
    <div class="fr-container">
      <div class="fr-header__body-row">
        <div class="fr-header__brand fr-enlarge-link">
          <div class="fr-header__brand-top">
            <div class="fr-header__logo">
              <p class="fr-logo">
                République<br>
                Française
              </p>
            </div>

            <div class="fr-header__navbar">
              <button class="fr-btn--search fr-btn" data-fr-opened="false" aria-controls="header-search" id="fr-btn-search-mobile" title="Rechercher">
                  Rechercher
              </button>
              <button class="fr-btn--menu fr-btn" data-fr-opened="false" aria-controls="modal-menu-mobile" aria-haspopup="menu" title="Menu" id="fr-btn-menu-mobile">
                  Menu
              </button>
            </div>
          </div>

          <div class="fr-header__service">
            <a href="/" title="Retour à l’accueil">
              <img src="{{ '/assets/additional/images/logo-betagouvfr.svg' }}" alt="beta.gouv.fr">
            </a>
          </div>
        </div>

        <div class="fr-header__tools">
          <div class="fr-header__tools-links">
            <ul class="fr-btns-group">
              {% for item in site.data.menu.shortcuts %}
              <li class="fr-shortcuts__item">
                {% if item.external == true %}
                  <a class="fr-btn" href="{{ item.url }}" title="{{ item.label }} - nouvelle fenêtre" target="_blank" rel="noopener">{{ item.label }}</a>
                {% else %}
                  <a class="fr-btn--{{ item.icon }} fr-btn" href="{{ item.url }}">{{ item.label }}</a>
                {% endif %}
              </li>
              {% endfor %}
            </ul>
          </div>

          <div class="fr-header__search fr-modal" id="header-search" data-fr-js-modal="true" data-fr-js-header-modal="true" aria-labelledby="button-header-search">
            <div class="fr-container fr-container-lg--fluid">
              <button class="fr-btn--close fr-btn" aria-controls="header-search" id="button-header-search" title="Fermer">
                Fermer
              </button>
              <form id="header-search-main" method="get" action="/recherche" role="search" class="fr-search-bar">
                <label class="fr-label" for="search">
                    Recherche
                </label>
                <input class="fr-input" placeholder="Rechercher" type="search" id="search" name="q">
                <button class="fr-btn" title="Rechercher">
                    Rechercher
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Navigation principale -->
  <div class="fr-header__menu fr-modal" id="modal-menu-mobile" aria-labelledby="fr-btn-menu-mobile">
    <div class="fr-container">
      <button class="fr-link--close fr-link" aria-controls="modal-menu-mobile">Fermer</button>
      <div class="fr-header__menu-links"></div>
      <nav class="fr-nav" id="navigation" role="navigation" aria-label="Menu principal">
          <ul class="fr-nav__list">
                  <li class="fr-nav__item">
                    <button class="fr-nav__btn" aria-expanded="false" aria-controls="menu-program" {% if page.url contains 'approche' %}aria-current="true"{% endif %}>Programme</button>
                    <div class="fr-collapse fr-menu" id="menu-program">
                        <ul class="fr-menu__list">
                            <li>
                                <a class="fr-nav__link" href="/approche" target="_self">Découvrir le programme</a>
                            </li>
                            <li>
                                <a class="fr-nav__link" href="/devenir-intrapreneur" target="_self">Devenir intrapreneur</a>
                            </li>
                            <li>
                              <a class="fr-nav__link" href="/manifeste" target="_self">Découvrir notre manifeste</a>
                          </li>
                        </ul>
                    </div>
                </li>
              {% for item in site.data.menu.nav %}
              {% assign target = site.pages | where:"path",item.target | first %}
              <li class="fr-nav__item {% if target and page.url contains target.url %}fr-nav__item--active{% endif %}">
                  <a class="fr-nav__link" href="{{ target.url }}" {% if target and page.url contains target.url %}aria-current="page"{% endif %}>{{ item.label }}</a>
              </li>
              {% endfor %}
          </ul>
      </nav>
    </div>
  </div>
</header>
