<header role="banner"  class="fr-header">
  <div class="fr-header__body">
    <div class="fr-container">
      <div class="fr-header__body-row">
        <div class="fr-header__brand fr-enlarge-link">
          <div class="fr-header__brand-top">
            <div class="fr-header__logo">
              <p class="fr-logo">
              République
              <br>française
              </p>
            </div>
            
            <div class="fr-header__navbar">
              <button class="fr-btn--menu fr-btn" data-fr-opened="false" aria-controls="modal-833" aria-haspopup="menu" title="Menu">
                  Menu
              </button>
            </div>
          </div>

          <div class="fr-header__service">
            <a href="/" title="Retour à l’accueil">
              <img src="{{ '/assets/additional/images/logo-betagouvfr.svg' }}" alt="beta.gouv.fr" style="width:10.5rem; height:auto;">
            </a>
          </div>
        </div>

        <div class="fr-header__tools">    
          <div class="fr-header__tools-links">
            <ul class="fr-links-group">
              {% for item in site.data.menu.shortcuts %}
              <li class="fr-shortcuts__item">
                <a class="fr-link fr-fi-external-link-line fr-link--icon-right" href="{{ item.url }}" title="{{ item.label }}" target="_blank" rel="noopener">{{ item.label }}</a>
              </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Navigation principale -->
  <div class="fr-header__menu fr-modal" id="modal-833" aria-labelledby="button-834">
    <div class="fr-container">
      <button class="fr-link--close fr-link" aria-controls="modal-833">Fermer</button>
      <div class="fr-header__menu-links"></div>
      <nav class="fr-nav" id="navigation-832" role="navigation" aria-label="Menu principal">
          <ul class="fr-nav__list">
                  <li class="fr-nav__item">
                    <button class="fr-nav__btn" aria-expanded="false" aria-controls="menu-776" aria-current="true">Programme</button>
                    <div class="fr-collapse fr-menu" id="menu-776">
                        <ul class="fr-menu__list">
                            <li>
                                <a class="fr-nav__link" href="/approche" target="_self">Découvrir le programme</a>
                            </li>
                            <li>
                                <a class="fr-nav__link" href="/approche/investigation" target="_self">Identifier le problème à résoudre</a>
                            </li>
                            <li>
                              <a class="fr-nav__link" href="/approche/construction" target="_self">Réaliser un service numérique</a>
                            </li>
                            <li>
                                <a class="fr-nav__link" href="/devenir-intrapreneur/" target="_self">Devenir Intra</a>
                            </li>
                        </ul>
                    </div>
                </li>
              {% for item in site.data.menu.nav %}
              {% assign target = site.pages | where:"path",item.target | first %}
              <li class="fr-nav__item {% if target and page.url contains target.url %}fr-nav__item--active{% endif %}">
                  <a class="fr-nav__link" href="{{ target.url }}" {% if target and page.url contains target.url %}aria-current="page"{% endif %}>{{ item.label }}</a>
              </li>
              {% endfor %}
          </ul>
      </nav>
    </div>
  </div>
</header>
