<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>

    <title>{% if page.title %}{{ layout.title | default: page.title }} — {% endif %}{{ site.title }}</title>
    <meta property="og:title" content="{{ layout.title | default: page.title | default: site.title }}">

    <link rel="stylesheet" type="text/css" media="screen" href="{{ site.url }}{{ "/assets/style/main.css" }}">
    <link rel="stylesheet" type="text/css" media="screen" href="{{ site.url }}{{ "/css/main.css" }}">

    <link rel="canonical" href="{{ page.url | replace:'index.html','' | absolute_url }}" />
    <link rel="alternate" type="application/rss+xml" title="{{ site.title | escape }}" href="{{ "/feed.xml" | relative_url }}" />

    <link type="application/atom+xml" rel="alternate" href="{{ site.url }}/feed.xml" title="{{ site.title }}">

    {% capture description %}{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines }}{% else %}{{ site.description }}{% endif %}{% endcapture %}
    <meta name="description" content="{{ description }}">
    <meta property="og:description" content="{{ description }}">

    {% if page.collection == 'posts' %}
        <meta property="og:type" content="article"> {% comment %} Defaults to `website`, which is fine. {% endcomment %}

        {% capture iso_date %}{{ page.date | date:'%Y-%m-%d' }}{% endcapture %}
        <meta property="date" content="{{ iso_date }}">
        <meta property="article:published_time" content="{{ iso_date }}">

        {% for author in page.authors %}
            <meta property="article:author:username" content="{{ author }}">
        {% endfor %}
    {% endif %}

    {% if page.layout != 'default' and page.layout != 'text' %}
        <link rel="stylesheet" type="text/css" href="/css/{{ page.layout }}.css">
    {% endif %}

    {% for file in page.additional_css %}
        <link rel="stylesheet" type="text/css"
        href="{% if file contains '://' %}{{ file }}{% else %}/css/{{ file }}.css{% endif %}">
    {% endfor %}
    {% capture canonical_url %}{{ site.url }}{{ page.url | replace:'index.html','' }}{% endcapture %}
    <link rel="canonical" href="{{ canonical_url }}">
    <meta property="og:url" content="{{ canonical_url }}">


    {% capture mastheadImagePath %}/img/{{ page.path | replace: '_pages', 'pages' | replace: '_posts', 'posts' | replace: '_startup', 'startup' | remove: '/fr' | remove: '/en' | remove: '.html' | remove: '.md' }}.jpg{% endcapture %}
    <meta name="thumbnail" content="{{ site.url }}{{ mastheadImagePath }}">
    <meta property="og:image" content="{{ site.url }}{{ mastheadImagePath }}">

</head>
