<div class="hero {% if include.date %}article__hero{% endif %}">
  <div class="hero__container">
    {% if include.image %}
      <img src="{{ include.image }}" />
    {% endif %}
    {% if include.date %}
      <div class="article__container">
        <h1 class="article__title">{{ page.title | escape }}</h1>
        <div class="article__meta">Paru le <time>{{ page.date | date_to_long_string }}</time> dans {% assign sortedCategories = page.categories | sort %}{% for categories in sortedCategories %}<a href="/categorie/{{ categories }}">{{ site.data.category[categories].shortname }}</a> {% endfor %}</div>
      </div>
    {% else %}
    <h1 class="hero__title">{{ include.title | escape }}</h1>
    {% endif %}
  </div>
</div>
