<div class="hero__startup fr-container-fluid fr-py-6w">
  <div class="fr-container">
    <div class="fr-grid-row fr-grid-row--gutters">
      <div class="hero__startup-text fr-col-lg-6">
        <h1>{{ include.startup.title | escape }}</h1>

        {% unless include.startup.events == empty %}
          <ul class="fr-pl-0">
            {% for event in include.startup.events %}
              <li style="list-style: none; display: inline-block">{{ event | to_startup_badge }}</li>
            {% endfor %}
          </ul>
        {% endunless %}


        {% if include.startup.mission %}
          <p class="hero__startup__mission fr-mt-3w fr-h3">
            {{ include.startup.mission | escape }}
          </p>
        {% endif %}
        {% if include.startup.link.size > 0 %}
          <p><a href="{{ include.startup.link }}" title="{{ include.startup.link | remove:'www.' | split: '//' | last | split: '/'' | first }} - nouvelle fenêtre" class="fr-link" target="_blank">{{ include.startup.link | remove:'www.' | split: "//" | last | split: "/" | first }}</a></p>
          {% endif %}
          <p class="fr-mt-3w">
            <a class="fr-tag" href="{{ include.phase.documentation_url }}">{{ include.phase.status | phase_badge_label | capitalize }}</a>
          </p>
      </div>
      <div class="fr-col-12 fr-col-lg-5 fr-pl-0 fr-pl-md-4w fr-pb-0">
        <figure class="fr-content-media fr-my-0">
          <div class="fr-content-media__img">
            {% include screenshot.html startup=include.startup %}
          </div>
        </figure>
      </div>
    </div>
  </div>
</div>
