{% if include.description %}
    {% assign description = include.description %}
{% else %}
    {% capture id %}/incubator/{{ include.id }}{% endcapture %}
    {% for incubator in site.incubator %}
        {% if incubator.id == id %} {% comment %} where query doesn't work on id {% endcomment %}
            {% assign description = incubator %}
        {% endif %}
    {% endfor %}
{% endif %}
{% assign shortid = description.id | remove: '/incubator/' %}

<div class="ui fluid card">
    <div class="content">
        <div class="header">{{ description.name }}</div>
        <div class="meta">
            {{ description.owner }}
        </div>

        <div class="description">
            {{ description.content | markdownify }}
        </div>
    </div>
    <div class="extra content">
        {% for startup in description.startups %}

            {% capture currentId %}/startup/{{ startup }}{% endcapture %}

            {% for currentStartup in site.startup %}
                {% if currentStartup.id == currentId %} {% comment %} where query doesn't work on id {% endcomment %}
                    {% if currentStartup.status == "success" %}
                        {% assign isInactive = true %}
                    {% else %}
                        {% assign isInactive = false %}
                    {% endif %}
                    <div class="ui tiny label {% if isInactive %}inactive{% endif %}">
                        <a class="ui" href="{{ currentStartup.url }}">{{ currentStartup.title }}</a>
                    </div>
                {% endif %}
            {% endfor %}
        {% endfor %}
    </div>
    <div class="extra content">
        <a href="{{ description.contact }}">Nous contacter</a>
    </div>
    <div class="extra content">
        <div class="map" id="map_{{shortid}}" data-address="{{ description.adresse }}"></div>
        {{ description.adresse }}
    </div>
</div>
