{% if include.description %}
    {% assign description = include.description %}
{% else %}
    {% capture id %}/incubator/{{ include.id }}{% endcapture %}
    {% for incubator in site.incubator %}
        {% if incubator.id == id %} {% comment %} where query doesn't work on id {% endcomment %}
            {% assign description = incubator %}
        {% endif %}
    {% endfor %}
{% endif %}
{% assign shortid = description.id | remove: '/incubateur/' %}

<a href="{{description.id}}.html" class="ui fluid card">
    <div class="content">
        <div class="header">{{ description.name }}</div>
        <div class="meta">
            {{ description.owner }}
        </div>
    </div>
    <div class="extra content">
        {{ description.adresse }}
    </div>
    <div class="extra content">
        <span>Plan d'accès:</span>
        <div class="map" id="map_{{shortid}}" data-address="{{ description.adresse }}"></div>
    </div>
</a>
