{% if include.job.startup %}
    {% capture id %}/startup/{{ include.job.startup }}{% endcapture %}
    {% for currentStartup in site.startup %}
        {% if currentStartup.id == id %} {% comment %} where query doesn't work on id {% endcomment %}
            {% assign startup = currentStartup %}
        {% endif %}
    {% endfor %}
    {% assign friend = false %}
{% elsif include.job.type == 'friend' %}
    {% assign startup = false %}
    {% assign friend = true %}
{% else %}
    {% assign startup = false %}
    {% assign friend = false %}
{% endif %}

{% if friend %}
<li class="blog-segment blog-segment-friend {{ include.class }}">
    <div class="ad">Nos ami·e·s recrutent</div>
    <div class="content">
{% else %}
<li class="blog-segment {{ include.class }}">
{% endif %}

    <a class="blog-segment-link" title="{{ include.job.title }}" href="{{ include.job.url }}"></a>

    <a class="blog-title-link" href="{{ include.job.url }}">
        {% if startup %}
            {{ startup.title }}
        {% elsif friend %}
            {{ include.job.friend }}
        {% else %}
            beta.gouv.fr
        {% endif %}
        recrute {{ include.job.roles }}
    </a>

    <div class="excerpt-meta-informations">
        <div class="excerpt-parution-date">
            Parue le {{ include.job.date | date: "%d/%m/%Y" }}
        </div>

        {% if include.job.techno %}
            <div class="excerpt-job-techno">{{ job.techno }}
            {% if job.junior %} - juniors bienvenu·e·s{% endif %}
            </div>
        {% endif %}
    </div>

    <div>
        {% if include.job.open %}
            {{ include.job.excerpt }}
        {% else %}
            {{ "**Ce poste a été pourvu.**" | markdownify }}
        {% endif %}
    </div>

    <a href="{{ include.job.url }}">Voir l'offre</a>

    {% if friend %}
    &nbsp;|&nbsp;
    <a class="external-link" href="{{ include.job.externalURL}}">Voir l'offre sur le site de {{ include.job.friend }}</a>
    </div>
    {% endif %}
</li>
