{% assign job = include.job %}

{% capture startup_id %}/startups/{{ job.startup }}{% endcapture %}
{% assign startup = site.startups | where: "id", startup_id | first %}

{% include hero-job.html startup=startup roles=job.roles friend=job.friend %}

{% if job.type == 'friend' %}
  <div class="fr-container">
    <div class="fr-alert fr-alert--info fr-alert--sm fr-mb-1w">
      <p>Une offre à pourvoir chez nos camarades <br /><a href="{{ job.externalURL}}">Voir l'offre sur le site de {{ job.friend }}</a></p>
    </div>
  </div>
{% endif %}

{% if job.open %}
  <div class="fr-container">
    <div class="fr-alert fr-alert--info fr-alert--sm">
      <p>Poste ouvert le <time datetime="{{ job.date | date:'%Y-%m-%d' }}">{{ job.date | date: "%d/%m/%Y" }}</time></p>
    </div>
  </div>
{% else %}
  <div class="fr-container">
    <div class="fr-alert fr-alert--error fr-alert--sm">
      <p>Ce poste a été pourvu depuis son ouverture le <time datetime="{{ job.date | date:'%Y-%m-%d' }}">{{ job.date | date: "%d/%m/%Y" }}</time></p>
    </div>
  </div>
{% endif %}

{% assign split_by_h1 = job.content | split:'<h1' %}
{% assign job.content = split_by_h1 | join: '<h1 class="fr-my-3w fr-mt-4w" ' %}

{% assign split_by_h2 = job.content | split:'<h2' %}
{% assign job.content = split_by_h2 | join: '<h2 class="fr-my-2w fr-mt-4w" ' %}

{% assign split_by_h3 = job.content | split:'<h3' %}
{% assign job.content = split_by_h3 | join: '<h3 class="fr-my-2w fr-mt-3w" ' %}

{% assign split_by_p = job.content | split:'<p' %}
{% assign job.content = split_by_p | join: '<p class="fr-my-2w fr-text" ' %}

{% assign split_by_ul = job.content | split:'<ul' %}
{% assign job.content = split_by_ul | join: '<ul class="fr-pl-4w"' %}

<section class="fr-py-6w">
  {% if job.junior %}
    <div class="fr-container fr-py-6w">
      <div class="fr-highlight">
        Bienvenue aux juniors sur ce poste ! L'équipe assurera votre formation.
      </div>
    </div>
  {% endif %}

  {% if job.techno %}
  <div class="fr-container fr-py-6w">
    <div class="fr-highlight">
      <p>Choix technologiques :</p>
      <ul class="fr-tags-group">
        {% for techno in job.techno %}
        <li class="fr-tag">{{ techno }}</li>
        {% endfor %}
      </ul>
    </div>
  </div>
  {% endif %}

  <div class="fr-container">
    {{ job.content }}
  </div>
</section>

{% if startup %}
<section class="fr-py-6w section-grey">
  <div class="fr-container fr-my-6w">
    <div class="fr-grid-row startups">
      <div class="fr-col-12 fr-col-md-3 fr-mb-2w">
        {% include card-startup.html startup = startup %}
      </div>
    </div>
  </div>
</section>
{% endif %}

<section class="fr-py-6w section-color">
    <div class="fr-container">
      <h2>Participer à la communauté</h2>
      <p>En travaillant pour une Startup d’Etat et de Territoire, vous devenez membre de la communauté beta.gouv. Celle-ci se construit par l’investissement volontaire de ses membres ce qui veut dire que chaque membre peut proposer de nouvelles idées, les mettre en oeuvre ou rejoindre un travail en cours.</p>
      <p>L’engagement dans la communauté peut prendre différentes formes, de faire le café à participer à une équipe transverse en passant par organiser une conférence.</p>
      <p>L’objectif est de faire de beta.gouv une communauté vivante, riche des expériences et de l’engagement de chacun, et qui apporte un cadre de travail stimulant pour ces membres. </p>
      <p>En tant que membre, vous pouvez et êtes invités à vous engager dans la communauté. Si vous avez des questions, n’hésitez pas à les poser lors de votre entretien.</p>
    </div>
</section>
