{% assign startup_id = include.startup.id | remove: '/startup/' %}
{% assign screenshot_files = site.static_files | where_exp:"item", "item.path contains '/startup'" %}
{% assign screenshot_file = screenshot_files | where: 'basename', startup_id | first %}

{% if screenshot_file %}
    {% assign screenshot_path = screenshot_file.path %}
{% else %}
    {% assign screenshot_path = '/img/startup/' | append: startup_id | append: '.png' %}
{% endif %}

<!-- Checks if file exists -->
{% for static_file in site.static_files %}
    {% if static_file.path == screenshot_path %}
        <img class="screenshot" src="{{ screenshot_path }}" title="Interface de {{ include.startup.title }}" alt="">
    {% endif %}
{% endfor %}
