<nav class="fr-sidemenu" role="navigation" aria-label="Menu latéral">
    <img
    src="/img/programme/construction.png" alt="Récapitulatif visuel des phases" class="hidden-mobile" />
    <div class="fr-sidemenu__inner">
        <button class="fr-sidemenu__btn" hidden aria-controls="fr-sidemenu-wrapper" aria-expanded="false">Dans cette rubrique</button>

        <div class="fr-collapse" id="fr-sidemenu-wrapper">
            <ul class="fr-sidemenu__list">
                    <li class="fr-sidemenu__item {% unless page.url contains '/approche/fast' or page.url contains '/approche/formation' %}fr-sidemenu__item--active{% endunless %}">
                    <button class="fr-sidemenu__btn" aria-expanded="{% unless page.url contains '/approche/fast' or page.url contains '/approche/formation' %}true{% else %}false{% endunless %}" aria-controls="fr-sidemenu-item-programme">Phase de réalisation</button>
                    <div class="fr-collapse" id="fr-sidemenu-item-programme">
                        <ul class="fr-sidemenu__list">
                            <!-- <li class="fr-sidemenu__item {% if page.url == '/approche/' %}fr-sidemenu__item--active{% endif %}">
                                <a class="fr-sidemenu__link" href="/approche/" target="_self">Notre approche</a>
                            </li> -->
                            <!-- <li class="fr-sidemenu__item {% if page.url == '/manifeste' %}fr-sidemenu__item--active{% endif %}">
                                <a class="fr-sidemenu__link" href="/manifeste" target="_self">Manifeste</a>
                            </li> -->
                            <!-- <li class="fr-sidemenu__item {% if page.url == '/approche/intrapreneurs' %}fr-sidemenu__item--active{% endif %}">
                                <a class="fr-sidemenu__link" href="/approche/intrapreneurs" target="_self">Intrapreneurs</a>
                            </li> -->
                            <!-- <li class="fr-sidemenu__item {% if page.url == '/approche/sponsors' %}fr-sidemenu__item--active{% endif %}">
                                <a class="fr-sidemenu__link" href="/approche/sponsors" target="_self">Les sponsors</a>
                            </li> -->
                            <!-- <li class="fr-sidemenu__item {% if page.url == '/approche/investigation' %}fr-sidemenu__item--active{% endif %}">
                                <a class="fr-sidemenu__link" href="/approche/investigation" target="_self">Investigation</a>
                            </li> -->
                            <li class="fr-sidemenu__item {% if page.url == '/approche/construction' %}fr-sidemenu__item--active{% endif %}">
                                <a class="fr-sidemenu__link" href="/approche/construction" target="_self">Construction</a>
                            </li>
                            <li class="fr-sidemenu__item {% if page.url == '/approche/acceleration' %}fr-sidemenu__item--active{% endif %}">
                                <a class="fr-sidemenu__link" href="/approche/acceleration" target="_self">Accélération</a>
                            </li>
                            <li class="fr-sidemenu__item {% if page.url == '/approche/transfert' %}fr-sidemenu__item--active{% endif %}">
                                <a class="fr-sidemenu__link" href="/approche/transfert" target="_self">Transfert</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="fr-sidemenu__item {% if page.url contains '/approche/fast' %}fr-sidemenu__item--active{% endif %}">
                    <button class="fr-sidemenu__btn" aria-expanded="{% if page.url contains '/approche/fast' %}true{% else %}false{% endif %}" aria-controls="fr-sidemenu-item-fast">Financement</button>
                    <div class="fr-collapse" id="fr-sidemenu-item-fast">
                        <ul class="fr-sidemenu__list">
                            <li class="fr-sidemenu__item {% if page.url == '/approche/fast' %}fr-sidemenu__item--active{% endif %}">
                                <a class="fr-sidemenu__link" href="/approche/fast" target="_self">Fonds d'accélération (FAST)</a>
                            </li>
                            {% assign fasts = site.fasts | sort: 'order' %}
                            <li class="fr-sidemenu__item {% if page.url contains '-fast' %}fr-sidemenu__item--active{% endif %}">
                                <button class="fr-sidemenu__btn" aria-expanded="{% if page.url contains '/approche/fast' %}true{% else %}false{% endif %}" aria-controls="fr-sidemenu-item-fast-archive">Archive du FAST</button>
                                <div class="fr-collapse" id="fr-sidemenu-item-fast-archive">
                                    <ul class="fr-sidemenu__list">
                                        {% for fast-page in fasts %}
                                        <li class="fr-sidemenu__item {% if page.url == fast-page.url %}fr-sidemenu__item--active{% endif %}">
                                            <a class="fr-sidemenu__link" href="{{ fast-page.url }}" target="_self">{{ fast-page.title }}</a>
                                        </li>
                                        {% endfor %}
                                    </ul>
                                </div>    
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="fr-sidemenu__item {% if page.url == '/approche/sponsors' %}fr-sidemenu__item--active{% endif %}">
                    <a class="fr-sidemenu__link" href="/approche/sponsors" target="_self">Rôle du sponsor</a>
                </li>
                <li class="fr-sidemenu__item {% if page.url contains '/approche/formation' %}fr-sidemenu__item--active{% endif %}">
                    <button class="fr-sidemenu__btn" aria-expanded="{% if page.url contains '/approche/formation' %}true{% else %}false{% endif %}" aria-controls="fr-sidemenu-item-formation">Les formations</button>
                    <div class="fr-collapse" id="fr-sidemenu-item-formation">
                        <ul class="fr-sidemenu__list">
                            <li class="fr-sidemenu__item {% if page.url == '/approche/formation' %}fr-sidemenu__item--active{% endif %}">
                                <a class="fr-sidemenu__link" href="/approche/formation" target="_self">La formation Alpha</a>
                            </li>

                            <li class="fr-sidemenu__item {% if page.url contains '/approche/formation/mooc' %}fr-sidemenu__item--active{% endif %}">
                                <button class="fr-sidemenu__btn" aria-expanded="{% if page.url contains '/approche/formation/mooc' %}true{% else %}false{% endif %}" aria-controls="fr-sidemenu-item-mooc">La formation en ligne</button>
                                <div class="fr-collapse" id="fr-sidemenu-item-mooc">
                                    <ul class="fr-sidemenu__list">
                                        <li class="fr-sidemenu__item {% if page.url == '/approche/formation/mooc' %}fr-sidemenu__item--active{% endif %}">
                                            <a class="fr-sidemenu__link" href="/approche/formation/mooc" target="_self">Présentation</a>
                                        </li>

                                        {% assign mooc = site.mooc | sort: 'order' %}
                                        {% for sequence in mooc %}
                                        <li class="fr-sidemenu__item {% if page.url == sequence.url %}fr-sidemenu__item--active{% endif %}">
                                            <a class="fr-sidemenu__link" href="{{ sequence.url }}" target="_self">{{ forloop.index }} - {{ sequence.label }}</a>
                                        </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>
