<nav class="fr-sidemenu fr-sidemenu--sticky">
  <div class="fr-sidemenu__inner">
    <button class="fr-sidemenu__btn" hidden aria-controls="fr-sidemenu-wrapper" aria-expanded="false">Dans cette rubrique</button>
    <div class="fr-collapse" id="fr-sidemenu-wrapper">
      <ul class="fr-sidemenu__list">
        <li class="fr-sidemenu__item">
            <a class="fr-sidemenu__link" href="#contacter-un-de-nos-services">Contacter un de nos services</a>
        </li>
        <li class="fr-sidemenu__item">
            <a class="fr-sidemenu__link" href="#nous-rejoindre">Nous rejoindre</a>
        </li>
        <li class="fr-sidemenu__item">
            <a class="fr-sidemenu__link" href="#proposer-une-idée">Proposer une idée</a>
        </li>
        <li class="fr-sidemenu__item">
            <a class="fr-sidemenu__link" href="#nous-contacter-par-email">Nous contacter par email</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
