<nav class="side-pane">
  <ul class="side-pane__menu sticky">
    <li class="side-pane__dropdown {% if page.url == "/alpha/" %}unfolded active{% endif %}">
      <a class="side-pane__link" href="/alpha/#presentation">La formation Alpha</a>
      <ul class="side-pane__submenu">
        <li>
          <a class="side-pane__sublink" href="/alpha/#inscription">Inscriptions</a>
        </li>
      </ul>
    </li>
    <li {% if page.url == "/alpha/intervenants/" %}class="active"{% endif %}>
      <a class="side-pane__link" href="/alpha/intervenants/">Les intervenants</a>
    </li>
    <li class="side-pane__dropdown {% if page.url contains "/alpha/mooc/" %}unfolded active{% endif %}">
      <a class="side-pane__link" href="/alpha/mooc/">Formation en ligne ouverte à tous</a>
      <ul class="side-pane__submenu">
        {% assign mooc = site.mooc | sort: 'order' %}
        {% for sequence in mooc %}
        <li {% if page.url == sequence.url %}class="active"{% endif %}>
          <a class="side-pane__sublink" href="{{ sequence.url }}">{{ sequence.label }}</a>
        </li>
        {% endfor %}
      </ul>
    </li>
  </ul>
</nav>
