<nav class="side-pane">
  <ul class="side-pane__menu sticky">
    <li>
      <a class="side-pane__link" href="/startups/">Présentation générale</a>
    </li>
  {% assign phases = site.phases | sort: 'order' %}
  {% for phase in phases %}
    {% assign counter_target = phase.id | remove: "/phases/" %}
    {% assign counter = site.startups | where:'status', counter_target | size %}
    <li>
      <a class="side-pane__link" href="/startups/#{{ phase.status }}">{{ phase.label }} ({{ counter }})</a>
    </li>
  {% endfor %}
    <li>
      <a class="side-pane__link" href="/startups/rechercher">Rechercher</a>
    </li>
  </ul>
</nav>
