<nav class="fr-sidemenu fr-sidemenu--sticky">
  <div class="fr-sidemenu__inner">
    <button class="fr-sidemenu__btn" hidden aria-controls="fr-sidemenu-wrapper" aria-expanded="false">Dans cette page</button>
    <div class="fr-collapse" id="fr-sidemenu-wrapper">
      <ul class="fr-sidemenu__list">
        <li class="fr-sidemenu__item">
            <a class="fr-sidemenu__link" href="#résultats-de-létude">Résultat de l'étude</a>
            <ul class="fr-sidemenu__list">
                <li class="fr-sidemenu__item">
                    <a href="#niveau-daccessibilité" class="fr-sidemenu__link">Niveau d'accessibilité</a>
                </li>
                <li class="fr-sidemenu__item">
                    <a class="fr-sidemenu__link" href="#problèmes-les-plus-fréquents">Problèmes les plus fréquents</a>
                </li>
                <li class="fr-sidemenu__item">
                    <a class="fr-sidemenu__link" href="#erreurs-majoritaires-dans-notre-panel">Erreurs majoritaires dans notre panel</a>
                </li>
            </ul>
        </li>
        <li class="fr-sidemenu__item">
            <a class="fr-sidemenu__link" href="#méthodologie-employée">Méthodologie</a>
            <ul class="fr-sidemenu__list">
                <li class="fr-sidemenu__item">
                    <a class="fr-sidemenu__link" href="#évaluer-laccessibilité-de-200-services-">Évaluer l’accessibilité de 200 services ?</a>
                </li>
                <li class="fr-sidemenu__item">
                    <a class="fr-sidemenu__link" href="#panel-des-services-inspectés">Panel des services inspectés</a>
                </li>
                <li class="fr-sidemenu__item">
                    <a class="fr-sidemenu__link" href="#protocole-dévaluation">Protocole d’évaluation</a>
                </li>
            </ul>
        </li>
        <li class="fr-sidemenu__item">
            <a class="fr-sidemenu__link" href="#conclusion">Conclusion</a>
        </li>
      </ul>
    </div>
  </div>
</nav>