<nav class="fr-summary fr-mb-4w" role="navigation" aria-labelledby="fr-summary-title">
    <h2 class="fr-summary__title" id="fr-summary-title">Sommaire</h2>
    <ol>
        <li>
            <a class="fr-summary__link" href="#préambule---terminologie">Préambule - Terminologie</a>
        </li>
        <li>
            <a class="fr-summary__link" href="#introduction">Introduction</a>
            <ol>
                <li><a class="fr-summary__link" href="#betagouvfr">beta.gouv.fr</a></li>
                <li><a class="fr-summary__link" href="#les-pilliers-de-lapproche">Les pilliers de l'approche</a></li>
            </ol>
        </li>
        <li>
            <a class="fr-summary__link" href="#état-des-lieux">État des lieux</a>
            <ol>
                <li><a class="fr-summary__link" href="#en-janvier-2024">En janvier 2024</a></li>
                <li><a class="fr-summary__link" href="#les-services-numériques-à-impact-national-en-2023">Les services numériques à impact national en 2023</a></li>
                <li><a class="fr-summary__link" href="#quelques-alumni-du-programme">Quelques alumnis du programme</a></li>
                <li><a class="fr-summary__link" href="#résultats-2023">Résultats 2023</a></li>
            </ol>
        </li>
        <li>
            <a class="fr-summary__link" href="#réseau-betagouvfr">Réseau beta.gouv.fr</a>
            <ol>
                <li><a class="fr-summary__link" href="#17-incubateurs-partenaires">17 incubateurs partenaires</a></li>
                <li><a class="fr-summary__link" href="#répartition-des-services-par-incubateurs">Répartition des services par partenaires</a></li>
                <li><a class="fr-summary__link" href="#focus-sur-quelques-nouveaux-produits-lancés-en-2023">Focus sur quelques nouveaux produits lancés en 2023</a></li>
                <li><a class="fr-summary__link" href="#lapproche-beta-au-delà-des-incubateurs">L'approche beta au delà des incubateurs</a></li>
                <li><a class="fr-summary__link" href="#une-équipe-renforcée-pour-accompagner-la-croissance-de-la-communauté">Une équipe renforcée pour accompagner la croissance de la communauté</a></li>
                <li><a class="fr-summary__link" href="#une-communauté-en-croissance-partout-en-france">Une communauté en croissance partout en France</a></li>
                <li><a class="fr-summary__link" href="#satisfaction-de-la-communauté-betagouvfr">Satisfaction de la communauté beta.gouv.fr</a></li>
                <li><a class="fr-summary__link" href="#les-intrapreneurs--des-agents-publics-formés-à-la-méthode">Les intrapreneurs : des agents publics formés à la méthode</a></li>
            </ol>
        </li>
        <li>
            <a class="fr-summary__link" href="#activités-financées-par-le-programme-betagouvfr">Activités financées par le programme beta.gouv.fr</a>
            <ol>
                <li><a class="fr-summary__link" href="#les-principales-activités-financées-en-2023">Les principales activités financées en 2023</a></li>
                <li>
                    <a class="fr-summary__link" href="#fast">FAST</a>
                    <ol>
                        <li><a class="fr-summary__link" href="#le-programme-daccélération">Le programme d'accélération</a></li>
                        <li><a class="fr-summary__link" href="#lauréats-fast-12">Lauréats FAST 12</a></li>
                        <li><a class="fr-summary__link" href="#lauréats-fast-13">Lauréats FAST 13</a></li>
                    </ol>
                </li>
            </ol>
        </li>
        <li>
            <a class="fr-summary__link" href="#annexes">Annexes</a>
            <ol>
                <li><a class="fr-summary__link" href="#liste-des-abbréviations">Liste des abbréviations</a></li>
            </ol>
        </li>
    </ol>
</nav>
