<nav class="fr-sidemenu fr-sidemenu--sticky" aria-labelledby="fr-sidemenu-title">
  <div class="fr-sidemenu__inner">
    <button class="fr-sidemenu__btn" hidden aria-controls="fr-sidemenu-wrapper" aria-expanded="false">Dans cette rubrique</button>
    <div class="fr-collapse" id="fr-sidemenu-wrapper">
      <p class="fr-sidemenu__title" id="fr-sidemenu-title">Table des matières</p>
      <ul class="fr-sidemenu__list">
        <li class="fr-sidemenu__item">
            <a class="fr-sidemenu__link" href="#introduction">Introduction</a>
            <button class="fr-sidemenu__btn" aria-expanded="true" aria-controls="fr-sidemenu-item-perimetre">Périmètre</button>
            <div class="fr-collapse" id="fr-sidemenu-item-perimetre">
                <ul class="fr-sidemenu__list">
                    <li class="fr-sidemenu__item">
                      <a class="fr-sidemenu__link" href="#produits-internes-à-betagouvfr">Produits interne à beta.gouv.fr</a>
                      <a class="fr-sidemenu__link" href="#produits-accompagnés-à-lincubateur-dinum-de-betagouvfr">Produits incubés à la DINUM</a>
                      <a class="fr-sidemenu__link" href="#produits-incubés-dans-le-réseau-betagouvfr">Produits incubés dans le réseau</a>
                      <a class="fr-sidemenu__link" href="#hors-périmètre">Hors périmètre</a>
                    </li>
                </ul>
              </div>
            <button class="fr-sidemenu__btn" aria-expanded="true" aria-controls="fr-sidemenu-item-ressource">Ressources humaines et techniques</button>
            <div class="fr-collapse" id="fr-sidemenu-item-ressource">
                <ul class="fr-sidemenu__list">
                    <li class="fr-sidemenu__item">
                      <a class="fr-sidemenu__link" href="#référent-accessibilité-numérique">Référent accessibilité numérique</a>
                      <a class="fr-sidemenu__link" href="#pôle-numérique-inclusif">Pôle Numérique Inclusif</a>
                      <a class="fr-sidemenu__link" href="#aides-externes">Aides externes</a>
                      <a class="fr-sidemenu__link" href="#moyens-techniques">Moyens techniques</a>
                    </li>
                </ul>
              </div>
            <button class="fr-sidemenu__btn" aria-expanded="true" aria-controls="fr-sidemenu-item-politique">Politique d'accessibilité</button>
            <div class="fr-collapse" id="fr-sidemenu-item-politique">
                <ul class="fr-sidemenu__list">
                    <li class="fr-sidemenu__item">
                      <a class="fr-sidemenu__link" href="#ressources-humaines">Ressources humaines</a>
                      <a class="fr-sidemenu__link" href="#stratégie-de-mise-en-oeuvre">Stratégie de mise en oeuvre</a>
                    </li>
                </ul>
              </div>

            <a class="fr-sidemenu__link" href="#contrôle-et-validation">Contrôle et validation</a>

            <!-- <a class="fr-sidemenu__link" href="#plan">Plan d'action</a> -->
            <button class="fr-sidemenu__btn" aria-expanded="true" aria-controls="fr-sidemenu-item-plan">Plan d'action</button>
            <div class="fr-collapse" id="fr-sidemenu-item-plan">
                <ul class="fr-sidemenu__list">
                    <li class="fr-sidemenu__item">
                      <a class="fr-sidemenu__link" href="#bilan-2023">Bilan 2023</a>
                      <a class="fr-sidemenu__link" href="#bilan-2024">Bilan 2024</a>
                      <a class="fr-sidemenu__link" href="#plan-2025">Plan d'action 2025</a>
                    </li>
                </ul>
              </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
