<nav class="fr-sidemenu fr-sidemenu--sticky">
  <div class="fr-sidemenu__inner">
    <button class="fr-sidemenu__btn" hidden aria-controls="fr-sidemenu-wrapper" aria-expanded="false">Dans cette page</button>
    <div class="fr-collapse" id="fr-sidemenu-wrapper">
      <ul class="fr-sidemenu__list">
        <li class="fr-sidemenu__item">
            <a class="fr-sidemenu__link" href="#résultats-de-létude">Résultats de l'étude</a>
            <ul class="fr-sidemenu__list">
                <li class="fr-sidemenu__item">
                    <a href="#niveau-daccessibilité" class="fr-sidemenu__link">Niveau d'accessibilité</a>
                </li>
                <li class="fr-sidemenu__item">
                    <a class="fr-sidemenu__link" href="#problèmes-les-plus-fréquents">Problèmes les plus fréquents</a>
                </li>
                <li class="fr-sidemenu__item">
                    <a class="fr-sidemenu__link" href="#erreurs-courantes">Erreurs courantes</a>
                </li>
                <li class="fr-sidemenu__item">
                    <a class="fr-sidemenu__link" href="#apprentissages">Apprentissages</a>
                </li>
                <li class="fr-sidemenu__item">
                    <a class="fr-sidemenu__link" href="#épilogue">Épilogue</a>
                </li>
                <li class="fr-sidemenu__item">
                    <a class="fr-sidemenu__link" href="#annexes">Annexes</a>
                </li>
            </ul>
        </li>
        <li class="fr-sidemenu__item">
            <a class="fr-sidemenu__link" href="#méthodologie-dévaluation-manuelle-rapide">Méthodologie d'évaluation manuelle rapide</a>
            <ul class="fr-sidemenu__list">
                <li class="fr-sidemenu__item">
                    <a class="fr-sidemenu__link" href="#sélection-dun-panel-de-services">Sélection d'un panel de services</a>
                </li>
                <li class="fr-sidemenu__item">
                    <a class="fr-sidemenu__link" href="#constitution-dun-échantillon-réduit">Constitution d'un échantillon réduit</a>
                </li>
                <li class="fr-sidemenu__item">
                    <a class="fr-sidemenu__link" href="#inspection-manuelle">Inspection manuelle</a>
                </li>
                <li class="fr-sidemenu__item">
                    <a class="fr-sidemenu__link" href="#communication-aux-équipes">Communication aux équipes</a>
                </li>
                <li class="fr-sidemenu__item">
                    <a class="fr-sidemenu__link" href="#protocole-dévaluation">Protocole d'évaluation</a>
                </li>
            </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
