<nav class="fr-sidemenu fr-sidemenu--sticky" aria-labelledby="fr-sidemenu-title">
  <div class="fr-sidemenu__inner">
    <button class="fr-sidemenu__btn" hidden aria-controls="fr-sidemenu-wrapper" aria-expanded="false">Dans cette rubrique</button>
    <div class="fr-collapse" id="fr-sidemenu-wrapper">
      <p class="fr-sidemenu__title" id="fr-sidemenu-title">Table des matières</p>
      <ul class="fr-sidemenu__list">
        <li class="fr-sidemenu__item">
            <a class="fr-sidemenu__link" href="#snin">Produits à impact national</a>
        </li>
        <li class="fr-sidemenu__item">
            <a class="fr-sidemenu__link" href="#launching">Lancement de nouveaux produits</a>
        </li>
        <li class="fr-sidemenu__item">
            <a class="fr-sidemenu__link" href="#standards-qualite">Respect des standards de qualité</a>
        </li>
            <!-- <button class="fr-sidemenu__btn" aria-expanded="true" aria-controls="fr-sidemenu-item-standards">Respect des standards de qualité</button>
            <div class="fr-collapse" id="fr-sidemenu-item-standards">
                <ul class="fr-sidemenu__list">
                    <li class="fr-sidemenu__item">
                      <a class="fr-sidemenu__link" href="#opensource">Ouverture des codes sources</a>
                      <a class="fr-sidemenu__link" href="#stats">Publication d'une page "Stats"</a>
                      <a class="fr-sidemenu__link" href="#dashlord">Inscription sur Dashlord</a>
                      <a class="fr-sidemenu__link" href="#a11y">Accessibilité numérique des produits</a>
                    </li>
                </ul>
              </div> -->
        <li class="fr-sidemenu__item">
            <a class="fr-sidemenu__link" href="#administration">Montée en compétence de l'administration</a>
        </li>
        <li class="fr-sidemenu__item">
            <a class="fr-sidemenu__link" href="#network">Réseau d'incubateur</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
