<nav class="fr-sidemenu fr-sidemenu--sticky">
  <div class="fr-sidemenu__inner">
    <button class="fr-sidemenu__btn" hidden aria-controls="fr-sidemenu-wrapper" aria-expanded="false">Dans cette rubrique</button>
    <div class="fr-collapse" id="fr-sidemenu-wrapper">
      <ul class="fr-sidemenu__list">
        <li class="fr-sidemenu__item">
            <a class="fr-sidemenu__link" href="#services">Contacter un de nos services</a>
            <a class="fr-sidemenu__link" href="#join">Nous rejoindre</a>
            <a class="fr-sidemenu__link" href="#idea">Proposer une idée</a>
            <a class="fr-sidemenu__link" href="#email">Nous contacter par email</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
