<nav class="fr-summary fr-mb-4w" role="navigation" aria-labelledby="fr-summary-title">
    <h2 class="fr-summary__title" id="fr-summary-title">Sommaire</h2>
    <ol>
        <li>
            <a class="fr-summary__link" href="#préambule---terminologie">Préambule - Terminologie</a>
        </li>
        <li>
            <a class="fr-summary__link" href="#">Introduction</a>
            <ol>
                <li><a class="fr-summary__link" href="#">beta.gouv.fr</a></li>
                <li><a class="fr-summary__link" href="#">Les pilliers de l'approche</a></li>
            </ol>
        </li>
        <li>
            <a class="fr-summary__link" href="#">État des lieux</a>
            <ol>
                <li><a class="fr-summary__link" href="#">En janvier 2024</a></li>
                <li><a class="fr-summary__link" href="#">Les services numériques à impact national en 2023</a></li>
                <li><a class="fr-summary__link" href="#">Quelques alumnis du programme</a></li>
                <li><a class="fr-summary__link" href="#">Résultats 2023</a></li>
            </ol>
        </li>
        <li>
            <a class="fr-summary__link" href="#">Réseau beta.gouv.fr</a>
            <ol>
                <li><a class="fr-summary__link" href="#">17 incubateurs partenaires</a></li>
                <li><a class="fr-summary__link" href="#">Répartition des services par partenaires</a></li>
                <li><a class="fr-summary__link" href="#">Focus sur quelques nouveaux produits lancés en 2023</a></li>
                <li><a class="fr-summary__link" href="#">L'approche beta au delà des incubateurs</a></li>
                <li><a class="fr-summary__link" href="#">Une équipe renforcée pour accompagner la croissance de la communauté</a></li>
                <li><a class="fr-summary__link" href="#">Une communauté en croissance partout en France</a></li>
                <li><a class="fr-summary__link" href="#">Satisfaction de la communauté beta.gouv.fr</a></li>
                <li><a class="fr-summary__link" href="#"></a>Les intrapreneurs : des agents publics formés à la méthode </li>
            </ol>
        </li>

        <li>
            <a class="fr-summary__link" href="#">Activités financées par le programme beta.gouv.fr</a>
            <ol>
                <li><a class="fr-summary__link" href="#">Les principales activités financées en 2023</a></li>
                <li>
                    <a class="fr-summary__link" href="#">FAST</a>
                    <ol>
                        <li><a class="fr-summary__link" href="#">Le programme d'accélération</a></li>
                        <li><a class="fr-summary__link" href="#">Lauréats FAST 12</a></li>
                        <li><a class="fr-summary__link" href="#">Lauréats FAST 13</a></li>
                    </ol>
                </li>
            </ol>
        </li>
    </ol>
</nav>
