<nav class="side-pane">
  <ul class="side-pane__menu sticky">
    <li class="side-pane__dropdown {% if page.url == "/startups/" %}unfolded active{% endif %}">
      <a class="side-pane__link" href="/startups/">Nos {{ site.startups | size }} Startups d'État</a>
      <ul class="side-pane__submenu">
        {% assign phases = site.phases | sort: 'order' %}
        {% for phase in phases %}
          {% assign counter_target = phase.id | remove: "/phases/" %}
          {% assign counter = site.startups | where:'status', counter_target | size %}
          <li>
            <a class="side-pane__sublink" href="/startups/#{{ phase.status }}">{{ phase.label }} ({{ counter }})</a>
          </li>
        {% endfor %}
      </ul>
    </li>
    <li {% if page.url == "/startups/rechercher/" %}class="active"{% endif %}>
      <a class="side-pane__link" href="/startups/rechercher/">Rechercher</a>
    </li>
  </ul>
</nav>
