<nav class="side-pane">
    <ul class="side-pane__menu sticky">
      <li {% if page.url == "/fast/" %}class="active"{% endif %}>
        <a class="side-pane__link" href="/fast/">Le fonds FAST</a>
      </li>
      {% assign fasts = site.fasts | sort: 'order' %}
      {% for fast-page in fasts %}
      <li {% if page.url == fast-page.url %}class="active"{% endif %}>
        <a class="side-pane__link" href="{{ fast-page.url }}">{{ fast-page.title }}</a>
      </li>
      {% endfor %}
    </ul>
  </nav>
  
