<nav class="fr-summary fr-mb-4w" role="navigation" aria-labelledby="fr-summary-title">
    <h2 class="fr-summary__title" id="fr-summary-title">Sommaire</h2>
    <ol>
        <li>
            <a class="fr-summary__link" href="#introduction">Introduction</a>
            <ol>
                <li><a class="fr-summary__link" href="#betagouvfr">Qu’est-ce que beta.gouv.fr ?</a></li>
                <li><a class="fr-summary__link" href="#les-pilliers-de-lapproche">Les pilliers de l'approche</a></li>
                <li><a class="fr-summary__link" href="#les-grandes-phases-de-déploiement-de-betagouvfr">Les grandes phases de déploiement de beta.gouv.fr</a></li>
            </ol>
        </li>
        <li>
            <a class="fr-summary__link" href="#un-réseau-de-19-incubateurs">Un réseau de 19 incubateurs</a>
            <ol>
                <li><a class="fr-summary__link" href="#les-incubateurs-partenaires">Les incubateurs partenaires</a></li>
                <li><a class="fr-summary__link" href="#état-des-lieux-du-réseau-dincubateurs">État des lieux du réseau d’incubateurs</a></li>
                <li><a class="fr-summary__link" href="#dynamiques-dincubateurs--succès-intégration-transformation">Dynamiques d’incubateurs : succès, intégration, transformation</a></li>
            </ol>
        </li>

        <li>
            <a class="fr-summary__link" href="#280-services-numériques-dont-36-à-impact-national">280 services numériques dont 36 à impact national</a>
            <ol>
                <li><a class="fr-summary__link" href="#focus-sur-des-produits-emblématiques">Focus sur des produits emblématiques</a></li>
                <li><a class="fr-summary__link" href="#focus-sur-quelques-produits-lancés-en-2025">Focus sur quelques produits lancés en 2025</a></li>
                <li><a class="fr-summary__link" href="#résultats-2025">Résultats 2025</a></li>
                <li><a class="fr-summary__link" href="#services-à-impact-national">Services à impact national</a></li>
                <li><a class="fr-summary__link" href="#les-standards">Les standards</a></li>
                <li><a class="fr-summary__link" href="#les-activités-financées-par-le-programme-betagouvfr">Les activités financées par le programme beta.gouv.fr</a></li>
            </ol>
        </li>

        <li>
            <a class="fr-summary__link" href="#une-communauté-engagée-de-1-342-membres">Une communauté engagée de 1 342 membres</a>
            <ol>
                <li><a class="fr-summary__link" href="#évolution-de-la-communauté-betagouvfr">Évolution de la communauté beta.gouv.fr</a></li>
                <li><a class="fr-summary__link" href="#domaines-dexpertises-de-la-communauté">Domaines d’expertises de la communauté</a></li>
                <li><a class="fr-summary__link" href="#satisfaction-de-la-communauté-betagouvfr">Satisfaction de la communauté beta.gouv.fr</a></li>
                <li><a class="fr-summary__link" href="#focus-sur-lintrapreneuriat">Focus sur l’intrapreneuriat</a></li>
                <li><a class="fr-summary__link" href="#les-entrepreneures-dintérêt-général">Les Entrepreneur·e·s d’intérêt général</a></li>
            </ol>
        </li>

        <li>
            <a class="fr-summary__link" href="#après-10-ans-quelles-perspectives-pour-betagouvfr-">Après 10 ans, quelles perspectives pour beta.gouv.fr ?</a>
            <ol>
                <li><a class="fr-summary__link" href="#le-programme-permet-réellement-larrêt-de-produits">Le programme permet réellement l’arrêt de produits…</a></li>
                <li><a class="fr-summary__link" href="#-en-sappuyant-sur-un-outillage-de-plus-en-plus-mature">… en s’appuyant sur un outillage de plus en plus mature</a></li>
                <li><a class="fr-summary__link" href="#les-temporalités-constatées-par-phase-ne-sont-pas-aussi-fixes-que-la-méthode-lenvisageait">Les temporalités constatées par phase ne sont pas aussi fixes que la méthode l’envisageait</a></li>
                <li><a class="fr-summary__link" href="#les-voies-de-pérennisation-dun-produit-sont-multiples">Les voies de pérennisation d’un produit sont multiples</a></li>
                <li><a class="fr-summary__link" href="#la-multiplication-des-produits-cède-place-à-la-mutualisation">La multiplication des produits cède place à la mutualisation</a></li>
            </ol>
        </li>
    </ol>
</nav>
