<nav class="fr-summary fr-mb-4w" role="navigation" aria-labelledby="fr-summary-title">
    <h2 class="fr-summary__title" id="fr-summary-title">Sommaire</h2>
    <ol>
        <li>
            <a class="fr-summary__link" href="#préambule---terminologie">Préambule - Terminologie</a>
        </li>
        <li>
            <a class="fr-summary__link" href="#introduction">Introduction</a>
            <ol>
                <li><a class="fr-summary__link" href="#betagouvfr">beta.gouv.fr</a></li>
                <li><a class="fr-summary__link" href="#les-pilliers-de-lapproche">Les pilliers de l'approche</a></li>
            </ol>
        </li>
        <li>
            <a class="fr-summary__link" href="#résultats-en-2024">Résultats en 2024</a>
        </li>
        <li>
            <a class="fr-summary__link" href="#état-des-lieux">État des lieux</a>
            <ol>
                <li><a class="fr-summary__link" href="#en-janvier-2025">En janvier 2025</a></li>
                <li><a class="fr-summary__link" href="#les-services-numériques-à-impact-national-en-2024">Les services numériques à impact national en 2024</a></li>
                <li><a class="fr-summary__link" href="#quelques-alumnis-du-programme">Quelques alumnis du programme</a></li>
            </ol>
        </li>
        <li>
            <a class="fr-summary__link" href="#standards-de-qualité">Standards de qualité</a>
            <ol>
                <li><a class="fr-summary__link" href="#renforcer-laccessibilit%C3%A9-des-services-num%C3%A9riques">Renforcer l'accessibilité des services numériques</a></li>
                <li><a class="fr-summary__link" href="#corriger-les-failles-de-s%C3%A9curit%C3%A9-au-sein-du-r%C3%A9seau">Corriger les failles de sécurité au sein du réseau</a></li>
                <li><a class="fr-summary__link" href="#am%C3%A9liorer-la-transparence-des-services-publics">Améliorer la transparence des services publics</a></li>
            </ol>
        </li>
        <li>
            <a class="fr-summary__link" href="#activités-financées-par-le-programme-betagouvfr">Activités financées par le programme beta.gouv.fr</a>
            <ol>
                <li><a class="fr-summary__link" href="#principales-activités-financées-en-2024">Les principales activités financées en 2024</a></li>
                <li>
                    <a class="fr-summary__link" href="#fast">FAST</a>
                    <ol>
                        <li><a class="fr-summary__link" href="#le-programme-daccélération">Le programme d'accélération</a></li>
                        <li><a class="fr-summary__link" href="#lauréats-fast-14">Lauréats FAST 14</a></li>
                        <li><a class="fr-summary__link" href="#lauréats-fast-15">Lauréats FAST 15</a></li>
                    </ol>
                </li>
            </ol>
        </li>
        <li>
            <a class="fr-summary__link" href="#le-réseau-betagouvfr">Le réseau beta.gouv.fr</a>
            <ol>
                <li><a class="fr-summary__link" href="#les-incubateurs-partenaires">Les incubateurs partenaires</a></li>
                <li><a class="fr-summary__link" href="#répartition-des-services-par-incubateurs">Répartition des services par partenaires</a></li>
                <li><a class="fr-summary__link" href="#focus-sur-quelques-nouveaux-produits-lancés-en-2024">Focus sur quelques nouveaux produits lancés en 2024</a></li>
            </ol>
        </li>
        <li>
            <a class="fr-summary__link" href="#la-communauté">La communauté</a>
            <ol>
                <li><a class="fr-summary__link" href="#une-communauté-en-croissance-partout-en-france">Une communauté en croissance partout en France</a></li>
                <li><a class="fr-summary__link" href="#des-agents-publics-formés-à-lapproche-betagouvfr">Des agents publics formés à l'approche beta.gouv.fr</a></li>
                <li><a class="fr-summary__link" href="#satisfaction-de-la-communauté-betagouvfr">Satisfaction de la communauté beta.gouv.fr</a></li>
            </ol>
        </li>
    </ol>
</nav>
