<div class="ui container">
	<div class="ui left aligned raised segment">
		<div class="ui red ribbon label">Vous souhaitez être tenu·e au courant de nos actualités?</div>
		<form class="ui form" action="https://my.sendinblue.com/users/subscribe/2heo8/id/1">
			<div class="field">
				<label>Votre adresse mail:</label>
				<input type="email" name="email" placeholder="monemail@monfournisseur.com">
			</div>
			<button class="ui submit button" type="submit">S'inscrire</button>
			<input type="hidden" name="js_id" id="js_id" value="2heo8">
			<input type="hidden" name="listid" id="listid" value="4">
			<input type="hidden" name="from_url" id="from_url" value="yes">
			<input type="hidden" name="hdn_email_txt" id="hdn_email_txt" value="">
		</form>
	</div>
</div>