<div class="ui container">
	<div class="ui left aligned raised segment">
		<div class="ui red ribbon label">Vous souhaitez être tenu·e au courant de nos actualités?</div>
		<form class="ui form" method="post" action="https://app.mailjet.com/widget/iframe/1O2v/13e">
			<div class="field">
				<label>Votre adresse mail:</label>
				<input type="email" name="w-field-field-4044-18488-430683-email" placeholder="monemail@monfournisseur.com">
			</div>
			<button class="ui submit button" type="submit">S'inscrire</button>
		</form>
	</div>
</div>