{% comment %}
  Ex : {% include startups-filters.html %}
{% endcomment %}

<div class="fr-input-group">
    <label class="fr-label">Par opérateur</label>
    <select class="fr-select select-incubateur">
        <option value="">Tous les opérateurs</option>
    </select>
</div>
<div class="fr-input-group">
    <label class="fr-label">Par type d'usagers</label>
    <select class="fr-select select-usertypes">
        <option value="">Tous les types d'usagers</option>
    </select>
</div>
<div class="fr-input-group">
    <label class="fr-label">Par phase</label>
    <select class="fr-select select-phase">
        <option>Aller à une phase</option>
        {% for phase in phases_with_stopped %}
            <option value="{{ phase.status }}" class="{{phase.status}}-option">{{ phase.label }}</option>
        {% endfor %}
    </select>
</div>
