{% comment %}
  Ex : {% include startups-filters.html prefix="an-id" %}
{% endcomment %}

<div class="fr-input-group">
    <label class="fr-label">Par opérateur</label>
    <select class="fr-select select-incubateur">
        <option value="">Tous les opérateurs</option>
    </select>
</div>
<div class="fr-input-group">
    <label class="fr-label">Par type d'usagers</label>
    <select class="fr-select select-usertypes">
        <option value="">Tous les types d'usagers</option>
    </select>
</div>
<div class="fr-input-group">
    <label class="fr-label">Par phase</label>
    <select class="fr-select select-phase">
        <option>Aller à une phase</option>
        {% for phase in phases_with_stopped %}
            <option value="{{ phase.status }}" class="{{phase.status}}-option">{{ phase.label }}</option>
        {% endfor %}
    </select>
</div>
<div class="fr-toggle">
    <input type="checkbox" class="fr-toggle__input select-impact" aria-describedby="{{prefix}}toggle-hint-text" id="{{prefix}}toggle">
    <label class="fr-toggle__label" for="{{prefix}}toggle" data-fr-checked-label="Activé" data-fr-unchecked-label="Désactivé"> Services à impact national</label>
    <p class="fr-hint-text" id="{{prefix}}toggle-hint-text">Ces services sont déployés à l'ensemble du territoire national et ont atteint un seuil d'impact significatif.</p>
</div>

