{% if include.description %}
	{% assign description = include.description %}
{% else %}
	{% capture id %}/startup/{{ include.id }}{% endcapture %}
	{% for startup in site.startup %}
		{% if startup.id == id %} {% comment %} where query doesn't work on id {% endcomment %}
			{% assign description = startup %}
		{% endif %}
	{% endfor %}
{% endif %}

<div class="startup-presentation">
	<div class="image">
		<a href="{{ description.url }}" title="{{ description.title }}">
		{% include screenshot.html startup=description %}
		<span class="screenreader-only">Découvrir {{ description.title }}</span>
		</a>
	</div>

	<div class="content">
		<h2>{{ description.title }}</h2>
		<p>{{ description.mission }}</p>
	</div>
</div>
