<a class="ui fluid card" href="{{ include.description.url }}">
	<div class="content">
		<img class="right floated mini ui image" src="{{ include.description.logo }}" alt="{{ include.description.title }}"/>

		<div class="header">{{ include.description.title }}</div>
		<div class="meta">
			{% include product-status.html status=include.description.status %}
		</div>

		<div class="description">
			{{ include.description.mission }}
		</div>
	</div>
	<div class="extra content">
		<div class="left floated">
			{%if include.description.domain %}
				{{ include.description.domain }}
			{% else %}
				<em>Pas encore de site public</em>
			{% endif %}
		</div>

		<div class="right floated">
			{%if include.description.repository %}
				Code source ouvert
			{% else %}
				<em>Code pas encore ouvert</em>
			{% endif %}
		</div>
	</div>
</a>
