<h2>
	{{ site.description }}.<br/>
	Vous trouverez ici tous les services créés avec l'<a href="{{ site.baseurl }}#cycle">approche Startup d'État</a>.
</h2>

<section id="dashboard">
	<ol class="counter--incubation">
		{% for phase in site.phases.incubation %}
			<li class="counter {{ phase[0] }}">
				<a href="{{ phase[0] }}#list">
					<span class="counter--count">{{ site.startup | where:'status',phase[0] | size }}</span>
					<i>startups en</i>
					<span class="tooltip counter--name" title="{{ phase[1].description }}">{{ phase[1].name }}</span>
				</a>
			</li>
		{% endfor %}

		<li>
			<ul class="counter--endgame">
				{% for phase in site.phases.endgame %}
					<li class="counter {{ phase[0] }}">
						<span class="counter--count">{{ site.startup | where:'status',phase[0] | size }}</span>

						<span class="tooltip counter--name" title="{{ phase[1].description }}">{{ phase[1].name.plural }}</span>
					</li>
				{% endfor %}
			</ul>
		</li>
	</ol>
</section>


{% if include.phase %}
	{% assign startups = site.startup | where: 'status', include.phase %}
{% else %}
	{% assign startups = site.startup %}
{% endif %}


<section id="list" class="ui three stackable doubling cards container">
	{% if include.phase %}
		<h2 class="ui divider horizontal">Nos {{ startups | size }} Startups d'État en {{ include.phase }}</h2>
	{% else %}
		<h2 class="ui divider horizontal">Toutes nos Startups d'État</h2>
	{% endif %}


	{% for startup in startups %}
		{% include startup-card.html description=startup %}
	{% endfor %}
</section>

{% if include.phase %}
<p id="clear-filter">
	<a class="secondary cta" href="."><i class="grid layout icon"></i>&nbsp;Voir toutes les {{ site.startup | size }} Startups</a>
</p>
{% endif %}
