{% if include.description %}
    {% assign description = include.description %}
{% else %}
    {% capture id %}/startup/{{ include.id }}{% endcapture %}
    {% for startup in site.startup %}
        {% if startup.id == id %} {% comment %} where query doesn't work on id {% endcomment %}
            {% assign description = startup %}
        {% endif %}
    {% endfor %}
{% endif %}


<a class="ui fluid {{ description.status }} card" href="{{ description.url }}">
    <div class="image">
        {% include screenshot.html startup=description %}
    </div>
    <div class="content">
        <div class="header">{{ description.title }}</div>
        <div class="meta">
            {% include owner.html owner=description.owner %}
        </div>

        <div class="description">
            {{ description.mission }}
        </div>
    </div>
    <div class="extra content">
        <div class="left floated">
            {% if description.link %}
                {{ description.link | remove: 'https://' | remove: 'http://' }}
            {% else %}
                <em>Pas encore de site public</em>
            {% endif %}
        </div>

        <div class="right floated">
            {%if description.repository %}
                Code source ouvert
            {% else %}
                <em>Code pas encore ouvert</em>
            {% endif %}
        </div>
    </div>
    <div class="extra content">
        {% assign shortid = description.id | remove: '/startup/' %}

        {% for author in site.authors %}
            {% for startup in author.startups %}

                {% if startup.first %}
                    {% assign currentId = startup.first[0] %}
                    {% if startup.first[1] == "inactive" %}
                        {% assign isInactive = true %}
                    {% else %}
                        {% assign isInactive = false %}
                    {% endif %}
                {% else %}
                    {% assign currentId = startup %}
                    {% assign isInactive = false %}
                {% endif %}

                {% if currentId == shortid %}
                    <div class="ui tiny label {% if isInactive %}inactive{% endif %}">{{author.fullname}}</div>
                {% endif %}
            {% endfor %}
        {% endfor %}
    </div>
</a>
