{% if include.description %}
    {% assign description = include.description %}
{% else %}
    {% capture id %}/startup/{{ include.id }}{% endcapture %}
    {% for startup in site.startup %}
        {% if startup.id == id %} {% comment %} where query doesn't work on id {% endcomment %}
            {% assign description = startup %}
        {% endif %}
    {% endfor %}
{% endif %}

{% assign startup_id = description.id | remove: '/startup/' %}
{% assign screenshot_files = site.static_files | where_exp:"item", "item.path contains '/startup'" %}
{% assign screenshot_file = screenshot_files | where: 'basename', startup_id | first %}

{% if screenshot_file %}
    {% assign screenshot_path = screenshot_file.path %}
{% else %}
    {% assign screenshot_path = false %}
{% endif %}

<a class="card" href="{{ description.url }}">
  {% if screenshot_path %}
    <div class="card__cover">
      {% include screenshot.html startup=description %}
    </div>
  {% endif %}
  <div class="card__content">
    <h3>{{ description.title }}</h3>
    <div class="card__meta">
      {% include owner.html owner=description.owner %}
    </div>

    <p class="description">
      {{ description.mission }}
    </p>
  </div>
  <div class="card__extra">
    <div>
      {% if description.link %}
        {{ description.link | remove: 'https://' | remove: 'http://' }}
      {% else %}
        <em>Pas encore de site public</em>
      {% endif %}
    </div>

    <div>
      {%if description.repository %}
        Code source ouvert
      {% else %}
        <em>Code pas encore ouvert</em>
      {% endif %}
    </div>
  </div>
  <div class="card__extra">
    {% assign shortid = description.id | remove: '/startup/' %}

    {% for author in site.authors %}
      {% for startup in author.startups %}

        {% if startup.first %}
          {% assign currentId = startup.first[0] %}
          {% if startup.first[1] == "inactive" %}
            {% assign isInactive = true %}
          {% else %}
            {% assign isInactive = false %}
          {% endif %}
        {% else %}
          {% assign currentId = startup %}
          {% assign isInactive = false %}
        {% endif %}

                {% if currentId == shortid %}
                    {%if author.end %}
                        {% capture timestampNow %}{{'now' | date: '%s'}}{% endcapture %}
                        {% capture timestampEnd %}{{author.end | date: '%s'}}{% endcapture %}
                        {%if timestampNow > timestampEnd %}
                                {% assign isInactive = true %}
                        {% endif %}
                    {% endif %}
                    <div class="ui tiny label {% if isInactive %}inactive{% endif %}">{{author.fullname}}</div>
                {% endif %}
            {% endfor %}
        {% endfor %}
    </div>
</a>
