<form method="post" action="https://app.mailjet.com/widget/iframe/1O2v/14x" id="newsletter">
    <div class="form__group">
        <label for="subscribe-email" class="title" aria-label="Renseignez votre adresse e-mail pour recevoir nos annonces">Abonnez-vous pour recevoir nos annonces</label>
        <input required type="email" autocomplete="on" id="subscribe-email" name="w-field-field-4125-18987-430683-email" placeholder="votre@email.fr">
        <button class="button" type="submit" name="subscribe" id="form-submit">Valider</button>
    </div>
</form>