<form method="post" action="https://app.mailjet.com/widget/iframe/1O2v/14x" class="ui form {{ include.formClass }}">
  <div class="field">
    <label for="subscribe-email">Suivez <a href="http://twitter.com/intent/follow?user_id=715451644683673601"><i class="large twitter icon" title="Sur Twitter"></i>@BetaGouv</a>, <a href="https://github.com/BetaGouv"><i class="large github icon" title="Sur GitHub"></i>SGMAP</a>, et <i class="large mail icon" title="Par email"></i>abonnez-vous pour recevoir nos annonces :</label>
    <div class="ui action input">
      <input required type="email" autocomplete="on" id="subscribe-email" placeholder="votre@email.fr">
      <button class="ui button" type="submit"><i class="mail icon"></i> Abonnez-vous !</button>
    </div>
  </div>
</form>
