---
additional_css:
- homepage
- dashboard
- startup-presentation
permalink: /en/
lang: en
ref: landing
excerpt: We build digital public services
---

<section id="intro-header">
    <h1>{{ site.description_en }}</h1>
    <a class="primary construction cta" href="#cycle">Find out how</a>
    <a class="primary cta" href="about">More information</a>
</section>

<section id="presentation" class="ui container">
    <div id="example">
        {% include startup-presentation.html id='mdph' %}
        {% include startup-presentation.html id='pix' %}
        {% include startup-presentation.html id='demarches-simplifiees.fr' %}
        {% include startup-presentation.html id='mes-aides' %}
        {% include startup-presentation.html id='la-bonne-boite' %}
        {% include startup-presentation.html id='mps' %}
    </div>

    <span class="cta" id="otherExample">More examples (fr)</span>
</section>

<section id="dashboard">
    {% include dashboard.html phases=site.data.en.phases %}

    <a href="/startups" class="primary success cta">Explore our {{ site.startup | size }} State Startups (fr)&nbsp;&nbsp;➤</a>
</section>

<section id="cycle">
    <h2 class="ui divider horizontal">How State Startups work</h2>

    <ol class="ui container">
        <li>A civil servant <strong>investigates a pain point</strong> affecting citizens dealing with government.</li>
        <li>A team of two to four <strong>builds a product</strong> in under six months using modern technologies.</li>
        <li>The team <strong>scales the service out</strong> by meeting the needs of a broader user population.</li>
        <li>A public sector body <strong>assumes ownership</strong> of the product and continuously improves it.</li>
    </ol>

    <a href="about" class="primary cta">More information</a>

    <a href="/communaute" class="primary success cta">A community of {{ site.authors | size }} people (fr)&nbsp;&nbsp;➤</a>
</section>
