.dropdown {
    position: relative;
    z-index: 100;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 10px;
    top: 100%;
    background-color: #fff;
    min-width: 110px;
    text-align: center;
    padding: 0;
    z-index: 1;
    list-style-type: none;
}

.dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
  background-color: $light-grey;
}

.dropdown.open .dropdown-content {
  display: block;
}
