footer {
    flex: none;
}

footer {
    display: flex;
    flex-direction: column;
    z-index: 0;
}

footer a {
    text-decoration: none;
}

footer .footer-main {
    background: #26353f;
    color: #FFF;
    bottom: 0;
    width: 100%;
    text-shadow: none;
}

footer .links {
    margin-bottom: 2em;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    font-size: 90%;
}

footer ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

footer ul:last-child {
    margin-right: 0;
}

footer li {
    list-style-type: none;
    display: inline-block;
    margin-bottom: .5em;
}

footer li a:hover {
    text-decoration: underline;
}

@media (max-width: 414px) {
    footer .links {
        flex-direction: column;
        align-items: flex-start;
        padding-left: 1em;
    }

    footer .links li {
        margin-bottom: 0.9em;
    }
}

@media (max-width: 768px) {
    footer .subscribe {
        padding: 88px 0;
    }

    footer li i.icon {
        display: none;
    }

    footer li {
        font-size: 0.9em;
        line-height: 1.2em;
    }
}

@media (max-width: 1024px) {
    footer .subscribe {
        padding: 104px 0;
    }
}
@media (max-width: 1280px) {
    footer .subscribe {
        padding: 116px 0;
    }
}
