/* Modifications du style pour faciliter la lecture */

.richtext {
  font-size: 1.125em;
}

.richtext h1 {
  font-size: 2.25em;
}

.richtext h2 {
  font-size: 1.75em;
}

.richtext h3 {
  font-size: 1.50em;
}

/* Augmenter la taille de la colonne visible pour les articles */

.article__container {
  max-width: 45em;
}

/* Utilisation du style de quote pour les blockquotes en attendant un patch */

blockquote {
  background-color: #ebeff3;
  border-left: 8px solid #c9d3df;
  padding: 4px 0 4px 25px;
}

/* Margin pour le bouton de la newsletter */

.form__group + .button {
    margin-top: 2em;
}
