@import "theme";
@import "header";

html {
    height: 100%;
}

body {
    position: relative;
    padding: 0;
    display: flex;
    height: 100%;
    flex-direction: column;
    background-color: $theme-background-grey;
}

footer {
    flex: none;
}

main {
    flex: 1 0 auto;
    width: 100%;
    z-index: 2;
    background-color: $theme-background-grey;
}

body, .menu {
    font-family: "Century Gothic", "Gilles Sans", "Open Sans", "Helvetica Neue", "Arial", sans-serif;
}

.menu {
    text-align: right;
}

.ui.secondary.menu .item {
    padding: 1em;
}

.ui.secondary.menu {
    margin-right: 0;
}

/* degradability, see http://bitsofco.de/styling-broken-images */
img {
    font-family: inherit;
}

a {
    color: inherit;
}

a i.icon {
    text-decoration: none;
}

blockquote {
    color: $theme-grey-text;
    border-left: .2em solid $theme-border-grey;
    margin-left: 0;
    padding-left: 2em;
}

.cta {
    cursor: pointer;
    font-weight: bold;
    text-decoration: none;
}

.primary.cta, .secondary.cta {
    font-size: 1.2rem;
    padding: .75em;
    margin: .75em;
}

.primary.investigation.cta {
    color: white;
}

a.secondary.cta {
    background-color: transparent;
}

.cta:hover, .cta:focus {
    text-decoration: underline;
}

body > a, body > footer a {
    text-decoration: none;
}

#logo {
    color: transparent;
    background-image: url(/img/logo.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left center;
    padding-right: 1.5em;
}

.ui.container.padded, section {
    padding: 3em 0;
}

body > footer {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    z-index: 0;
}

body > footer .footer-main {
    background: #26353f;
    color: #FFF;
    bottom: 0;
    width: 100%;
    text-shadow: none;
}

@media (max-width: 768px) {
    body > footer .subscribe {
            padding: 88px 0;
    }
}
@media (max-width: 1024px) {
    body > footer .subscribe {
            padding: 104px 0;
    }
}
@media (max-width: 1280px) {
    body > footer .subscribe {
            padding: 116px 0;
    }
}

body .subscribe {
    padding: 120px 0;
    font-size: 70%;
}

body .subscribe label.title {
    display: block;
    text-align: center;
    width: 100%;
    margin: 15px 0;
    font-size: 1.5em;
    font-weight: bold;
}

body .subscribe form {
    margin: 0 auto;
    max-width: 420px;
    width: 100%;
}

body .subscribe form label.icon {
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 8px 0;
    display: block;
    cursor: pointer;
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding: 24px;
}

body .subscribe .input-container {
    position: relative;
}

body .subscribe form input[type=submit] {
    display: none;
}

body .subscribe form input[type=email] {
    transition: all .25s ease-in-out;
    width: 100%;
    border: none;
    outline: none;
    padding: 16px 64px 16px 20px;
    background-color: #f6f8fe;
    font: inherit;
    line-height: 1.6;
    font-size: 1.3em;
    color: #5c5f6e;
    border-radius: 2px;
}

body .subscribe .social-links {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    font-size: 1.2em;
}

body .subscribe .social-links svg {
    height: 1.2em;
    vertical-align: middle;
}

body .subscribe .social-links a {
    margin-right: 30px;
}

body .subscribe .social-links a:last-child {
    margin-right: 0;
}

body > footer .links {
    margin-bottom: 2em;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    font-size: 90%;
}

@media (max-width: 414px) {
    body > footer .links {
        flex-direction: column;
        align-items: flex-start;
        padding-left: 1em;
    }

    body > footer .links li {
        margin-bottom: 0.9em;
    }
}

body > footer ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

body > footer ul:last-child {
    margin-right: 0;
}

body > footer li {
    list-style-type: none;
    display: inline-block;
    margin-bottom: .5em;
}

@media (max-width: 768px) {
    body > footer li i.icon {
        display: none;
    }

    body > footer li {
        font-size: 0.9em;
        line-height: 1.2em;
    }
}

body > footer li a:hover {
    text-decoration: underline;
}

.investigation {
    background-color: #128297;
}

.construction {
    background-color: #067b94;
}

.consolidation {
    background-color: #04677c;
}

.passation {
    background-color: #067071;
}

.death {
    color: #000;
    background-color: #767473;
}

.retirement {
    color: #111;
    background-color: #b3b4b6;
}

.success {
    color: #222;
    background-color: #FFD700;
}

a.ui.card {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

h1.site-description {
    text-align: center;
    text-transform: uppercase;
    padding: 1em 0;
    font-weight: normal;
}

#masthead {
    background-size: cover;
    background-position: top center;
    background-attachment: fixed;
    padding: 5em 0 2.5em;
    color: white;
    background-color: #CCC;
    box-shadow: inset 0em 0em 1em #666;
    background-blend-mode: darken;
    position: relative;
    text-shadow: 7px 3px 16px #000;
}

#masthead .masthead-wrapper {
    max-width: 740px;
    width: 100%;
    padding: 0 20px;
    margin: 0 auto;
}

#masthead h1 {
    font-size: 300%;
    text-align: left;
    font-weight: bold;
    line-height: 1.25;
    max-width: 20em;
    margin: 0;
    padding: 0;
}

.ui.text.container {
    padding: 1em 0;
}

@media (min-width: 100em) {
    #masthead {
        font-size: 120%;
        padding: 14em;
    }
    #masthead .subtitle {
        left: 14em;
    }
}

@media (max-width: 50em) {
    #masthead {
        padding: 2em;
    }

    #masthead .subtitle {
        left: 2em;
    }

    .large.screen.only {
        display: none !important;
    }
}

@media (max-width: 34em) {
    #masthead {
        padding: 1em 0;
    }

    #masthead h1 {
        font-size: 200%;
        text-align: center;
    }

    #masthead .subtitle {
        position: relative;
        text-align: center;
    }

    .ui.action.input {
        display: block;
    }

    .ui.horizontal.divider {
        white-space: normal;
    }
}

iframe {
    border-width: 0px;
    width: 100%;
}

.screenreader-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}

.subtitle {
    margin-top: -30px;
}

.external-link {
    color: green;
}

.author a {
    text-decoration: none;
}

.author .tiny.label {
    margin-bottom: 4px;
}

.author .tiny.label a {
    color: black;
}

.author .image {
    margin-bottom: 1em;
}

.author img {
    width: calc(25vw - 2.5em);
    height: auto;
    border-radius: 3px;
}

@media (max-width: 414px) {
    .author .image {
        float: right;
        margin-right: 0;
        margin-bottom: 1em;
        margin-left: 1em;
        width: 35px;
        height: auto;
        font-size: .71428571rem;
    }
}
