@import "theme";
@import "header";
@import "footer";
@import "subscribe";

/* degradability, see http://bitsofco.de/styling-broken-images */
img {
    font-family: inherit;
}

a i.icon {
    text-decoration: none;
}

.investigation {
    background-color: #1a85ff;
}

.construction {
    background-color: #006be6;
}

.consolidation {
    background-color: #0053B3;
}

.passation {
    background-color: #003b80;
}

.death {
    color: #000;
    background-color: #8393a7;
}

.retirement {
    color: #111;
    background-color: #adb9c9;
}

.success {
    color: #222;
    background-color: #03bd5b;
}

h1.site-description {
    text-align: center;
    text-transform: uppercase;
    padding: 1em 0;
}

iframe {
    border-width: 0px;
    width: 100%;
}

.screenreader-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}

.subtitle {
    margin-top: -30px;
}

.external-link {
    color: green;
}

.hero {
  height: 38vh;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero__container {
  z-index: 10;
}

.hero img {
  width: 100%;
  filter: brightness(0.5);
  position: absolute;
  z-index: 5;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 30px;
  margin-top: 25px;
  justify-items: center;
  justify-content: space-evenly;
}

a.card,
footer a {
  text-decoration: none;
}