.subscribe {
    padding: 120px 0;
    font-size: 70%;
}

.subscribe label.title {
    display: block;
    text-align: center;
    width: 100%;
    margin: 15px 0;
    font-size: 1.5em;
    font-weight: bold;
}

.subscribe form {
    margin: 0 auto;
    max-width: 420px;
    width: 100%;
}

.subscribe form label.icon {
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 8px 0;
    display: block;
    cursor: pointer;
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding: 24px;
}

.subscribe .input-container {
    position: relative;
}

.subscribe form input[type=submit] {
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
}

.subscribe form input[type=email] {
    transition: all .25s ease-in-out;
    width: 100%;
    border: none;
    padding: 16px 64px 16px 20px;
    background-color: #f6f8fe;
    font: inherit;
    line-height: 1.6;
    font-size: 1.3em;
    color: #5c5f6e;
    border-radius: 2px;
}

.subscribe .social-links {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    font-size: 1.2em;
}

.subscribe .social-links svg {
    height: 1.2em;
    vertical-align: middle;
}

.subscribe .social-links a {
    margin-right: 30px;
}

.subscribe .social-links a:last-child {
    margin-right: 0;
}
