$lighter-grey: #F3F3F3;
$light-grey: #C9D3DF;
$dark-grey: #8393A7;
$darker-grey: #53657D;

$theme-background-grey: $lighter-grey;
$theme-box-shadow: $light-grey;
$theme-border-grey: $dark-grey;
$theme-grey-text: $darker-grey;
