@font-face {
  font-family: Marianne;
  src: url("https://beta.gouv.fr/assets/fonts/Marianne-Light.woff2") format("woff2"), url("https://beta.gouv.fr/assets/fonts/Marianne-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: Marianne;
  src: url("https://beta.gouv.fr/assets/fonts/Marianne-Light_Italic.woff2") format("woff2"), url("https://beta.gouv.fr/assets/fonts/Marianne-Light_Italic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: Marianne;
  src: url("https://beta.gouv.fr/assets/fonts/Marianne-Regular.woff2") format("woff2"), url("https://beta.gouv.fr/assets/fonts/Marianne-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: Marianne;
  src: url("https://beta.gouv.fr/assets/fonts/Marianne-Regular_Italic.woff2") format("woff2"), url("https://beta.gouv.fr/assets/fonts/Marianne-Regular_Italic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: Marianne;
  src: url("https://beta.gouv.fr/assets/fonts/Marianne-Medium.woff2") format("woff2"), url("https://beta.gouv.fr/assets/fonts/Marianne-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: Marianne;
  src: url("https://beta.gouv.fr/assets/fonts/Marianne-Medium_Italic.woff2") format("woff2"), url("https://beta.gouv.fr/assets/fonts/Marianne-Medium_Italic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: Marianne;
  src: url("https://beta.gouv.fr/assets/fonts/Marianne-Bold.woff2") format("woff2"), url("https://beta.gouv.fr/assets/fonts/Marianne-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: Marianne;
  src: url("https://beta.gouv.fr/assets/fonts/Marianne-Bold_Italic.woff2") format("woff2"), url("https://beta.gouv.fr/assets/fonts/Marianne-Bold_Italic.woff") format("woff");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: Spectral;
  src: url("https://beta.gouv.fr/assets/fonts/Spectral-Regular.woff2") format("woff2"), url("https://beta.gouv.fr/assets/fonts/Spectral-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: Spectral;
  src: url("https://beta.gouv.fr/assets/fonts/Spectral-ExtraBold.woff2") format("woff2"), url("https://beta.gouv.fr/assets/fonts/Spectral-ExtraBold.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
