main .fr-container img {
  width: 100%;
}

.hero {
  width: 100%;
  color: var(--grey-1000-50);
  background: #0053b3;
}

.hero__container {
  min-height: 38vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 2em;
}

.hero p {
  margin: 1em auto;
  color: #26353f;
  font-size: 1.2em;
  font-style: italic;
}

.article__hero {
  height: 25vh;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.article__hero img {
  width: 100%;
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="linear" slope="0.5" /><feFuncG type="linear" slope="0.5" /><feFuncB type="linear" slope="0.5" /></feComponentTransfer></filter></svg>#filter');
  -webkit-filter: brightness(0.5);
  filter: brightness(0.5);
  position: absolute;
  z-index: 5;
}

.article__hero .article__container {
  z-index: 10;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: start;
  width: 100%;
}

.hero__startup__mission {
  color: #4941c0;
}

/* Couleurs de sections et espacemements */
.section-grey {
  background-color: #e9e6fc;
}

.section-lightgrey {
  background-color: #f3f6ff;
}

.section-lightgrey h1 {
  color: #1e1e1e;
}

.section-lightgrey .section-highlight {
  color: #484d7a;
}

.section-dark {
  background-color: #1c1c1c;
  color: var(--grey-1000-50);
}

.section-color,
.section-color h2 {
  background-color: #003b80;
  color: var(--grey-1000-50);
}

/*
 Ci-dessous, modifications temporaire au système de design
*/

/* Afficher le curseur même quand on est sur la page active */
.fr-nav__item--active > .fr-nav__link {
  pointer-events: all !important;
}

/* Surcharger la classe reverse qui est mise par défaut sur les cartes */
/* .fr-card {
  flex-direction: column !important;
} */

.fr-card__body {
  padding: 1em;
}

/* Ajouter un nouveau style rond sur les cartes */
.fr-card.fr-card__img__rounded {
  background: linear-gradient(180deg, #ffffff00 20%, #f9f8f6 20%);
}

.fr-card.fr-card__img__rounded:not([disabled]):hover {
  background: linear-gradient(180deg, #ffffff00 20%, #f9f8f6 20%);
}

.avatar {
  background: var(--background-default-grey);
}

.fr-card__img img.avatar-rounded {
  border-radius: 50%;
  width: 100%;
  margin: auto;
  max-width: 50%;
  aspect-ratio: auto;
}

/* Ajouter un modificateur de tags pour les rendre inactifs */
a.fr-tag.fr-tag--inactive,
button.fr-tag.fr-tag--inactive {
  color: var(--g700);
  background-color: var(--bf100-g750);
}

.fr-tag--inactive:hover {
  background-color: var(--bf300-plain);
}

.fr-tags-group a.fr-tag--sm,
.fr-tags-group button.fr-tag--sm {
  margin-right: 0.1rem !important;
  margin-bottom: 0.9rem !important;
}

/* Garantir qu'un <p> dans un <li> ne s'affiche pas sur la ligne suivant */
ol li p,
ul li p {
  display: inline;
}

/* Pas trouvé comment faire ça avec les classes du DS */
#tabpanel-membres .link_to_members {
  margin-bottom: 4rem;
  text-align: end;
}

/* Augmenter la taille de la colonne visible pour les articles */
.article__container {
  max-width: 45em;
}

/* Styles pour les iframes de vidéos */

.video-iframe-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 749px) {
  .video-iframe-center {
    width: 100%;
  }
}

@media (min-width: 750px) {
  .video-iframe-center {
    text-align: center;
    width: 75%;
  }
}

.video-iframe-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}

.video-iframe-container iframe,
.video-iframe-container object,
.video-iframe-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0px;
}

.card__cover {
  height: 100px;
}

.card__cover img {
  object-position: top;
}

.startup__title {
  color: #0053b3;
}

.filters {
  padding: 1em 0;
  background-color: var(--background-alt-grey);
}

.filters h2 {
  margin-bottom: 0;
}

.filters .fr-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1em;
}

.filters #search-input {
  grid-column: 3;
  z-index: 2;
}

.filters .fr-collapse::before {
  content: none;
}

@media (max-width: 1200px) {
  .filters .fr-container {
    grid-template-columns: repeat(3, 1fr);
  }

  .filters input#search-input {
    grid-column: 3;
  }
}

.markdown p {
  font-size: 1rem;
  line-height: 1.5rem;
  margin: 0 0 1rem;
}

@media (max-width: 1000px) {
  .incubator-header .incubator-logo {
    display: none;
  }
}

/* Hack pour que les menus sticky restent visibles */
.sticky {
  z-index: 1;
}

/* Pour ne pas avoir de marge quand on a une seule ligne de grid-row */

.fr-grid-row--gutters:last-of-type {
  margin-bottom: 0;
}

/* Sous-titre de carte */

.job-team-animation-container {
  width: 100%;
  position: relative;
}

.job-team-animation-background {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: all 0.5s ease-out;
  max-height: 200px;
}

.job-team-animation-foreground {
  position: relative;
  width: 100%;
  height: 100%;
  max-height: 200px;
}

/* START SECTION CLASS */
.section-blue {
  background: linear-gradient(270.3deg, rgba(123, 97, 255, 0.46) 3.25%, rgba(123, 97, 255, 0.63) 55.33%, rgba(123, 97, 255, 0.39) 99.82%), linear-gradient(0deg, #00006d, #00006d);
}

.section-white h2 {
  text-align: center;
}

.section-description {
  font-weight: bold;
  color: #4941c0;
}

.section-blue h1,
.section-blue h2,
.section-blue .fr-h2,
.section-blue h3:not(.fr-card__title),
.section-blue h4:not(.fr-card__title),
.section-blue .section-description {
  color: var(--grey-1000-50);
}

.section-blue svg {
  max-height: 200px;
  margin-left: auto;
  margin-right: auto;
}

.section-main {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.section-main .fr-container {
  height: 100%;
}

.section-main h1 {
  color: var(--grey-1000-50);
  text-align: left;
  margin-bottom: 1.2em;
}

.section-main-animation {
  width: 100%;
  height: 100%;
}

.fr-btn--secondary.button-white {
  background-color: var(--grey-1000-50);
  border-color: var(--grey-1000-50);
  box-shadow: inset 0 0 0 1px var(--grey-1000-50);
}

.fr-btn--secondary.button-white-border {
  border-color: var(--grey-1000-50);
  box-shadow: inset 0 0 0 1px var(--grey-1000-50);
  color: var(--grey-1000-50);
}

.section-title,
.section-description {
  text-align: center;
}

.section-principle-list-item {
  margin-bottom: 3em;
}

.section-principle-animation {
  width: 100%;
  height: 100%;
}

.section-principle-list-item .section-principle-list-item-content {
  font-size: 1.2em;
}

.section-principle .row {
  background-color: #f9f8f6;
}

.section-highlight {
  color: #fcdc59;
}

@media (max-width: 749px) {
  .section-main {
    min-height: none;
  }
  .section-principle-animation {
    width: 90%;
    height: 90%;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
}

/* END SECTION CLASS */

@media (max-width: 980px) {
  .hidden-mobile {
    display: none;
  }
}

.bigger-font {
  font-weight: bold;
  font-size: 3.5em;
  margin-right: 0.5em;
}

.text-purple {
  color: #4941c0;
}

.text-white {
  color: var(--grey-1000-50);
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.startups {
  margin: 1rem auto;
}

.startups .fr-card__img img {
  object-fit: cover;
}

img.lozad {
  background-color: var(--background-contrast-grey);
  height: 100%;
  width: 100%;
}

:root {
  --hero-gradient-start: var(--artwork-decorative-blue-france);
  --hero-gradient-stop: var(--blue-france-975-75);
}

.hero-section {
  background: linear-gradient(var(--hero-gradient-start), var(--hero-gradient-stop));
}

.fr-illu {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 3rem !important;
  margin: 1rem 0;
}

.fr-illu img {
  max-width: 120px;
}

.fast-cta {
  background: var(--artwork-decorative-blue-france);
}

.fr-tile.tile-highlight {
  box-shadow: unset;
  background: transparent;
}

mark {
  background-color: var(--yellow-tournesol-950-100);
  padding: 0 0.3rem;
  margin: 0 -0.3rem;
}

.search-card {
  position: sticky !important;
  height: fit-content !important;
  top: 3rem;
  margin-bottom: 3rem;
}

#realisations .hero-section img {
  max-height: 12.5rem;
  object-fit: contain;
}

#realisations ul.checkmark-list {
  list-style-image: url(/assets/images/icons/list-checkmark.svg);
  padding-inline-start: 2rem;
}

#realisations .explore-startups {
  background-color: var(--yellow-tournesol-975-75);
  border-radius: 0rem 0rem 6rem 0rem;
}

#incubateurs .hero-section img {
  max-height: 12.5rem;
  object-fit: contain;
}

#incubateurs ul.checkmark-list {
  list-style-image: url(/assets/images/icons/list-checkmark.svg);
  padding-inline-start: 2rem;
}

#incubateurs .incubator-onboarding {
  border-radius: 0rem 0rem 6rem 0rem;
}

@media screen and (min-width: 768px) {
  #incubateurs ul.checkmark-list {
    columns: 2;
    column-gap: 40px;
  }
}

.fr-card img.incubator-logo {
  height: 150px;
  object-fit: contain;
  background-color: transparent;
}

#incubator-view img.incubator-logo {
  max-height: 150px;
  object-fit: contain;
  object-position: center;
}

.blue-background {
  background: var(--background-alt-blue-france);
}

#job-page p {
  margin: 1.5rem 0 0 0;
}

#job-page h2,
#job-page h3 {
  margin: 3rem 0 1rem 0;
}

.startup-timeline {
  display: flex;
  margin: 30px 0;
}

.startup-timeline > p {
  border-top: 0.5rem solid var(--background-contrast-grey);
  flex: 1 0 auto;
  margin: 3px;
  padding: 5px;
}

@media screen and (max-width: 768px) {
  .startup-timeline {
    display: block;
  }
  .startup-timeline > p {
    width: 200px;
    margin-bottom: 2rem;
  }
}

.startup-timeline > p.active {
  border-color: var(--background-action-low-blue-france);
}

.startup-timeline > p.success {
  border-color: var(--background-action-low-green-emeraude);
}

.startup-timeline > p.finished {
  border-color: var(--background-action-low-red-marianne);
}

table + h3 { margin-top: 2em; }

/* Mise en page des graphiques Metabase sur la page Stats */
iframe.graph {
  width: 100%; 
  border: 0; 
  background-color: transparent;
}  
iframe.graph.h300 {
  height: 300px;    
}
iframe.graph.h800 {
  height: 800px;    
}
