<!DOCTYPE html>
<html class="no-js" lang="fr">
    {% include head.html %}
    <body>
        <svg style="position: absolute; width: 0; height: 0; overflow: hidden;" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <defs>
                <symbol id="icon-github">
                    <title>github</title>
                    <path d="M16,0.395c-8.836,0 -16,7.163 -16,16c0,7.069 4.585,13.067 10.942,15.182c0.8,0.148 1.094,-0.347 1.094,-0.77c0,-0.381 -0.015,-1.642 -0.022,-2.979c-4.452,0.968 -5.391,-1.888 -5.391,-1.888c-0.728,-1.849 -1.776,-2.341 -1.776,-2.341c-1.452,-0.993 0.11,-0.973 0.11,-0.973c1.606,0.113 2.452,1.649 2.452,1.649c1.427,2.446 3.743,1.739 4.656,1.33c0.143,-1.034 0.558,-1.74 1.016,-2.14c-3.554,-0.404 -7.29,-1.777 -7.29,-7.907c0,-1.747 0.625,-3.174 1.649,-4.295c-0.166,-0.403 -0.714,-2.03 0.155,-4.234c0,0 1.344,-0.43 4.401,1.64c1.276,-0.355 2.645,-0.532 4.005,-0.539c1.359,0.006 2.729,0.184 4.008,0.539c3.054,-2.07 4.395,-1.64 4.395,-1.64c0.871,2.204 0.323,3.831 0.157,4.234c1.026,1.12 1.647,2.548 1.647,4.295c0,6.145 -3.743,7.498 -7.306,7.895c0.574,0.497 1.085,1.47 1.085,2.963c0,2.141 -0.019,3.864 -0.019,4.391c0,0.426 0.288,0.925 1.099,0.768c6.354,-2.118 10.933,-8.113 10.933,-15.18c0,-8.837 -7.164,-16 -16,-16l0,0Z"/>
                </symbol>
                <symbol id="icon-twitter">
                    <title>twitter</title>
                    <path d="M32,7.075c-1.175,0.525 -2.444,0.875 -3.769,1.031c1.356,-0.813 2.394,-2.1 2.887,-3.631c-1.269,0.75 -2.675,1.3 -4.169,1.594c-1.2,-1.275 -2.906,-2.069 -4.794,-2.069c-3.625,0 -6.563,2.938 -6.563,6.563c0,0.512 0.056,1.012 0.169,1.494c-5.456,-0.275 -10.294,-2.888 -13.531,-6.862c-0.563,0.969 -0.887,2.1 -0.887,3.3c0,2.275 1.156,4.287 2.919,5.463c-1.075,-0.031 -2.087,-0.331 -2.975,-0.819c0,0.025 0,0.056 0,0.081c0,3.181 2.263,5.838 5.269,6.437c-0.55,0.15 -1.131,0.231 -1.731,0.231c-0.425,0 -0.831,-0.044 -1.237,-0.119c0.838,2.606 3.263,4.506 6.131,4.563c-2.25,1.762 -5.075,2.813 -8.156,2.813c-0.531,0 -1.05,-0.031 -1.569,-0.094c2.913,1.869 6.362,2.95 10.069,2.95c12.075,0 18.681,-10.006 18.681,-18.681c0,-0.287 -0.006,-0.569 -0.019,-0.85c1.281,-0.919 2.394,-2.075 3.275,-3.394l0,-0.001Z"/>
                </symbol>
            </defs>
        </svg>
        <header class="navbar">
            <div class="navbar__container">
                <a class="navbar__home" href="/"><img class="navbar__logo" src="/img/logo-betagouv.svg" alt="Accueil de beta.gouv.fr" /></a>

                <nav>
                    <ul class="nav__links">
                        {% assign menu_items = site.pages | where_exp: 'page', 'page.menu_index > 0' | sort: 'menu_index' %}
                        {% for menu_item in menu_items %}
                            {% assign translation = site.pages | where: 'ref', menu_item.ref | where: 'lang', 'en' | first %}
                            {% if page.lang == 'en' and translation %}
                                <li class="nav__item">
                                    <a class="{% if page.url == translation.url %} active{%endif%}" href="{{ translation.url }}">
                                        {{ translation.title }}
                                    </a>
                                </li>
                             {% elsif page.lang == 'en' %}
                                 <li class="nav__item">
                                     <a class="{% if page.url == menu_item.url %} active{%endif%}" href="{{ menu_item.url }}">
                                        {{ menu_item.title }} (fr)
                                    </a>
                                </li>
                             {% else %}
                                 <li class="nav__item">
                                     <a class="{% if page.url == menu_item.url %} active{%endif%}" href="{{ menu_item.url }}">
                                        {{ menu_item.title }}
                                    </a>
                                </li>
                            {% endif %}
                        {% endfor %}

                        {% assign landing_fr = site.pages | where: 'ref', 'landing' | where: 'lang', 'fr' | first %}
                        {% assign landing_en = site.pages | where: 'ref', 'landing' | where: 'lang', 'en' | first %}
                        <li class="dropdown nav__item" id="lang">
                            {% if page.lang == 'en' %}
                                <a href="#lang">Language</a>
                            {% else %}
                                <a href="#lang">Langue</a>
                            {% endif %}
                            <ul class="dropdown-content">
                                <li><a href="{{ landing_fr.url }}">Français&nbsp;🇫🇷</a></li>
                                <li><a href="{{ landing_en.url }}">English&nbsp;🇬🇧</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
        </header>

        <main>
            {{ content }}
        </main>

        <footer>
            {% include footer.html %}
        </footer>

        {% include analytics.html %}

        <script type="text/javascript" src="/js/lib/modernizr-custom.min.js"></script>
        <script type="text/javascript" src="/js/cross-browser.js"></script>

        <script type="text/javascript" src="https://oss.maxcdn.com/jquery/2.2.2/jquery.min.js"></script>
        <script type="text/javascript" src="https://oss.maxcdn.com/semantic-ui/2.1.8/components/transition.min.js"></script>

        {% for file in page.additional_js %}
            <script type="text/javascript" src="{% if file contains '://' %}{{ file }}{% else %}/js/{{ file }}.js{% endif %}"></script>
        {% endfor %}

        <script type="text/javascript" src="/js/dropdown-menu.js"></script>
    </body>
</html>
