---
layout: default
---

{%- assign not_dinum_teams = site.teams |  where_exp:"item", "item.incubator != 'dinum'" -%}
{%- assign dinum_teams = site.teams |  where_exp:"item", "item.incubator == 'dinum' and item.id != '/teams/dinum'" -%}
{%- assign dinum_animation_team = site.teams |  where_exp:"item", "item.id == '/teams/dinum'" -%}

{%- assign teams = dinum_animation_team | concat: dinum_teams | concat: not_dinum_teams -%}
{% assign lang = page.lang | default: site.lang | default: "en" %}
{%- assign incubators = site.incubators -%}
{%- assign current_authors = site.authors | community: 'current' -%}
{%- assign team_authors = current_authors |  where_exp:"item", "item.teams.size != 0" -%}
{%- assign current_authors = site.authors | community: 'current' -%}

<script>
    var authorsteam = [
        {% for current in team_authors %}
            { "id"        : "{{ current.id }}",
                "fullname": "{{ current.fullname}}",
                "link": "{{ current.link }}",
                "role": `{{ current.role }}`,
                {% if current.avatar %} "avatar": "{{ current.avatar }}",{% endif %}
                {% if current.github %} "github": "{{ current.github }}",{% endif %}
                "content" : `{{ current.content }}`,
                "missions": [
                    {% for mission in current.missions %}
                        { "start": "{{mission.start}}", "end": "{{mission.end}}", "status": "{{mission.status}}", "employer": "{{mission.employer}}" }{% unless forloop.last %},{% endunless %}
                    {% endfor %}
                ],
                "incubator": "{{ current.incubator }}",
                "startups": [
                    {% for startup in current.startups %}
                        "{{ startup }}",
                    {% endfor %}
                ],
                "previously": [
                    {% for previous_startup in current.previously %}
                        "{{ previous_startup }}",
                    {% endfor %}
                ],
            }
        {% unless forloop.last %},{% endunless %}
        {% endfor %}
    ];
    var incubators = [
        {% for incubator in incubators %} {
        id: "{{incubator.id}}".replace('/incubators/', ''),
        title: "{{incubator.title}}",
        url: "/startups/?incubateur={{ incubator.id | remove: '/incubators/' }}"
        },
        {% endfor %}
    ];
    var teams = [
        {% for team in teams %}
            { 
                "id": "{{ team.id }}",
                "name": "{{ team.name }}",
                "mission": "{{ team.mission }}",
                "incubator_id": "{{ team.incubator }}"
            }
        {% unless forloop.last %},{% endunless %}
        {% endfor %}
    ];
</script>

{%- capture build_date -%}{{ site.time | date:"%Y-%m-%d" }}{%- endcapture -%} {%- assign lang = page.lang | default:
site.lang | default: "fr" -%}


    <section class="section-blue section-main">
        <div class="fr-container">
            <div class="fr-grid-row fr-grid-row--gutters fr-py-6w">
                <div class="fr-col fr-col-12 fr-col-md-7">
                    <h1>Les equipes d'animations</h1>
                    <p class="fr-h2">
                    <span class="section-highlight">
                    </span>
                    </p>
                    <a class="fr-btn fr-btn--md fr-enlarge-link fr-btn--secondary button-white fr-mt-2w" href="mailto:animation@beta.gouv.fr" title="Contacter l'équipe d'animation - nouvelle fenêtre">Contacter l'équipe d'animation</a>
                </div>
            </div>
        </div>
    </section>
    <section class="fr-py-6w">
        <div class="fr-container">
            <div class="fr-grid-row">
                <div class="fr-col-lg-8 fr-col-md-8 fr-col-sm-12">
                    <label>Filtrer par incubateur</label>
                    <select class="fr-select" id="select-incubateur">
                        <option value="">Tous les incubateurs</option>
                    </select>
                </div>
            </div>
        </div>
    </section>
    <section id="no-data-message" style="display: none;">
        <div class="fr-container">
            <p>Il n'y a pas de résultats qui correspondent à ces filtres</p>
        </div>
    </section>
    {%- for team in teams -%}
    {% capture incubator_id %}/incubators/{{ team.incubator }}{% endcapture %}
    {% assign incubator = site.incubators | find: 'id', incubator_id %}
    <section class="fr-py-6w" id="team-{{ team.id }}">
        <div class="fr-container">
            <div class="fr-grid-row fr-grid-row--gutters">
                <div class="fr-col-8 fr-col-sm-12">
                    {% if team.name %}
                        <h2>{{ team.name }}</h2>
                    {% endif %}
                    {% if not team.name %}
                        <h2>{{ incubator.title }}</h2>
                    {% endif %}
                    <p>{{ team.mission }}</p>
                    {% if team.incubator != 'dinum' and incubator.website %}
                        <a href="{{ incubator.website }}" class="fr-btn fr-btn--secondary fr-fi-arrow-right-line fr-btn--icon-right">
                            Voir le site de l'incubateur
                        </a>
                    {% endif %}
                </div>
            </div>
            <div class="authors fr-grid-row fr-grid-row--gutters">
                <!-- <div class="fr-col-6 fr-col-md-3">{%- include card-team.html team=team -%}</div> -->
                {%- assign authors = team_authors |  where_exp:"item", "item.teams contains team.id" -%} 
                {%- for author in authors -%}
                <div class="fr-col-6 fr-col-md-3">{%- include card-community.html author=author -%}</div>
                {%- endfor -%}
            </div>
        </div>
    </section>
    {%- endfor -%}
    <script src="/assets/additional/js/search-team.js" type="text/javascript"></script>
    <script>
        var urlParams = new URLSearchParams(window.location.search);
        var incubatorValue = urlParams.get('incubateur');
        authorsteam = generateDataWithHtmlCards(authorsteam);
        createIncubatorSelect(authorsteam, teams, incubators, incubatorValue);
    </script>

