---
layout: default
---

{%- assign currents = site.authors | community: 'current', 'oldest' -%}
{%- assign alumnis = site.authors | community: 'past', 'oldest' -%}
{% assign lang = page.lang | default: site.lang | default: "en" %}
{% assign incubators = site.incubators %}

{%- include hero-page.html title=page.title -%}

<div class="fr-container fr-py-6w">
    <div class="fr-tabs">
        <ul class="fr-tabs__list" role="tablist" aria-label="Changer de vue">
            <li role="presentation">
                <button id="tabpanel-actifs-button" class="fr-tabs__tab" tabindex="0" role="tab" aria-selected="true" aria-controls="tabpanel-actifs">Membres actifs</button>
            </li>
            <li role="presentation">
                <button id="tabpanel-alumnis-button" class="fr-tabs__tab" tabindex="-1" role="tab" aria-selected="false" aria-controls="tabpanel-alumnis">Alumni</button>
            </li>
        </ul>
        <div id="tabpanel-actifs" class="fr-tabs__panel fr-tabs__panel--selected" role="tabpanel" aria-labelledby="tabpanel-actifs-button" tabindex="0">
            <h2><span id="currents-count">{{ currents | size }}</span> {{ currents | size | pluralize: "membre actif", "membres actifs" }}</h2>
            <div class="authors fr-grid-row fr-grid-row--gutters">
                {%- for author in currents -%}
                <div class="fr-col-12 fr-col-sm-6 fr-col-md-4 fr-col-lg-3">{%- include card-community.html author=author -%}</div>
                {%- endfor -%}
            </div>
        </div>
        <div id="tabpanel-alumnis" class="fr-tabs__panel" role="tabpanel" aria-labelledby="tabpanel-alumnis-button" tabindex="-1">
            <h2><span id="alumnis-count">{{ alumnis | size }}</span> alumni</h2>
            <div class="alumnis fr-grid-row fr-grid-row--gutters">
                {%- for author in alumnis -%}
                <div class="fr-col-12 fr-col-sm-6 fr-col-md-4 fr-col-lg-3">{%- include card-community.html author=author -%}</div>
                {%- endfor -%}
            </div>
        </div>
    </div>
</div>
