---
layout: default
---

{%- assign current = site.authors | community: 'current', 'alpha' -%}
{%- assign alumnis = site.authors | community: 'past', 'alpha' -%} 

{%- include hero-page.html title=page.title -%}

<div class="fr-container">
    <div class="fr-tabs">
        <ul class="fr-tabs__list" role="tablist" aria-label="Changer de vue">
            <li role="presentation">
                <button id="tabpanel-404" class="fr-tabs__tab" tabindex="0" role="tab" aria-selected="true" aria-controls="tabpanel-actifs">Membres actifs</button>
            </li>
            <li role="presentation">
                <button id="tabpanel-405" class="fr-tabs__tab" tabindex="-1" role="tab" aria-selected="false" aria-controls="tabpanel-alumnis">Alumnis</button>
            </li>
        </ul>
        <div id="tabpanel-actifs" class="fr-tabs__panel fr-tabs__panel--selected" role="tabpanel" aria-labelledby="tabpanel-404" tabindex="0">
            <h2>{{ current | size }} membres actifs</h2>
            <div class="fr-grid-row fr-grid-row--gutters">
                {%- for author in current -%}
                <div class="fr-col-6 fr-col-md-3">{%- include card-community.html author=author -%}</div>
                {%- endfor -%}
            </div>
        </div>
        <div id="tabpanel-alumnis" class="fr-tabs__panel" role="tabpanel" aria-labelledby="tabpanel-404" tabindex="-1">
            <h2>{{ alumnis | size }} alumnis</h2>
            <div class="fr-grid-row fr-grid-row--gutters">
                {%- for author in alumnis -%}
                <div class="fr-col-6 fr-col-md-3">{%- include card-community.html author=author -%}</div>
                {%- endfor -%}
            </div>
        </div>
    </div>
</div>
