---
layout: default
---

{%- capture build_date -%}{{ site.time | date:"%Y-%m-%d" }}{%- endcapture -%} {%- assign lang = page.lang | default:
site.lang | default: "fr" -%}

{% assign brigade_fullnames =
"Rebecca Dumazert, Benoit Serrano, Bréanne Mallat, Fanny Dauchez, Clémence Lopez, Denis Baudot, Inès Hijazi, Lisa Durand, Mael Inizan, Mélodie Dahi, Anna-Livia Gomart, Stéphane Maniaci"
| split: ", "
%}

{% assign title_startups_brigade = "JeVeuxAider.gouv.fr, Santé Psy Étudiant, Aides Jeunes, logement de crise" | split: ", " %}

{% assign startups_brigade = site.startups | where_exp: "startup", "title_startups_brigade contains startup.title" %}

{%- assign authors = site.authors | where_exp: "author", "brigade_fullnames contains author.fullname" -%}

<section class="section-blue section-main">
  <div class="fr-container">
    <div class="fr-grid-row fr-grid-row--gutters fr-py-6w">
      <div class="fr-col fr-col-12 fr-col-md-7">
        <h1>La Brigade de beta.gouv</h1>
        <p class="fr-h2">
          <span class="section-highlight">Vous êtes un cabinet ou une direction d'administration ?
          </span>
          La Brigade vous accompagne dans la création de services publics numériques prioritaires
        </p>
        <a class="fr-btn fr-btn--md fr-enlarge-link fr-btn--secondary button-white fr-mt-2w" href="mailto:brigade@beta.gouv.fr">Contacter la Brigade - nouvelle fenêtre</a>
      </div>
      <div class="fr-col fr-col-12 fr-col-md-5 hidden-mobile">
        <div class="home-hero-anim">
          <object data="/assets/images/teamwork.svg"></object>
        </div>
      </div>
    </div>
  </div>
</section>
<hr class="fr-grid-row fr-col-7 fr-mt-7w">
<section class="fr-py-6w">
  <div class="fr-container">
    <div class="fr-grid-row fr-grid-row--gutters">
      <div class="fr-col-md-8 fr-col-12 fr-col-offset-md-2">
        <h2>Qu’est-ce que la Brigade ?</h2>
        <p>La Brigade de beta.gouv est une équipe multi-disciplinaire d'agents publics experts du numérique
          (entrepreneuriat, développement numérique, design, et impact). Elle intervient en appui des cabinets
          ministériels
          et des directions d’administration pour <b>lancer rapidement des services publics numériques
          interministériels à fort potentiel d’impact</b> social, environnemental ou économique.
        </p>
        <p class="fr-m-0">
          La Brigade fait partie du programme beta.gouv au sein de la Direction Interministérielle
          du Numérique (DINUM) qui vise à
          aider les
          administrations à construire des services numériques pour <b>améliorer la vie des
          usagers et
          renforcer l’efficacité de l’action publique</b>. Depuis 2013, 130 services publics numériques ont été créés dans le cadre du programme.
        </p>
      </div>
    </div>
  </div>
</section>
<hr class="fr-grid-row--end fr-col-offset-2 fr-col-offset-5">
<section class="fr-pt-6w">
  <div class="fr-container">
    <div class="fr-grid-row fr-grid-row--center">
      <h2 class="fr-pb-6w section-title">Les domaines d'intervention de la Brigade</h2>
      <div class="fr-grid-row fr-grid-row--gutters">
        <div class="fr-col-12 fr-col-md-4">
          <div class="fr-card fr-card--no-arrow fr-card--grey">
            <div class="fr-card__body">
              <div class="fr-card__content">
                <p class="bigger-font text-purple">01</p>
                <h3 class="fr-card__title">
                  Gestion de crise et situation d’urgence
                </h3>
                <p class="fr-card__desc">Proposer et mettre en oeuvre rapidement une solution pour répondre à des situations de crise ou d’urgence
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="fr-col-12 fr-col-md-4">
          <div class="fr-card fr-card--no-arrow fr-card--grey">
            <div class="fr-card__body">
              <div class="fr-card__content">
                <p class="bigger-font text-purple">02</p>
                <h3 class="fr-card__title">
                  Politique prioritaire du quinquennat
                </h3>
                <p class="fr-card__desc">Renforcer l’impact d’une politique prioritaire à travers le
                  développement de services publics numériques
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="fr-col-12 fr-col-md-4">
          <div class="fr-card fr-card--grey fr-card--no-arrow">
            <div class="fr-card__body">
              <div class="fr-card__content">
                <p class="bigger-font text-purple ">03</p>
                <h3 class="fr-card__title">
                  Communs numériques interministériels
                </h3>
                <p class="fr-card__desc">Renforcer et soutenir l’action du réseau d’incubateurs
                  beta.gouv et des Startups d’États par la création de
                  communs
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="fr-py-6w">
  <div class="fr-container">
    <h2 class="section-title">Découvrez les services numériques soutenus par la Brigade</h2>
    <div class="fr-col-12 fr-pt-6w">
      <div class="fr-grid-row fr-grid-row--gutters">
        {%- for startup in startups_brigade -%}
          {% include card-startup.html startup = startup %}
        {%- endfor -%}
      </div>
    </div>
  </div>
</section>
<hr class="fr-grid-row fr-col-7">
<section class="fr-py-6w">
  <div class="fr-container">
    <div class="fr-grid-row fr-grid-row--gutters">
      <div class="fr-col-md-8 fr-col-12 fr-col-offset-md-2">
        <h2 class="fr-pb-6w">L'approche Brigade</h2>
        <div class="fr-grid-row fr-grid-row--gutters">
          <div class="fr-col-md-2 fr-col-4">
            <img src="/assets/images/icon_brigade.svg" alt="Illustration Brigade" />
          </div>
          <div class="fr-col-md-10 fr-col-12">
              <h3 class="fr-h6 fr-mb-0">Une logique d’impact confrontée au terrain </h3>
              <p>Rapprocher les prises de décisions des réalités du terrain : telle est l’ambition portée par
              beta.gouv. Grâce à des entretiens usagers et une analyse d’opportunité rigoureuse, la Brigade permet d’éviter les écueils liés aux biais communs (approche
              centrale, besoins des administrations plutôt qu’usagers) et vérifier l’opportunité et le
              potentiel d’impact sur le terrain.</p>
          </div>
        </div>
        <div class="fr-grid-row fr-grid-row--gutters">
          <div class="fr-col-md-2 fr-col-4">
            <img src="/assets/images/icon_politician.svg" alt="Illustration politique" />
          </div>
          <div class="fr-col-md-10 fr-col-12">
              <h3 class="fr-h6 fr-mb-0">Un pilotage interministériel au profit d’une perspective usager cohérente </h3>
                <p>La Brigade a été amenée à porter différents services publics numériques à la croisée de différentes
                administrations. Pour répondre au besoin de réflexion transversale et usager, le positionnement de
                la Brigade est pertinent, à la fois de part sa vision interministérielle et à la fois par son
                savoir-faire en matière de coordination et de déploiement.</p>
          </div>
        </div>
        <div class="fr-grid-row fr-grid-row--gutters">
          <div class="fr-col-md-2 fr-col-4">
            <img src="/assets/images/icon_pressure.svg" alt="Illustration pression" />
          </div>
          <div class="fr-col-md-10 fr-col-12">
              <h3 class="fr-h6 fr-mb-0">Une méthodologie d’accompagnement adaptée et rythmée par jalons </h3>
                <p>Pour chaque demande entrante, des échanges visant à qualifier le brief permettent d’identifier si la
                Brigade est l’équipe la plus pertinente pour intervenir. S’ensuit une phase de cadrage ou
                d’investigation visant à formaliser le besoin et l’opportunité de solution, à la suite de laquelle,
                à condition que l’enjeu ait été évalué comme réel, tangible et actionnable, la Brigade intervient
                dans une phase de construction. Celui-ci est alors testé sur le terrain avant d’être transféré au
                sein de l’administration porteuse.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<hr class="fr-grid-row--end fr-col-offset-2 fr-col-offset-5 fr-mb-7w">

<section class="fr-py-6w section-grey">
  <div class="fr-container">
    <div class="fr-grid-row fr-grid-row--center">
      <div>
        <div class="fr-grid-row fr-grid-row--gutters startups fr-pb-6w">
          <div class="fr-col-md-8 fr-col-12 fr-col-offset-md-2">
            <h2 class="section-title">Les piliers de l’approche “Startup d’État”</h2>
            <p class="section-description fr-m-0">Les services publics numériques soutenus par la Brigade sont construits selon l’approche beta.gouv, aussi appelée approche Startup d’Etat.</p>
          </div>
        </div>
        <div class="fr-grid-row fr-grid-row--gutters startups">
          <div class="fr-col-12 fr-col-md-4">
            <div class="fr-tile">
              <div class="fr-tile__body">
                <h3 class="fr-tile__title">
                  Pilotage par l'impact
                </h3>
                <p class="fr-tile__desc">Nous travaillons sans préjuger du résultat final. Seul l'impact compte.
                </p>
              </div>
            </div>
          </div>
          <div class="fr-col-12 fr-col-md-4">
            <div class="fr-tile">
              <div class="fr-tile__body">
                <h3 class="fr-tile__title">
                  Une approche itérative
                </h3>
                <p class="fr-tile__desc">Un premier produit au contact des utilisateurs le plus vite possible et une logique d’amélioration continue.
                </p>
              </div>
            </div>
          </div>
          <div class="fr-col-12 fr-col-md-4">
            <div class="fr-tile">
              <div class="fr-tile__body">
                <h3 class="fr-tile__title">
                  Les besoins des usagers sont prioritaires
                </h3>
                <p class="fr-tile__desc">Les priorités sont guidées par les retours de ses utilisateurs et non par les besoins de l’administration.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="fr-py-6w">
  <div class="fr-container">
    <div class="fr-grid-row fr-grid-row--gutters">
      <div class="fr-col-md-10 fr-col-12 fr-col-offset-md-1">
        <h2 class="fr-pb-6w">Les étapes de l'intervention de la Brigade de beta.gouv</h2>
        <div class="fr-grid-row fr-grid-row--gutters fr-mb-6w">
          <div class="fr-col-md-4 fr-col-12">
            <img src="/assets/images/step_1_brigade.svg" alt="Illustration des étapes de la Brigade" />
          </div>
          <div class="fr-col-md-8 fr-col-12">
            <h3 class="fr-text--md fr-mb-0">Cadrage</h3>
            <h4>
              Définir les conditions d'engagement de la Brigade
            </h4>
            <div class="fr-mb-4w fr-p-1w fr-col-md-6 fr-col-sm-12 fr-mt-2w section-grey">
              <span aria-hidden="true">📅</span><b> 1 à 2 réunion(s) </b><br>
              <span aria-hidden="true">☝️</span> La Brigade et le sponsor
            </div>
            <p class="fr-mb-2w">S’aligner sur le cadre d’intervention de la Brigade en définissant les objectifs et les indicateurs d’impact attendu.</p>

            <a class="fr-btn fr-btn--md fr-mt-2w" href="mailto:brigade@beta.gouv.fr">Proposer un sujet à la Brigade - nouvelle fenêtre</a>
          </div>
        </div>

        <div class="fr-grid-row fr-grid-row--gutters fr-mb-6w">
          <div class="fr-col-md-4 fr-col-12">
            <img src="/assets/images/step_2_brigade.svg" alt="Illustration des étapes de la Brigade" />
          </div>
          <div class="fr-col-md-8 fr-col-12">
            <h3 class="fr-text--md fr-mb-0">Investigation</h3>
            <h4>
              Qualifier le problème à résoudre
            </h4>
            <div class="fr-mb-4w fr-p-1w fr-col-md-8 fr-col-sm-12 fr-mt-2w section-grey">
              <span aria-hidden="true">📅</span><b> 10 jours</b> à <b>2 mois</b><br>
              <span aria-hidden="true">☝️</span> La Brigade et un expert métier
            </div>
            <p class="fr-mb-2w">
              Valider que le problème peut être résolu par le numérique en rencontrant des utilisateurs pour
              qualifier le problème et imaginer des ébauches de solutions.<br>
            </p>
          </div>
        </div>
        <div class="fr-grid-row fr-grid-row--gutters fr-mb-6w">
          <div class="fr-col-md-4 fr-col-12">
            <img src="/assets/images/step_3_brigade.svg" alt="Illustration des étapes de la Brigade" />
          </div>
          <div class="fr-col-md-8 fr-col-12">
            <h3 class="fr-text--md fr-mb-0">Construction</h3>
            <h4>
              Démontrer l'impact de la solution
            </h4>
            <div class="fr-mb-4w fr-p-1w fr-col-md-8 fr-col-sm-12 fr-mt-2w section-grey">
              <span aria-hidden="true">📅</span><b> 2 à 6 mois</b><br>
              <span aria-hidden="true">☝️</span> La Brigade
            </div>
            <p class="fr-mb-2w">
              Construire une première version du service et la rendre disponible rapidement pour itérer avec les
              utilisateurs.
            </p>
          </div>
        </div>
        <div class="fr-grid-row fr-grid-row--gutters">
          <div class="fr-col-md-4 fr-col-12">
            <img src="/assets/images/step_4_brigade.svg" alt="Illustration des étapes de la Brigade" />
          </div>
          <div class="fr-col-md-8 fr-col-12">
            <h3 class="fr-text--md fr-mb-0">Transfert</h3>
            <h4>
              Garantir la pérennité du service
            </h4>
            <div class="fr-mb-4w fr-p-1w fr-col-md-8 fr-col-sm-12 fr-mt-2w section-grey">
              <span aria-hidden="true">📅</span><b> 2 à 6 mois</b><br>
              <span aria-hidden="true">☝️</span> La Brigade et une future équipe produit
            </div>
            <p class="fr-mb-2w">
              Créer les conditions de la reprise en assurant la pérennité du projet au sein de son administration
              d'origine.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="fr-py-6w section-blue text-white">
  <div class="fr-container">
    <h2 class="fr-pb-6w">La Brigade, une équipe au coeur du réseau beta.gouv </h2>
    <div class="fr-grid-row fr-grid-row--gutters">
      <div class="fr-col fr-col-12 fr-col-md-6">
        <img src="/assets/images/seminaire.jpg"
             alt="La communauté au séminaire de septembre 2021" />
      </div>
      <div class="fr-col fr-col-12 fr-col-md-6">
        <p class="fr-text--lg fr-mb-5v">beta.gouv, c'est une communauté définie par :</p>
        <ul>
          <li>une <a href="/approche">approche</a> méthodologique inspirée du lean startup</li>
          <li>un <a href="/approche/manifeste">manifeste</a> proposant une nouvelle façon de concevoir des
            services publics numériques
          </li>
          <li><a href="/communaute/#incubateur">16 incubateurs</a> au sein de l'État</li>
          <li><a href="/communaute">800 personnes</a> ayant différents métiers (expert métier, développement,
            UX, déploiement, coaching ...)
          </li>
          <li><a href="/startups">150 équipes produits</a> qui se consacrent à l'amélioration de la vie des
            citoyens et/ou de l'action publique
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
<section class="fr-py-6w">
  <div class="fr-container">
    <h2 class="fr-pb-6w">L'équipe de la Brigade</h2>
    <div class="fr-grid-row fr-grid-row--gutters">
      {%- for author in authors -%}
        <div class="fr-col-md-3 fr-col-12 fr-mb-2w">{%- include card-community.html author=author -%}</div>
      {%- endfor -%}
    </div>
  </div>
</section>