---
layout: default
---

{%- capture build_date -%}{{ site.time | date:"%Y-%m-%d" }}{%- endcapture -%}

{%- assign lang = page.lang | default: site.lang | default: "fr" -%}
<div class="page article">
  {%- include hero-page.html title=page.title -%}
  {%- assign current = site.authors | community: 'current' -%}
  <section class="section section-white">
    <div class="rf-container">
      <h3>Évolution des effectifs</h3>
      <div id="chart-wrapper">
          <canvas>
              Nous avons actuellement {{ current | length }} membres.
          </canvas>
      </div>
    </div>
    <div class="rf-container">
      <div class="richtext">
      {{ content }}
      </div>
    </div>
  </section>
  <section class="section section-grey">
    <div class="rf-container rf-py-6w rf-px-2w">
      <div class="rf-container-fluid rf-my-6w">
        <h2>Les membres actifs</h2>
        <div class="rf-grid-row rf-grid-row--gutters">
          {%- for author in current -%}
          <div class="rf-col-12 rf-col-md-3">
            {%- include card-community.html author=author -%}
          </div>
          {%- endfor -%}
        </div>
      </div>
    </div>
  </section>

  <section class="section section-white">
    <div class="rf-container rf-py-6w rf-px-2w">
      <div class="rf-container-fluid rf-my-6w">
        <h2>Les anciennes et les anciens</h2>
        <div class="rf-grid-row rf-grid-row--gutters">
          {%- assign alumnis = site.authors | community: 'past' -%}
          {%- for author in alumnis -%}
            <div class="rf-col-12 rf-col-md-3">
              {%- include card-community.html author=author -%}
            </div>
          {%- endfor -%}
        </div>
      </div>
    </div>
  </section>
</div>

<script type="text/javascript">
(function() {
    window.buildDate = '{{ build_date }}';
    window.data = {% render_community_stats %}
})();
</script>
