---
layout: default
---

{%- capture build_date -%}{{ site.time | date:"%Y-%m-%d" }}{%- endcapture -%}

{%- assign lang = page.lang | default: site.lang | default: "fr" -%}
<div class="page article">
  {%- include hero-page.html title=page.title -%}
  {%- assign current = site.authors | community: 'current' -%}
  <section class="section section-white">
    <div class="container">
      <h3>Évolution des effectifs</h3>
      <div id="chart-wrapper">
          <canvas>
              Nous avons actuellement {{ current | length }} membres.
          </canvas>
      </div>
    </div>
    <div class="container">
      <div class="richtext">
      {{ content }}
      </div>
    </div>
  </section>
  <section class="section section-grey">
    <div class="container community">
      <h2>Les membres actifs</h2>
      <div class="grid">
        {%- for author in current -%}
          {%- include card-community.html author=author -%}
        {%- endfor -%}
      </div>
    </div>
  </section>

  <section class="section section-white">
    <div class="container community alumni">
      <h2>Les anciennes et les anciens</h2>
      <div class="grid">
        {%- assign alumnis = site.authors | community: 'past' -%}
        {%- for author in alumnis -%}
          {%- include card-community.html author=author -%}
        {%- endfor -%}
      </div>
    </div>
  </section>
</div>

<script type="text/javascript">
(function() {
    window.buildDate = '{{ build_date }}';
    window.data = {% render_community_stats %}
})();
</script>
