---
layout: default
---

{% assign lang = page.lang | default: site.lang | default: "en" %}

<div id="eig">
    <section style="background: #352AAB" class="fr-mb-4w">
        <div class="fr-container fr-py-5w">
          <div class="fr-grid-row">
            <div class="fr-col-md-8">
              <h1 class="fr-mb-3w" style="color: white">Des entrepreneur·e·s<br/>en résidence dans l’État</h1>
              <p class="fr-text--lead fr-pr-3w" style="color: white;">
                Une nouvelle génération d’Entrepreneur·e·s d’intérêt général (EIG) pour faire émerger, déployer et porter à maturité des services et des plateformes au cœur des politiques publiques.
            </p>
            </div>
            <div class="fr-col-md-3">
              <img class="fr-responsive-img" alt="" src="/assets/images/eig-home.svg" data-fr-js-ratio="true" />
            </div>
          </div>
        </div>
    </section>
    <section class="fr-mb-4w">
        <div class="fr-container-fluid fr-py-3w">
            <div class="fr-container">
                <div class="fr-grid-row">
                    <div class="fr-col">
                        <h2 class="fr-m-0 fr-mt-1w" style="color: var(--text-title-blue-france); text-align: center;">Un programme à la croisée de l’État et de l’entrepreneuriat</h2>
                    </div>
                </div>
                <div class="fr-grid-row fr-grid-row--gutters fr-grid-row--center fr-pt-3w">
                    <!-- Only take a few in case more are defined -->
                    <div class="fr-col-12 fr-col-md-5">
                        <div class="fr-tile fr-tile--horizontal">
                            <div class="fr-tile__body">
                                <div class="fr-tile__content">
                                    <h3 class="fr-tile__title">
                                        Je suis une administration
                                    </h3>
                                    <p class="fr-tile__desc">Je confie à un·e EIG la direction d’un laboratoire d’innovation ou d’un produit numérique à fort enjeu de politique publique.</p>
                                    <!-- <p class="fr-tile__detail">Détail (optionel)</p> -->
                                </div>
                            </div>
                            <div class="fr-tile__header">
                                <div class="fr-tile__pictogram">
                                    <svg aria-hidden="true" class="fr-artwork" viewBox="0 0 80 80" width="80px" height="80px">
                                        <use class="fr-artwork-decorative" href="/assets/gouvfr/artwork/pictograms/buildings/city-hall.svg#artwork-decorative"></use>
                                        <use class="fr-artwork-minor" href="/assets/gouvfr/artwork/pictograms/buildings/city-hall.svg#artwork-minor"></use>
                                        <use class="fr-artwork-major" href="/assets/gouvfr/artwork/pictograms/buildings/city-hall.svg#artwork-major"></use>
                                    </svg>
                                </div>
                            </div>
                        </div>
                      </div>
                      <div class="fr-col-12 fr-col-md-5 fr-col-offset-md-1">
                        <div class="fr-tile fr-tile--horizontal">
                            <div class="fr-tile__body">
                                <div class="fr-tile__content">
                                    <h3 class="fr-tile__title">
                                        Je suis un·e entrepreneur·e
                                    </h3>
                                    <p class="fr-tile__desc">Je mets mon expérience entrepreneuriale au service de l’État pour renforcer l'impact de ses produits numériques.</p>
                                    <!-- <p class="fr-tile__detail">Détail (optionel)</p> -->
                                </div>
                            </div>
                            <div class="fr-tile__header">
                                <div class="fr-tile__pictogram">
                                    <svg aria-hidden="true" class="fr-artwork" viewBox="0 0 80 80" width="80px" height="80px">
                                        <use class="fr-artwork-decorative" href="/assets/gouvfr/artwork/pictograms/environment/human-cooperation.svg#artwork-decorative"></use>
                                        <use class="fr-artwork-minor" href="/assets/gouvfr/artwork/pictograms/environment/human-cooperation.svg#artwork-minor"></use>
                                        <use class="fr-artwork-major" href="/assets/gouvfr/artwork/pictograms/environment/human-cooperation.svg#artwork-major"></use>
                                    </svg>
                                </div>
                            </div>
                        </div>
                      </div>
                </div>
            </div>
        </div>
    </section>
    <section class="fr-mb-4w">
        <div class="fr-container-fluid fr-py-3w">
            <div class="fr-container">
                <div class="fr-grid-row fr-mb-2w">
                    <div class="fr-col">
                        <p class="fr-tag">Administrations</p>
                    </div>
                </div>
                <div class="fr-grid-row fr-mb-3w">
                    <div class="fr-col">
                        <h2 class="fr-m-0 fr-mt-1w">Renforcez votre pilotage stratégique</h2>
                    </div>
                </div>
                <div class="fr-grid-row fr-mt-3w">
                    <div class="fr-col-12 fr-col-md-8">
                        <p class="fr-mb-3w">
                            Vous avez la responsabilité d'un produit clé dans la mise en œuvre d’une politique publique ?
                            <br/>Vous souhaitez structurer sa trajectoire, accroître sa valeur et faire évoluer vos modes de pilotage ?
                            <br/>Mobilisez un·e EIG en mission dans votre administration pour conduire ce changement.
                        </p>
                            <a href="https://www.eig.numerique.gouv.fr/participer/administrations/" class="fr-btn" target="_blank">Je soumets un projet</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="fr-mb-4w">
        <div class="fr-container-fluid fr-py-3w">
            <div class="fr-container">
                <div class="fr-grid-row fr-mb-2w">
                    <div class="fr-col">
                        <p class="fr-tag">Entrepreneur·e·s</p>
                    </div>
                </div>
                <div class="fr-grid-row">
                    <div class="fr-col">
                        <h2 class="fr-m-0 fr-mt-1w">Améliorez concrètement l’action publique</h2>
                    </div>
                </div>
                <div class="fr-grid-row fr-mt-3w">
                    <div class="fr-col-12 fr-col-md-8">
                        <p class="fr-mb-2w">
                            Vous avez déjà exercé des responsabilités dans des environnements en évolution rapide ?
                            <br/>Vous souhaitez servir l’intérêt général et concevoir des services utiles et accessibles à tous·tes ?
                            <br/>Postulez au programme EIG pour améliorer l'efficacité de l'action publique.
                        </p>
                        <a href="https://www.eig.numerique.gouv.fr/participer/candidats/" class="fr-btn" target="_blank">Je dépose ma candidature</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="fr-mb-4w">
        <div class="fr-container-fluid fr-py-3w">
            <div class="fr-container">
                <div class="fr-grid-row fr-grid-row--center">
                    <div class="fr-col-md-8 fr-col-12">
                        <h2 class="fr-m-0 fr-mt-1w" style="color: var(--text-title-blue-france); text-align: center;">3 profils mobilisés</h2>
                        <p style="text-align: center;">
                            Les EIG apportent des compétences clés pour fiabiliser le pilotage dans toutes ses dimensions.
                        </p>
                    </div>
                </div>
                <div class="fr-grid-row fr-grid-row--center fr-pt-3w">
                    <div class="fr-col-12 fr-col-md-3 fr-mb-2w">
                        <div class="fr-card">
                            <div class="fr-card__body">
                                <h3 class="fr-card__title">
                                    Directeur·ice de l’impact
                                </h3>
                                <p class="fr-card__desc">
                                    Définir une stratégie de croissance mesurable et actionnable. Piloter l’évaluation pour maximiser les effets concrets sur le terrain.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="fr-col-12 fr-col-md-3 fr-mb-2w fr-col-offset-md-1">
                        <div class="fr-card">
                            <div class="fr-card__body">
                                <h3 class="fr-card__title">
                                    Directeur·ice de produit
                                </h3>
                                <p class="fr-card__desc">
                                    Piloter la stratégie du produit de bout en bout, de la vision à l’exécution. Prioriser et tester en continu à partir des usages et des données.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="fr-col-12 fr-col-md-3 fr-mb-2w fr-col-offset-md-1">
                        <div class="fr-card">
                            <div class="fr-card__body">
                                <h3 class="fr-card__title">
                                    Directeur·ice technique
                                </h3>
                                <p class="fr-card__desc">
                                    Définir une trajectoire technologique souveraine et accessible. Structurer les pratiques pour déployer des solutions fiables et pérennes.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="fr-mb-4w">
        <div class="fr-container-fluid fr-py-3w">
            <div class="fr-container">
                <div class="fr-grid-row fr-grid-row--center">
                    <div class="fr-col-md-8 fr-col-12">
                        <h2 class="fr-m-0 fr-mt-1w" style="color: var(--text-title-blue-france); text-align: center;">3 cadres d’intervention</h2>
                        <p style="text-align: center;">
                            De l’expérimentation à l’exploitation, les EIG accompagnent la transformation orientée produit.
                        </p>
                    </div>
                </div>
                <div class="fr-grid-row fr-grid-row--center fr-pt-3w">
                    <div class="fr-col-12 fr-col-md-3 fr-mb-2w">
                        <div class="fr-card">
                            <div class="fr-card__body">
                                <h3 class="fr-card__title">
                                    Faire émerger et incuber un produit
                                </h3>
                                <p class="fr-card__desc">
                                    Amorcer une startup d’État ou réorienter un produit. Clarifier sa valeur, tester rapidement, orienter sa trajectoire. Faire émerger des preuves d’impact tangibles.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="fr-col-12 fr-col-md-3 fr-mb-2w fr-col-offset-md-1">
                        <div class="fr-card">
                            <div class="fr-card__body">
                                <h3 class="fr-card__title">
                                    Structurer et étendre le déploiement
                                </h3>
                                <p class="fr-card__desc">
                                    Améliorer la performance, renforcer la qualité de service. Industrialiser, accompagner le passage à l’échelle. Déployer dans des conditions viables.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="fr-col-12 fr-col-md-3 fr-mb-2w fr-col-offset-md-1">
                        <div class="fr-card">
                            <div class="fr-card__body">
                                <h3 class="fr-card__title">
                                    Transformer et ancrer les pratiques
                                </h3>
                                <p class="fr-card__desc">
                                    Développer des capacités durables. Repenser la création de valeur, renouveler les méthodes de travail. Adopter une organisation orientée produit.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
