---
layout: default
---

{% assign lang = page.lang | default: site.lang | default: "en" %}

<div id="eig">
    <section style="background: #352AAB" class="fr-mb-4w">
        <div class="fr-container fr-py-5w">
          <div class="fr-grid-row">
            <div class="fr-col-md-8">
              <h1 class="fr-mb-3w" style="color: white">Entreprendre<br/> pour le service public</h1>
              <p class="fr-text--lead fr-pr-3w" style="color: white;">
                Les Entrepreneur(e)s d'intérêt général pilotent le lancement de services numériques en soutien aux politiques publiques.
            </p>
            </div>
            <div class="fr-col-md-3">
              <img class="fr-responsive-img" alt="" src="/assets/images/eig-home.svg" data-fr-js-ratio="true" />
            </div>
          </div>
        </div>
    </section>
    <section class="fr-mb-4w">
        <div class="fr-container-fluid fr-py-3w">
            <div class="fr-container">
                <div class="fr-grid-row">
                    <div class="fr-col">
                        <h2 class="fr-m-0 fr-mt-1w" style="color: var(--text-title-blue-france); text-align: center;">Nous facilitons le recrutement d'entrepreneur(e)s dans la fonction publique</h2>
                    </div>
                </div>
                <div class="fr-grid-row fr-grid-row--gutters fr-grid-row--center fr-pt-3w">
                    <!-- Only take a few in case more are defined -->
                    <div class="fr-col-12 fr-col-md-5">
                        <div class="fr-tile fr-tile--horizontal">
                            <div class="fr-tile__body">
                                <div class="fr-tile__content">
                                    <h3 class="fr-tile__title">
                                        Je suis une administration
                                    </h3>
                                    <p class="fr-tile__desc">Je confie à un(e) EIG le pilotage de mon service numérique conçu selon l'approche beta.gouv.fr.</p>
                                    <!-- <p class="fr-tile__detail">Détail (optionel)</p> -->
                                </div>
                            </div>
                            <div class="fr-tile__header">
                                <div class="fr-tile__pictogram">
                                    <svg aria-hidden="true" class="fr-artwork" viewBox="0 0 80 80" width="80px" height="80px">
                                        <use class="fr-artwork-decorative" href="/assets/gouvfr/artwork/pictograms/buildings/city-hall.svg#artwork-decorative"></use>
                                        <use class="fr-artwork-minor" href="/assets/gouvfr/artwork/pictograms/buildings/city-hall.svg#artwork-minor"></use>
                                        <use class="fr-artwork-major" href="/assets/gouvfr/artwork/pictograms/buildings/city-hall.svg#artwork-major"></use>
                                    </svg>
                                </div>
                            </div>
                        </div>
                      </div>
                      <div class="fr-col-12 fr-col-md-5 fr-col-offset-md-1">
                        <div class="fr-tile fr-tile--horizontal">
                            <div class="fr-tile__body">
                                <div class="fr-tile__content">
                                    <h3 class="fr-tile__title">
                                        Je suis un(e) entrepreneur(e)
                                    </h3>
                                    <p class="fr-tile__desc">Je mets mon expérience de l'entrepreneuriat et du numérique au service d'une politique publique.</p>
                                    <!-- <p class="fr-tile__detail">Détail (optionel)</p> -->
                                </div>
                            </div>
                            <div class="fr-tile__header">
                                <div class="fr-tile__pictogram">
                                    <svg aria-hidden="true" class="fr-artwork" viewBox="0 0 80 80" width="80px" height="80px">
                                        <use class="fr-artwork-decorative" href="/assets/gouvfr/artwork/pictograms/environment/human-cooperation.svg#artwork-decorative"></use>
                                        <use class="fr-artwork-minor" href="/assets/gouvfr/artwork/pictograms/environment/human-cooperation.svg#artwork-minor"></use>
                                        <use class="fr-artwork-major" href="/assets/gouvfr/artwork/pictograms/environment/human-cooperation.svg#artwork-major"></use>
                                    </svg>
                                </div>
                            </div>
                        </div>
                      </div>
                </div>
            </div>
        </div>
    </section>
    <section class="fr-mb-4w">
        <div class="fr-container-fluid fr-py-3w">
            <div class="fr-container">
                <div class="fr-grid-row fr-mb-2w">
                    <div class="fr-col">
                        <p class="fr-tag">Administrations</p>
                    </div>
                </div>
                <div class="fr-grid-row fr-mb-3w">
                    <div class="fr-col">
                        <h2 class="fr-m-0 fr-mt-1w">Renforcez votre pilotage stratégique</h2>
                    </div>
                </div>
                <div class="fr-grid-row fr-mt-3w">
                    <div class="fr-col-12 fr-col-md-8">
                        <p class="fr-mb-3w">
                            Vous avez la responsabilité de lancer et de passer à l'échelle un service numérique ?
                            Vous souhaitez mobiliser des compétences entrepreneuriales aguerries ?
<br/>Sollicitez l’accueil d’un(e) EIG envoyé(e) en mission dans votre administration.
                        </p>
                            <a href="https://www.eig.numerique.gouv.fr/participer/administrations/" class="fr-btn" target="_blank">Je soumets un projet</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="fr-mb-4w">
        <div class="fr-container-fluid fr-py-3w">
            <div class="fr-container">
                <div class="fr-grid-row fr-mb-2w">
                    <div class="fr-col">
                        <p class="fr-tag">Entrepreneur(e)s</p>
                    </div>
                </div>
                <div class="fr-grid-row">
                    <div class="fr-col">
                        <h2 class="fr-m-0 fr-mt-1w">Faites réussir les projets de l'État</h2>
                    </div>
                </div>
                <div class="fr-grid-row fr-mt-3w">
                    <div class="fr-col-12 fr-col-md-8">
                        <p class="fr-mb-2w">
                            Vous avez une solide expérience entrepreneuriale dans le secteur numérique ? Vous pilotez par les objectifs et les résultats ? 
<br/>Déposez votre dossier de candidatures à la 7ème promotion du programme EIG.
                        </p>
                        <a href="https://www.eig.numerique.gouv.fr/participer/candidats/" class="fr-btn" target="_blank">Je dépose ma candidature</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="fr-mb-4w">
        <div class="fr-container-fluid fr-py-3w">
            <div class="fr-container">
                <div class="fr-grid-row fr-grid-row--center">
                    <div class="fr-col-md-8 fr-col-12">
                        <h2 class="fr-m-0 fr-mt-1w" style="color: var(--text-title-blue-france); text-align: center;">Les nouveautés de la 7ème promotion</h2>
                        <p style="text-align: center;">
                            Le programme EIG se renouvelle et se réoriente au service de la réinternalisation des compétences. Découvrez les principales évolutions.
                        </p>
                    </div>
                </div>
                <div class="fr-grid-row fr-grid-row--center fr-pt-3w">
                    <div class="fr-col-12 fr-col-md-3 fr-mb-2w">
                        <div class="fr-card">
                            <div class="fr-card__body">
                                <h3 class="fr-card__title">
                                    3 profils de pilotage stratégique
                                </h3>
                                <p class="fr-card__desc">
                                    Le programme se concentre désormais sur les compétences orientées produit, technique ou impact.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="fr-col-12 fr-col-md-3 fr-mb-2w fr-col-offset-md-1">
                        <div class="fr-card">
                            <div class="fr-card__body">
                                <h3 class="fr-card__title">
                                    Un contrat de projet d'un an renouvelable
                                </h3>
                                <p class="fr-card__desc">
                                    Les EIG sont recruté(e)s par la DINUM. Elles et ils sont envoyé(e)s en mission dans les administrations lauréates.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="fr-col-12 fr-col-md-3 fr-mb-2w fr-col-offset-md-1">
                        <div class="fr-card">
                            <div class="fr-card__body">
                                <h3 class="fr-card__title">
                                    Une promotion au fil de l'eau en 2024
                                </h3>
                                <p class="fr-card__desc">
                                    La sélection des projets lauréats et le recrutement des EIG sera opéré à rythme bimensuel, à concurrence de 25 EIG.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
