---
layout: default
---
<div id="fast">
  <section class="hero-section">
    <div class="fr-container fr-py-5w">
      <div class="fr-grid-row">
        <div class="fr-col-md-8">
          <h1 class="fr-mb-3w">Augmentez l'impact de votre service numérique public</h1>
          <p class="fr-text--lead fr-pr-3w">Le Fonds d’accélération des Startups d’État et de Territoire (FAST) est un programme d’accélération. Il est destiné aux produits numériques publics qui veulent augmenter leur impact et passer à l’échelle.
          </p>
          <ul class="fr-btns-group fr-btns-group--equisized fr-btns-group--inline-md">
            <li><a href="/fast/sélection" class="fr-btn fr-btn--primary">Découvrir si je suis éligible</a></li>
          </ul>
        </div>
        <div class="fr-col-md-4">
          <img class="fr-responsive-img" alt="" src="/assets/images/fast-home.svg" style="max-width: 400px" />
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="fr-container fr-py-5w">
      <div class="fr-grid-row">
        <h2>Les avantages du FAST</h2>
      </div>

      <div class="fr-grid-row fr-grid-row--gutters">
        <div class="fr-illu fr-col-12 fr-col-md-4">
          <img src="/assets/images/icons/financement.svg" class="fr-responsive-img" alt="">
          <h3 class="fr-h4">Financement</h3>
          <p>pour passer à l'échelle</p>
        </div>
        <div class="fr-illu fr-col-12 fr-col-md-4">
          <img src="/assets/images/icons/experts.svg" class="fr-responsive-img" alt="">
          <h3 class="fr-h4">Montée en compétences</h3>
          <p>grâce à nos experts</p>
        </div>
        <div class="fr-illu fr-col-12 fr-col-md-4">
          <img src="/assets/images/icons/soutien.svg" class="fr-responsive-img" alt="">
          <h3 class="fr-h4">Soutien</h3>
          <p>de la DINUM</p>
        </div>
      </div>
    </div>
  </section>

  <section style="background: var(--background-action-low-blue-france);">
    <div class="fr-container fr-py-5w">
      <div class="fr-grid-row">
        <h2>Changez d'échelle avec le FAST</h2>
      </div>

      <div class="fr-grid-row">
        <div class="fr-col-md-7">
          <p>Vous avez passé beaucoup de temps et d'énergie à construire un produit utile pour vos utilisateurs. Il est temps de passer à l'étape supérieure : <strong>le déployer à l'ensemble du territoire national.</strong></p>

          <ul style="list-style-type: none;">
            <li>
              <span class="fr-h6"><span class="fr-icon-check-line" aria-hidden="true"></span>Accompagnement par des experts</span>
              <ul class="fr-ml-3w fr-mb-2w">
                <li>Mise en place d'une stratégie de déploiement.</li>
                <li>Accompagnement opérationnel par des actions sur l'ensemble du parcours (acquisition, activation, rétention, recommandation, impact)</li>
              </ul>
            </li>
            <li>
              <span class="fr-h6"><span class="fr-icon-check-line" aria-hidden="true"></span>Co-financement de la DINUM</span>
              <ul class="fr-ml-3w">
                <li>Enveloppe budgétaire du sponsor multiplié par 2.</li>
                <li>Jusqu'à 200 000€ par an.</li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="fr-container fr-py-5w">
      <div class="fr-grid-row">
        <div class="fr-col-md-6">
          <h2>Comment bénéficier du FAST ?</h2>

          <div class="fr-grid-row fr-text--lead">
            <ol>
              <li class="fr-my-2w">
                <p>Vérifiez l'éligibilité de votre service.</p>
                <div>
                  <a href="/fast/sélection" class="fr-link--icon-right fr-icon-arrow-right-line fr-link">Voir les critères</a>
                </div>
              </li>
              <li class="fr-my-2w">
                <p>Si besoin, posez vos questions.</p>
                <div>
                  <a href="mailto:fast@beta.gouv.fr" class="fr-link--icon-right fr-icon-arrow-right-line fr-link">Contacter l'équipe</a>
                </div>
              </li>
              <li class="fr-my-2w">
                <p>Déposez votre dossier.</p>
                <div>
                  <a href="{{ site.data.fast.application_link }}" class="fr-link--icon-right fr-icon-arrow-right-line fr-link">Candidater au FAST</a>
                </div>
              </li>
            </ol>

          </div>
        </div>
        <div class="fr-col-md-6">
          <img class="fr-responsive-img" src="/assets/images/checkbox.svg" alt="">
        </div>
      </div>
    </div>
  </section>

  <section class="hero-section">
    <div class="fr-container fr-py-5w">
      <div class="fr-grid-row">
        <h2>La 17ème édition du FAST est en cours</h2>
        <p>
          L'appel à projet est clos depuis juin 2025.
          <strong>1.2 millions d'euros</strong> ont été alloués pour la 17ème édition du FAST.
        </p>
      </div>
    </div>
  </section>

  <section>
    <div class="fr-container fr-py-5w">
      <div class="fr-grid-row">
        <h2>Le FAST les a aidés à changer de dimension</h2>

        <p>Depuis 2019, le FAST a financé <strong>62 services numériques</strong>. La DINUM a ainsi investi plus de <strong>10 millions d'euros</strong>.</p>
      </div>
    </div>
  </section>
</div>
