---
layout: default
---

<!-- {% include hero-with-image.html title=page.summary image="/img/layouts/home/index.jpg" %} -->

<section class="home-section-blue home-section-main" >
  <div class="fr-container">
    <div class="fr-grid-row fr-grid-row--gutters fr-pt-6w">
      <div class="fr-col fr-col-12 fr-col-md-6">
        <h1>Administrations publiques,<br> venez mieux contruire vos solutions numériques avec nous !</h1>

        <button class="fr-btn fr-btn--lg fr-enlarge-link fr-btn--secondary home-button-white">
          <a href="/approche">Découvrir le programme</a>
        </button>
      </div>
      <!-- <svg width="414" height="309" viewBox="0 0 414 309" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M395.112 1H19.1115C9.10879 1 1 5.68923 1 11.4737V297.471C1 303.256 9.10879 307.945 19.1115 307.945H395.112C405.115 307.945 413.224 303.256 413.224 297.471V11.4737C413.224 5.68923 405.115 1 395.112 1Z" stroke="#263238" stroke-linecap="round" stroke-linejoin="round"/>
        </svg> -->
      <div class="fr-col fr-col-12 fr-col-md-6">
        <div class="home-hero-anim">
          <object data="/assets/home/heroanim/screen.svg"></object>
          <object data="/assets/home/heroanim/hand1.svg" id="hero-anim-hand-1"></object>    
          <object data="/assets/home/heroanim/hand2.svg" id="hero-anim-hand-2"></object>
          <object data="/assets/home/heroanim/hand3.svg" id="hero-anim-hand-3"></object>
        </div>
      </div>        
    </div>
  </div>
</section>
<section class="fr-py-6w home-section-product">
  <div class="fr-container">
    <h2 class="home-section-title">Parcourir nos réalisations</h2>
    <p class="home-section-description">Le programme interministériel beta.gouv a déjà contribué à la création de dizaines de services publics numériques.</p>

    <div class="fr-grid-row fr-grid-row--gutters fr-grid-row--center startups">
      {% assign startups = site.startups %}
      {% assign starts = "transport.data.gouv.fr,La Bonne Alternance,Pix,Mon-entreprise.fr" | split: ","  %}
      {% for startup in startups %}
          <!-- {{ startup.title }} -->
          {% if starts contains startup.title %}
            <div class="fr-col-12 fr-col-md-3">
              <div class="fr-card fr-enlarge-link" >
                <div class="fr-card__img">
                  {% include screenshot.html startup=startup force=true %}
                </div>
            
                <div class="fr-card__body">
                  <h4 class="fr-card__title">
                    <a class="fr-card__link" href="{{ startup.url }}" >{{ startup.title | strip_html }}</a>
                  </h4>
            
                  <p class="fr-card__detail">{{ startup.owner | strip_html }}</p>
                  <p class="fr-card__desc">{{ startup.mission | strip_html }}</p>
                </div>
              </div>
            </div>
          {% endif %}
      {% endfor %}
    </div>
    <div class="fr-grid-row fr-grid-row--center fr-grid-row--gutters startups fr-pt-6w">
      <button class="fr-btn fr-btn--lg fr-enlarge-link fr-btn--secondary">
        <a href="/startups">Voir toutes nos réalisations</a>
        
      </button>
    </div>
  </div>
</section>
<section class="fr-py-6w home-section-blue">
<div class="fr-container">
  <div class="fr-grid-row fr-grid-row--center">
    <div>
      <h2 class="home-section-title">beta.gouv fait équipe avec votre administration</h2>
      <p class="home-section-description">
        Intégré au programme, l’agent public appelé “intrapreneur” est 
        au cœur d’une équipe pluridisciplinaire constituée de personnes engagées au service de l’intérêt général. 
      </p>
      <div class="fr-grid-row fr-grid-row--gutters startups">
        <div class="fr-col-12 fr-col-md-4">
          <div class="fr-card fr-card--no-arrow">
            <div class="fr-card__body"> 
              <div class="home-team-animation-container">
                <object data="/assets/home/coach_back.svg" class="home-team-animation-background"></object>    
                <object data="/assets/home/coach.svg" class="home-team-animation-foreground"></object>
              </div>      
              <h3 class="fr-card__title">
                Coach
              </h3>
              <!-- <p class="fr-card__detail">{{ startup.owner | strip_html }}</p> -->
              <p class="fr-card__desc">Accompagne l’intrapreneur(e) grâce à son expertise du numérique et de l’entreprenariat.</p>
            </div>
          </div>
        </div>
        <div class="fr-col-12 fr-col-md-4">
          <div class="fr-card fr-card--no-arrow">
            <div class="fr-card__body">  
              <div class="home-team-animation-container">
                <object data="/assets/home/intra_back.svg" class="home-team-animation-background"></object>    
                <object data="/assets/home/intra.svg" class="home-team-animation-foreground"></object>
              </div>       
              <h3 class="fr-card__title">
                Intrapreneur(e)
              </h3>
              <!-- <p class="fr-card__detail">{{ startup.owner | strip_html }}</p> -->
              <p class="fr-card__desc">Agent public et expert métier, formé par beta.gouv pour devenir responsable d’un produit numérique
              </p>
            </div>
          </div>
        </div>
        <div class="fr-col-12 fr-col-md-4">
          <div class="fr-card fr-card--no-arrow">
            <div class="fr-card__body">
              <div class="home-team-animation-container">
                <object data="/assets/home/deploiement_back.svg" class="home-team-animation-background"></object>    
                <object data="/assets/home/deploiement.svg" class="home-team-animation-foreground"></object>
              </div>      
              <h3 class="fr-card__title">
                Chargé(e) de déploiement
              </h3>
              <!-- <p class="fr-card__detail">{{ startup.owner | strip_html }}</p> -->
              <p class="fr-card__desc">
                Fait augmenter le nombre d’utilisateurs satisfaits du service numérique.
              </p>
            </div>
          </div>
        </div>
        <div class="fr-col-12 fr-col-md-4">
          <div class="fr-card fr-card--no-arrow">
            <div class="fr-card__body">
              <div class="home-team-animation-container">
                <object data="/assets/home/design_back.svg" class="home-team-animation-background"></object>    
                <object data="/assets/home/design.svg" class="home-team-animation-foreground"></object>
              </div>     
              <h3 class="fr-card__title">
                Designer
              </h3>
              <!-- <p class="fr-card__detail">{{ startup.owner | strip_html }}</p> -->
              <p class="fr-card__desc">
                Améliore l’expérience, conçoit et teste les interfaces auprès des utilisateurs.
              </p>
            </div>
          </div>
        </div>
        <div class="fr-col-12 fr-col-md-4">
          <div class="fr-card fr-card--no-arrow">
            <div class="fr-card__body">
              <div class="home-team-animation-container">
                <object data="/assets/home/dev_back.svg" class="home-team-animation-background"></object>    
                <object data="/assets/home/dev.svg" class="home-team-animation-foreground"></object>
              </div>     
              <h3 class="fr-card__title">
                Dévelopeuse ou dévelopeur
              </h3>
              <p class="fr-card__desc">
                Crée le service dans un langage de programmation et l’exploite.
              </p>
            </div>
          </div>
        </div>
        <div class="fr-col-12 fr-col-md-4">
          <div class="fr-card fr-card--no-arrow">
            <div class="fr-card__body">
              <div class="home-team-animation-container">
                <object data="/assets/home/produit_back.svg" class="home-team-animation-background"></object>    
                <object data="/assets/home/produit.svg" class="home-team-animation-foreground"></object>
              </div>                        
              <h3 class="fr-card__title">
                Gestionnaire de produit
              </h3>

              <p class="fr-card__desc">
                Aide l’équipe à prioriser les développements en fonction des besoins des utilisateurs
              </p>
            </div>
          </div>
        </div>        
      </div>
    </div>  
  </div>
  <div class="fr-grid-row fr-grid-row--center fr-grid-row--gutters startups fr-pt-6w">
    <button class="fr-btn fr-btn--lg home-button-white-border fr-btn--secondary fr-enlarge-link">
      <a href="/recrutement">Nous rejoindre</a>
    </button>
  </div>
</div>
</section>
<section class="fr-py-6w home-section-principle">
  <div class="fr-container">
    <div class="centered">
      <h2 class="home-section-title">Notre approche</h2>

      <p class="home-section-description">
        Le programme beta.gouv est fondée sur 3 principes pour construire des services numériques simples, faciles à utiliser et à l’impact maximal.
      </p>
    </div>
    <div class="fr-grid-row fr-grid-row--center fr-grid-row--gutters startups">
      <div class="fr-col-12 fr-col-md-4">
        <object data="/assets/home/manifest.svg" class="home-section-principle-animation"></object>              
      </div>
      <div class="fr-py-6w fr-col-12 fr-col-md-8">
        <p class="home-section-principle-list-item">
          <span class="home-section-principle-list-item-number">1.</span>
          <span class="home-section-principle-list-item-content">Les besoins des utilisateurs sont toujours prioritaires.</span>
        </p>
        <p class="home-section-principle-list-item">
          <span class="home-section-principle-list-item-number">2.</span>
          <span class="home-section-principle-list-item-content">L’équipe travaille sans préjuger à l’avance du résultat final et n’est pilotée que par la mesure de l’impact.</span></p>
        <p class="home-section-principle-list-item">
          <span class="home-section-principle-list-item-number">3.</span>
          <span class="home-section-principle-list-item-content">Nous faisons confiance aux agents publics et à leurs équipes, qui travaillent au plus près du terrain.</span></p>
        <button class="fr-btn fr-btn--lg fr-btn--secondary fr-enlarge-link">
          <a href="/approche/manifeste">Lire notre manifeste</a>
        </button>
      </div>      
    </div>
  </div>
</section>
<!-- <section class="fr-py-12w newsletter">
  <div class="fr-container">
    <form method="post" action="https://app.mailjet.com/widget/iframe/1O2v/9ud" id="newsletter">
      <input type="hidden" id="csrf_token" name="csrf_token" value="MmE2NTZkNWQ0MGQ0Y2IzOWQyZTllOWUxZGI2OWJhMTM2OTJhMDRjNzJjYjM5NWQ4MTRkM2UwNmRlYzBjM2RiYg==">
      <div class="fr-input-group">
        <label for="subscribe-email" class="fr-label" aria-label="Renseignez votre adresse e-mail pour recevoir nos annonces">En renseignant votre adresse mail, vous recevrez régulièrement nos actualités. Vous pourrez à tout moment vous désinscrire de nos envois :</label>
        <input required="" class="fr-input" type="email" autocomplete="on" id="subscribe-email" name="w-field-field-36469-172104-430683-email" placeholder="votre@email.fr" />
      </div>
      <button class="fr-btn" type="submit" name="subscribe" id="form-submit">Je m'inscris à la newsletter de beta.gouv.fr</button>
    </form>
  </div>
</section> -->
