---
layout: default
---

{% comment %}additional_css : home.css{% endcomment %}

{% include hero-page.html title=page.summary image="/img/layouts/home/index.jpg" %}

<section class="section section-white" style="padding-top: 5em;">
  <div class="container">
    <div class="row centered">
      <p>Les <strong>besoins des usagers</strong> avant ceux de l’administration</p>
      <p>Des <strong>équipes pilotées par la finalité</strong> plus que par les moyens</p>
      <p><strong>L'amélioration continue</strong> plus que la conformité à un plan</p>
    </div>
  </div>
</section>


<section class="section-grey mosaic">
    <div class="container">
        <div class="row public-agents inverted">
            <div class="photo agents"></div>
            <div class="stacked">
                <div class="description">
                    <h3>Agents publics</h3>
                    <p>Vous vous reconnaissez dans le profil d’un agent public indigné par une situation irritante pour les usagers ? Vous avez une idée précise d’une solution qui pourrait faire levier sur du numérique ? Vous êtes prêts à vous investir pour la mettre en oeuvre ?</p>
                </div>
                <div class="row">
                    <a class="link" href="/ficheproduit">
                        <img src="../img/layouts/home/icons/pen.svg" alt="Icône stylo" />
                        <p>Adressez-nous une<br>fiche produit</p>
                    </a>
                    <a class="link" href="/alpha/">
                        <img src="../img/layouts/home/icons/book.svg" alt="Icône livre" />
                        <p>Inscrivez-vous à notre formation gratuite Alpha</p>
                    </a>
                </div>
            </div>
        </div>
        <div class="row developers">
            <div class="photo decideurs"></div>
            <div class="stacked">
                <div class="description">
                    <h3>Décideurs publics</h3>
                    <p>Vous êtes responsable d’administration centrale ou territoriale et souhaitez créer rapidement des outils qui résolvent les problèmes les plus courants rencontrés par vos usagers ? Vous souhaitez accélérer votre transition numérique en mobilisant vos agents sur ces enjeux ?</p>
                </div>
                <div class="row">
                    <a class="link" href="startups">
                        <img src="../img/layouts/home/icons/pencil.svg" alt="Icône fusée" />
                        <p>Découvrez une Startup d'État existante</p>
                    </a>
                    <a class="link" href="apropos/#pourquoi-lancer-une-startup-detat">
                        <img src="../img/layouts/home/icons/rocket.svg" alt="Icône crayon" />
                        <p>Lancez une Startup d'État</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section section-white newsletter">
  <div class="container">
    <div class="form__container">
      <form method="post" action="https://app.mailjet.com/widget/iframe/1O2v/9ud" id="newsletter">
      <input type="hidden" id="csrf_token" name="csrf_token" value="MmE2NTZkNWQ0MGQ0Y2IzOWQyZTllOWUxZGI2OWJhMTM2OTJhMDRjNzJjYjM5NWQ4MTRkM2UwNmRlYzBjM2RiYg==">
        <div class="form__group">
          <label for="subscribe-email" class="title" aria-label="Renseignez votre adresse e-mail pour recevoir nos annonces">En renseignant votre adresse mail, vous recevrez régulièrement nos actualités. Vous pourrez à tout moment vous désinscrire de nos envois :</label>
          <input required="" type="email" autocomplete="on" id="subscribe-email" name="w-field-field-36469-172104-430683-email" placeholder="votre@email.fr" />
        </div>
        <button class="button" type="submit" name="subscribe" id="form-submit">Je m'inscris à la newsletter de beta.gouv.fr</button>
      </form>
    </div>
  </div>
</section>
