---
layout: default
---

<!-- {% include hero-with-image.html title=page.summary image="/img/layouts/home/index.jpg" %} -->

<section class="section-blue section-main" >
  <div class="fr-container">
    <div class="fr-grid-row fr-grid-row--gutters fr-py-6w">
      <div class="fr-col fr-col-12 fr-col-md-6">
        <h1>Construisons ensemble les services publics numériques de demain</h1>
        <a class="fr-btn fr-btn--md fr-enlarge-link fr-btn--secondary button-white" href="/approche">Découvrir le programme</a>
      </div>
      <!-- <svg width="414" height="309" viewBox="0 0 414 309" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M395.112 1H19.1115C9.10879 1 1 5.68923 1 11.4737V297.471C1 303.256 9.10879 307.945 19.1115 307.945H395.112C405.115 307.945 413.224 303.256 413.224 297.471V11.4737C413.224 5.68923 405.115 1 395.112 1Z" stroke="#263238" stroke-linecap="round" stroke-linejoin="round"/>
        </svg> -->
      <div class="fr-col fr-col-12 fr-col-md-6">
        <div class="home-hero-anim">
          <img src="/assets/home/heroanim/screen.svg" id="hero-anim-background" alt="">
        </div>
      </div>
    </div>
  </div>
  <div id="hero-anim-hand-1-container">
    <img src="/assets/home/heroanim/hand1-shape.svg" id="hero-anim-hand-1-shape" alt="">
    <img src="/assets/home/heroanim/hand1-2.svg" id="hero-anim-hand-1" alt="">
  </div>
  <img src="/assets/home/heroanim/hand2-2.svg" id="hero-anim-hand-2" alt="">
  <img src="/assets/home/heroanim/hand3-2.svg" id="hero-anim-hand-3" alt="">
</section>
<section class="fr-py-6w section-product">
  <div class="fr-container">
    <h2 class="section-title">Des services à impact</h2>
    <h3 class="section-description">conçus pour tous, avec les administrations</h3>
    <div class="fr-grid-row fr-grid-row--gutters fr-grid-row--center startups fr-pt-6w">
      {% assign startups = site.startups %}
      {% assign starts = "transport. data.gouv.fr,La Bonne Alternance,Pix,Mon-entreprise" | split: ","  %}
      {% for startup in startups %}
          {% if starts contains startup.title %}
            <div class="fr-col-12 fr-col-md-3">
              <div class="fr-card fr-card--grey fr-enlarge-link" >
                <div class="fr-card__body">
                  <h4 class="fr-card__title">
                    <a class="fr-card__link" href="{{ startup.url }}" >{{ startup.title | strip_html }}</a>
                  </h4>
                  {%- if startup.sponsors -%}
                  <p class="fr-card__detail" style="z-index: 10;position: relative;">
                  {%- for sponsorId in startup.sponsors -%}
                    {% assign sponsor = site.organisations | where: 'id', sponsorId | first %}
                    {% if forloop.index > 1 %} / {% endif %}<abbr title="{{sponsor.name}}">{{sponsor.acronym}}</abbr>
                  {%- endfor -%}
                  </p>
                  {%- endif -%}

                  <p class="fr-card__desc">{{ startup.mission | strip_html }}</p>
                </div>
                <div class="fr-card__img">
                  {% include screenshot.html startup=startup %}
                </div>
              </div>
            </div>
          {% endif %}
      {% endfor %}
    </div>
    <div class="fr-grid-row fr-grid-row--center fr-grid-row--gutters startups fr-pt-6w">
      <a class="fr-btn fr-btn--md fr-enlarge-link fr-btn--secondary" href="/startups">Plus de réalisations</a>
    </div>
  </div>
</section>
<section class="fr-py-6w section-blue">
<div class="fr-container">
  <div class="fr-grid-row fr-grid-row--center">
    <div>
      <h2 class="section-title">Faisons équipe</h2>
      <p class="fr-h3 section-description">
        Agent public, rejoignez une équipe<br>
      <strong class="section-highlight">pluridisciplinaire</strong>, <strong class="section-highlight">engagée</strong> au <strong class="section-highlight">service de l’intérêt général</strong>
      </p>
      <div class="fr-grid-row fr-grid-row--center fr-grid-row--gutters startups fr-py-6w">
        <a class="fr-btn fr-btn--md button-white fr-btn--secondary fr-enlarge-link" href="/devenir-intrapreneur">Devenir intrapreneur</a>
      </div>
      <div class="fr-grid-row fr-grid-row--gutters startups">
        <div class="fr-col-12 fr-col-md-4">
          <div class="fr-card fr-card--no-arrow">
            <div class="fr-card__body">
              <div class="home-team-animation-container">
                <img src="/assets/home/coach_back.svg" class="home-team-animation-background" alt="">
                <img src="/assets/home/coach.svg" class="home-team-animation-foreground" alt="">
              </div>
              <h3 class="fr-card__title">
                Coach
              </h3>
              <p class="fr-card__desc">Partage son expertise du numérique et de l’entreprenariat</p>
            </div>
          </div>
        </div>
        <div class="fr-col-12 fr-col-md-4">
          <div class="fr-card fr-card--no-arrow">
            <div class="fr-card__body">
              <div class="home-team-animation-container">
                <img src="/assets/home/intra_back.svg" class="home-team-animation-background" alt="">
                <img src="/assets/home/intra.svg" class="home-team-animation-foreground" alt="">
              </div>
              <h3 class="fr-card__title">
                Intrapreneure ou intrapreneur
              </h3>
              <p class="fr-card__desc">
                <b>Agent public</b> et expert(e) métier, responsable d’un produit après une formation beta.gouv
              </p>
            </div>
          </div>
        </div>
        <div class="fr-col-12 fr-col-md-4">
          <div class="fr-card fr-card--no-arrow">
            <div class="fr-card__body">
              <div class="home-team-animation-container">
                <img src="/assets/home/deploiement_back.svg" class="home-team-animation-background" alt="">
                <img src="/assets/home/deploiement.svg" class="home-team-animation-foreground" alt="">
              </div>
              <h3 class="fr-card__title">
                Chargée ou chargé de déploiement
              </h3>
              <p class="fr-card__desc">
                Aide à augmenter le nombre d’utilisatrices et utilisateurs, puis veille à leur satisfaction
              </p>
            </div>
          </div>
        </div>
        <div class="fr-col-12 fr-col-md-4">
          <div class="fr-card fr-card--no-arrow">
            <div class="fr-card__body">
              <div class="home-team-animation-container">
                <img src="/assets/home/design_back.svg" class="home-team-animation-background" alt="">
                <img src="/assets/home/design.svg" class="home-team-animation-foreground" alt="">
              </div>
              <h3 class="fr-card__title">
                Designer
              </h3>
              <p class="fr-card__desc">
                Conçoit, améliore l’expérience, et teste les parcours avec les utilisatrices et utilisateurs
              </p>
            </div>
          </div>
        </div>
        <div class="fr-col-12 fr-col-md-4">
          <div class="fr-card fr-card--no-arrow">
            <div class="fr-card__body">
              <div class="home-team-animation-container">
                <img src="/assets/home/dev_back.svg" class="home-team-animation-background" alt="">
                <img src="/assets/home/dev.svg" class="home-team-animation-foreground" alt="">
              </div>
              <h3 class="fr-card__title">
                Développeuse ou développeur
              </h3>
              <p class="fr-card__desc">
                Crée le service dans un langage de programmation
              </p>
            </div>
          </div>
        </div>
        <div class="fr-col-12 fr-col-md-4">
          <div class="fr-card fr-card--no-arrow">
            <div class="fr-card__body">
              <div class="home-team-animation-container">
                <img src="/assets/home/produit_back.svg" class="home-team-animation-background" alt="">
                <img src="/assets/home/produit.svg" class="home-team-animation-foreground" alt="">
              </div>
              <h3 class="fr-card__title">
                Gestionnaire de produit
              </h3>

              <p class="fr-card__desc">
                Aide à prioriser en fonction des besoins des utilisatrices et utilisateurs
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</section>
<section class="fr-py-6w section-principle">
  <div class="fr-container">
    <div class="centered">
      <h2 class="section-title">Un programme :<br> <strong class="section-description">3 principes</strong></h2>
    </div>
    <div class="fr-grid-row fr-grid-row--center fr-grid-row--gutters">
      <div class="fr-col-12 fr-col-md-4">
        <img src="/assets/home/manifest.svg" class="section-principle-animation" alt="">
      </div>
      <ul class="fr-py-6w fr-col-12 fr-col-md-8">
        <li class="section-principle-list-item">
          <span class="section-principle-list-item-content">Les besoins des <b>utilisatrices et utilisateurs</b> sont toujours prioritaires.</span>
        </li>
        <li class="section-principle-list-item">
          <span class="section-principle-list-item-content">Nous travaillons sans préjuger du résultat final. Seul l'<b>impact compte</b></span>.
        </li>
        <li class="section-principle-list-item">
          <span class="section-principle-list-item-content">Nous faisons <b>confiance aux agents publics</b>, qui connaissent le terrain</span>.
        </li>
      </ul>
      <p><a class="fr-btn fr-btn--md fr-btn--secondary fr-enlarge-link" href="/manifeste">Lire notre manifeste</a></p>
    </div>
  </div>
</section>

<script type="text/javascript">
  var hand1 = document.getElementById('hero-anim-hand-1');
  var hand2 = document.getElementById('hero-anim-hand-2');
  var hand3 = document.getElementById('hero-anim-hand-3');
  var herobg = document.getElementById('hero-anim-background');
  var teambg = document.getElementsByClassName('home-team-animation-background');
  var teamcontainer = document.getElementsByClassName('section-blue')[1];
  window.addEventListener('scroll', function() {
    var value = window.scrollY
    var containerElement = teamcontainer.getBoundingClientRect()
    var bodyRect = document.body.getBoundingClientRect();
    var offset = containerElement.top - (bodyRect.top + window.innerHeight);
    if (value > offset && value < (containerElement.top + window.innerHeight - bodyRect.top)) {
      const val = value - containerElement.height;
      for (var i = 0; i < teambg.length; i++) {
        teambg[i].style.transform = 'scale('+ (1 + ((0.2*val)/containerElement.height)) + ')';
      }
    }
    // animation on hero banner
    // if (value < 300) {
    //   const svg = document.querySelector('#hero-anim-hand-1-container')
    //   svg.style.transform = 'translateX(' + (-value * 0.4) + 'px)';
    //   const svg2 = document.querySelector('#hero-anim-hand-2')
    //   svg2.style.transform = 'translateX(' + (-value * 0.3) + 'px)';

    //   const svg3 = document.querySelector('#hero-anim-hand-3')
    //   svg3.style.transform = 'translate(' + (-value * 0.2) + 'px,' + (-value * 0.1) + 'px )';
    // }
  })

</script>
