---
layout: default
---
<div class="ui container padded">
    <div class="ui fluid card">
        <div class="content">
            <div class="ui text container">
                <h1>{{ page.name }}</h1>
                <h2>{{ page.owner }}</h2>
            </div>
        </div>

        <div class="content">
            <div class="ui text container">
                {{ content }}
            </div>
        </div>

        <div class="content">
            <div class="ui text container">
                <a href="{{ page.contact }}">Nous contacter</a>
            </div>
        </div>
    </div>
    <h2 class="ui divider horizontal">Nos Startups</h2>
    <div class="ui stackable two cards">
        {% for startup in page.startups %}

            {% capture currentId %}/startup/{{ startup }}{% endcapture %}

            {% for currentStartup in site.startup %}
                {% if currentStartup.id == currentId %} {% comment %} where query doesn't work on id {% endcomment %}
                    {% include startup-card.html description=currentStartup %}
                {% endif %}
            {% endfor %}
        {% endfor %}
    </div>
</div>
