---
layout: default
---
<div class="ui container padded">
    <div class="ui fluid card">
        <div class="content">
            <div class="ui text container">
                <h1>{{ page.title }}</h1>
                <h2>{{ page.owner }}</h2>
            </div>
        </div>

        <div class="content">
            <div class="ui text container">
                {{ content }}
            </div>
        </div>

        <div class="content">
            <ul class="ui description text container">
                <li>
                    Adresse : {{ page.address }}
                </li>
                {% if page.website %}
                    <li>
                        <a href="{{ page.website }}">Site web</a>
                    </li>
                {% endif %}
                {% if page.github %}
                    <li>
                        <a href="{{ page.github }}">Compte GitHub</a>
                    </li>
                {% endif %}
                <li>
                    <a href="{{ page.contact }}">Contacter cet incubateur</a>
                </li>
            </ul>
        </div>
    </div>
    <h2 class="ui divider horizontal">Nos Startups</h2>
    <div class="ui stackable two cards">
        {% assign incubator_id = page.id | remove: '/incubateur/' %}
        {% assign startups = site.startup | where:'incubator',incubator_id %}
        {% for startup in startups %}
            {% include startup-card.html description=startup %}
        {% endfor %}
    </div>
</div>
