---
layout: default
---


<div class="fr-container">
  <h1 class="fr-mt-3w">Notre réseau d'incubateurs</h1>
</div>

<section class="fr-py-2w fr-pt-4w" id="incubateur">
  <div class="fr-container">
    <div class="fr-grid-row fr-grid-row--gutters">
      {%- assign active_incubators = site.incubators | active_incubators %}
      {%- for incubator in active_incubators -%}
        <div class="fr-col-md-4 fr-col-sm-12">
          {%- include card-incubator.html incubator=incubator -%}
          {% unless forloop.last %}
            <hr class="beta-communaute-hr">
          {% endunless %}
        </div>
      {%- endfor -%}
    </div>
  </div>
</section>
