---
layout: default
---

{% assign lang = page.lang | default: site.lang | default: "fr" %}

{% include hero-page.html title=page.title %}

<section class="fr-py-6w cards">
  <div class="fr-container">
    <div class="fr-grid-row fr-grid-row--gutters">
        <div class="fr-col-md-3 fr-col-lg-3 fr-col-sm-12">
            <div class="fr-grid-row fr-grid-row--center fr-container--fluid">
                <div class="job-team-animation-container">
                    <object data="/assets/home/intra_back.svg" class="job-team-animation-background"></object>    
                    <object data="/assets/home/intra.svg" class="job-team-animation-foreground"></object>
                </div>
                <div class="fr-card fr-card--no-arrow">
                    <div class="fr-card__body">  
                        <!-- <div class="job-team-animation-container">
                        <object data="/assets/home/intra_back.svg" class="job-team-animation-background"></object>    
                        <object data="/assets/home/intra.svg" class="job-team-animation-foreground"></object>
                        </div>    -->
                        <h3 class="fr-card__title">
                        Sommaire
                        </h3>
                        <div class="fr-card__description">
                        <ol>
                            <li><a href="#l-intra-vient-du-terrain">L’intra vient du terrain</a></li>
                            <li><a href="#au-coeur-d-une-equipe-produit">Au cœur d’une équipe produit</a></li>
                            <li><a href="#accompagne-de-pres">Accompagné de près</a></li>
                            <!-- <li>Toujours en lien avec sa hiérarchie</li> -->
                            <li><a href="#pour-se-depasser">Pour se dépasser</a></li>
                            <li><a href="#passer-une-journee-en-immersion">Passer une journée en immersion</a></li>
                        </ol>
                    </div>
                    </div>
                </div>
            </div>
          </div>
        <div class="fr-col-md-9 fr-col-sm-12 fr-col-lg-9">
            <div class="fr-p-2w fr-container">
                <h3 id="l-intrapreneur-vient-du-terrain">L’intra vient du terrain</h3>

                <p>
                Il ou elle a pu observer le problème qu’il cherche à résoudre sous toutes ses facettes. Il a 10 000 histoires d’usagers à raconter, parce qu’il rencontre ses usagers physiquement tous les jours depuis des années. Il ne sera pas issu de la DSI ou de la MOA, sinon ça s’appelle un projet informatique, pas une Startup d’État.
                </p>
                <p>
                L'intra est un entrepreneur au sein de l'État. Il pilote un projet de service numérique.
                </p>
                Avant le lancement du projet, le ou la co-animatrice s'assure auprès de l'administration de l'agent que le futur intra sera libéré de son temps de travail habituel pour se consacrer à sa startup d'Etat : 1 à 2 jours par semaine lors des premières semaines puis au moins 3 jours par semaine pour la suite.
                <p>
                <h3 id="au-coeur-d-une-equipe-produit">Au cœur d’une équipe produit</h3>
                <p>L’intra fait partie intégrante de l'équipe du produit.</p>
                Il travaille en étroite collaboration avec des :
                <ul>
                    <li>designers</li>
                    <li>développeuses ou développeurs</li>
                    <li>chargés ou chargées de déploiement, etc.</li>
                </ul>
                <p>
                    L'intra consacre au moins 60% de son temps au service numérique. 
                </p>
                Son rôle est central pour mener à bien le projet : 
                <ul>
                    <li>priorisation des tâches</li>
                    <li>évangélisation des parties-prenantes</li>
                    <li>embarquement des utilisateurs et utilisatrices, etc.</li>
                </ul>
                <br>
                <h3 id="accompagne-de-pres">Accompagné de près</h3>
                <p>
                Tout au long du parcours, un coach accompagne l'intra. 
                </p>
                <p>
                En début de projet, le coach aide à mettre en place l'aménagement de temps de travail auprès des responsables  RH de l'administration. 
                </p>
                Le coach accompagne aussi l'intra dans la montée en compétences :
                <ul>
                    <li>gestion de produit</li>
                    <li>recherche utilisateur</li>
                    <li>management</li>
                    <li>sécurité numérique</li>
                    <li>gestion de la croissance, etc ;</li>
                </ul>            
                <p>
                En fin de parcours, l'intra peut passer une certification pour valoriser son parcours auprès de l'administration.
                </p>
                <h3 id="pour-se-depasser">Pour se dépasser</h3>
                <p>
                    L'aventure intraprenariale est unique. Si vous appréciez l'autonomie et aimez le travail d'équipe, c'est fait pour vous. 
                </p>
                L'expérience d'intra vous permettra de : 
                <ul>
                    <li>devenir expert de votre sujet</li>
                    <li>monter en compétences en développement de produit</li>
                    <li>développer des capacités de médiation</li>
                </ul>
                <p>
                <a class="fr-link fr-fi-arrow-right-line fr-link--icon-right" href="https://blog.beta.gouv.fr/">Retrouvez toutes les “paroles d’intra” sur notre blog</a>
                </p>
                <h3 id="passer-une-journee-en-immersion">Passer une journée en immersion</h3>
                <p>
                    Chaque mois, nous vous proposons une journée en immersion à beta.gouv.fr : venez challenger votre idée et découvrir l’approche beta.gouv !
                </p>
                <p>
                    <a class="fr-link fr-fi-arrow-right-line fr-link--icon-right" href="/approche/formation">S’inscrire à une session</a>
                </p>
            </div>
        </div>
    </div>
  </div>
</section>

