---
layout: default
---

{% assign lang = page.lang | default: site.lang | default: "fr" %}

{% include hero-page.html title=page.title %}

<section class="fr-py-6w cards">
  <div class="fr-container">
    <div class="fr-grid-row fr-grid-row--gutters">
        <div class="fr-col-md-3 fr-col-lg-3 fr-col-sm-12">
          <div class="fr-grid-row fr-grid-row--center fr-container--fluid">
            <div class="job-team-animation-container">
                <object data="/assets/home/intra_back.svg" class="job-team-animation-background"></object>
                <object data="/assets/home/intra.svg" class="job-team-animation-foreground"></object>
            </div>

            <nav class="fr-summary" role="navigation" aria-labelledby="fr-summary-title">
              <p class="fr-summary__title" id="fr-summary-title">Sommaire</p>
              <ol class="fr-summary__list">
                <li><a class="fr-summary__link" href="#l-intrapreneur-vient-du-terrain">L’intra vient du terrain</a></li>
                <li><a class="fr-summary__link" href="#au-coeur-d-une-equipe-produit">Au cœur d’une équipe produit</a></li>
                <li><a class="fr-summary__link" href="#accompagne-de-pres">Accompagné de près</a></li>
                <li><a class="fr-summary__link" href="#pour-se-depasser">Pour se dépasser</a></li>
              </ol>
              </nav>
          </div>
        </div>

        <div class="fr-col-md-9 fr-col-sm-12 fr-col-lg-9">
            <div class="fr-p-2w fr-container">
                <h3 id="l-intrapreneur-vient-du-terrain">L’intrapreneur vient du terrain</h3>
                <p>
                Il ou elle a pu observer le problème qu’il cherche à résoudre sous toutes ses facettes. Par exemple, c'est une personne qui a des centaines d'histoires d’usagers à raconter, parce qu’il les connaît bien ses usagers et interagit avec eux depuis des années. Elle est souvent issue du métier et connaît sa politique publique sur le bout des doigts.
                </p>
                <p>
                L'intra endosse un rôle entrepreneurial au sein de l'État. C'est le fondateur ou la fondatrice d'un nouveau service numérique public. Dans l'idéal, son administration s'organise pour lui libérer du temps afin de travailler sur son service numérique.
                </p>
                <h3 id="au-coeur-d-une-equipe-produit">Au cœur d’une équipe produit</h3>
                <p>L’intra fait partie intégrante de l'équipe du produit.</p>
                Il travaille en étroite collaboration avec des :
                <ul>
                    <li>designers</li>
                    <li>développeuses ou développeurs</li>
                    <li>chargés ou chargées de déploiement, etc.</li>
                </ul>
                <p>
                    L'intra consacre dans l'idéal au moins 60% de son temps au service numérique.
                </p>
                Son rôle est central pour mener à bien le projet :
                <ul>
                    <li>priorisation des tâches</li>
                    <li>évangélisation des parties-prenantes</li>
                    <li>embarquement des utilisateurs et utilisatrices, etc.</li>
                </ul>

                <h3 id="accompagne-de-pres" class="fr-mt-2w">Accompagné de près</h3>
                <p>
                Tout au long du parcours, un coach accompagne l'intra.
                </p>
                Le coach accompagne aussi l'intra dans la montée en compétences :
                <ul>
                    <li>gestion de produit</li>
                    <li>recherche utilisateur</li>
                    <li>management</li>
                    <li>sécurité numérique</li>
                    <li>gestion de la croissance, etc ;</li>
                </ul>
                <p>
                En fin de parcours, l'intra peut passer une certification pour valoriser son parcours auprès de l'administration.
                </p>
                <h3 id="pour-se-depasser">Pour se dépasser</h3>
                <p>
                    L'aventure intraprenariale est unique. Si vous appréciez l'autonomie et aimez le travail d'équipe, c'est fait pour vous.
                </p>
                L'expérience d'intra vous permettra de :
                <ul>
                    <li>devenir expert de votre sujet</li>
                    <li>monter en compétences en développement de produit</li>
                    <li>développer des capacités de médiation</li>
                </ul>
                <p>
                <a class="fr-link fr-fi-arrow-right-line fr-link--icon-right" href="https://blog.beta.gouv.fr/">Retrouvez toutes les “paroles d’intra” sur notre blog</a>
                </p>
            </div>
        </div>
    </div>
  </div>
</section>
