---
layout: default
---

{% capture startup_id %}/startups/{{ page.startup }}{% endcapture %}
{% assign startup = site.startups | where: "id", startup_id | first %}

{% assign lang = page.lang | default: site.lang | default: "fr" %}
<div class="page article">
  {% include hero-job.html startup=startup roles=page.roles friend=page.friend %}

  {% if page.type == 'friend' %}
    <div class="notification full-width">Une offre à pourvoir chez nos camarades <br /><a href="{{ page.externalURL}}">Voir l'offre sur le site de {{ page.friend }}</a></div>
  {% endif %}

  {% if page.open %}
    <div class="notification full-width">Poste ouvert le <time datetime="{{ page.date | date:'%Y-%m-%d' }}">{{ page.date | date: "%d/%m/%Y" }}</time></div>
  {% else %}
    <div class="notification warning full-width">Ce poste a été pourvu depuis son ouverture le <time datetime="{{ page.date | date:'%Y-%m-%d' }}">{{ page.date | date: "%d/%m/%Y" }}</time></div>
  {% endif %}

  <section class="section section-white">
    {% if page.techno or page.junior %}
      <div class="container">
        <div class="text-quote">
          <ul>
            {% if page.junior %}<li>Bienvenue aux juniors sur ce poste ! L'équipe assurera votre formation.</li>{% endif %}
            {% if page.techno %}
              <li>Choix technologiques :
                <ul>
                  {% for techno in page.techno %}
                  <li>{{ techno }}</li>
                  {% endfor %}
                </ul>
              </li>
            {% endif %}
          </ul>
        </div>
      </div>
    {% endif %}
    <div class="container">
      <div class="lead-text">
        {{ page.excerpt }}
      </div>
      <div class="richtext">
        {{ content | remove: page.excerpt }}
      </div>
    </div>
  </section>

  {% if startup %}
    <section class="section section-grey">
      <div class="container startups">
        <div class="grid">
          {% include card-startup.html startup = startup %}
        </div>
      </div>
    </section>
  {% endif %}
    <section class="section section-white">
        <div class="container">
          <h2>Participer à la communauté</h2>
          <div class="richtext">
    En travaillant pour une Startup d’Etat et de Territoire, vous devenez membre de la communauté beta.gouv. Celle-ci se construit par l’investissement volontaire de ses membres ce qui veut dire que chaque membre peut proposer de nouvelles idées, les mettre en oeuvre ou rejoindre un travail en cours. 
L’engagement dans la communauté peut prendre différentes formes, de faire le café à participer à une équipe transverse en passant par organiser une conférence.

L’objectif est de faire de beta.gouv une communauté vivante, riche des expériences et de l’engagement de chacun, et qui apporte un cadre de travail stimulant pour ces membres. 

En tant que membre, vous pouvez et êtes invités à vous engager dans la communauté. Si vous avez des questions, n’hésitez pas à les poser lors de votre entretien.
            </div>
        </div>
    </section>
</div>
