---
layout: default
---

{% assign lang = page.lang | default: site.lang | default: "fr" %}

{% include hero-page.html title=page.title %}

<section class="fr-py-6w cards">
  <div class="fr-container">
    <div class="fr-grid-row fr-grid-row--gutters">
      <div class="fr-col-md-9 fr-col-sm-12 fr-col-lg-9">
        <div class="fr-grid-row">
          {% assign jobs = site.jobs | where: "open", 'true' | reverse %}
          {% for job in jobs %}
            {% assign startup_id = job.startup %}
            {% assign startup = site.startups | where: "title", startup_id | first %}
            {% include card-job.html job=job startup=job.startup %}
          {% endfor %}
        </div>
      </div>
      <div class="fr-col-md-3 fr-col-lg-3 fr-col-sm-12">
        <div class="fr-grid-row">
          <div class="fr-card fr-card--no-arrow job-section-blue">
            <div class="fr-card__body">  
              <div class="job-team-animation-container">
                <object data="/assets/home/intra_back.svg" class="job-team-animation-background"></object>    
                <object data="/assets/home/intra.svg" class="job-team-animation-foreground"></object>
              </div>   
              <h3 class="fr-card__title">
                Vous êtes agent public et vous souhaitez rejoindre beta.gouv.fr ?
              </h3>
              <a class="fr-btn fr-btn--sm fr-enlarge-link fr-btn--secondary button-white-border cta-intra" href="/devenir-intrapreneur">Devenir intrapreneur(e)</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="fr-py-6w section-grey">
  <div class="fr-container">
    <button class="fr-btn" onclick="toggle_visibility('previous_jobs');">Offres pourvues</button>
    <div id="previous_jobs" style="display:none">
      {% assign jobs = site.jobs | where: "open", 'false' | reverse %}
      <ul>
    {% for job in jobs %}
      {% assign startup_id = job.startup %}
      {% assign startup = site.startups | where: "id", startup_id | first %}
      <li><a href="{{ job.url }}">{% if job.friend %}{{ job.friend }}{% else %}{{ startup.title | default: "beta.gouv.fr"}}{% endif %} : {{ job.roles }}, le <time datetime="{{ job.date | date:'%Y-%m-%d' }}">{{ job.date | date: "%d/%m/%Y" }}</time></a></li>
    {% endfor %}
      </ul>
    </div>
  </div>
</section>

<script type="text/javascript">
<!--
    function toggle_visibility(id) {
       var e = document.getElementById(id);
       if(e.style.display == 'block')
          e.style.display = 'none';
       else
          e.style.display = 'block';
    }
//-->
</script>
