---
layout: default
---

<section class="fr-py-6w section-lightgrey">
    <div class="fr-container">
        <div class="fr-grid-row fr-grid-row--gutters fr-py-6w">
            <div class="fr-col fr-col-12 fr-col-md-6">
                <h1>Rejoignez la Brigade</h1>
                <h2 section-highlight>
                    <span class="section-highlight"> Vous souhaitez contribuer au lancement de services publics numériques à fort impact ?<br /> </span>
                    Rejoignez la Brigade pour intervenir sur les prochains sujets prioritaires du gouvernement.
                </h2>
                <br />
                <a class="fr-btn fr-btn--md fr-enlarge-link fr-btn--secondary button-white" href="/rejoindre-la-brigade#la-brigade">Découvrir la Brigade</a>
                <a class="fr-btn fr-btn--md fr-enlarge-link" href="/rejoindre-la-brigade/offres">Voir les offres</a>
            </div>
            <div class="fr-col fr-col-12 fr-col-md-6">
                <div class="home-hero-anim">
                    <object data="/assets/images/teamwork.svg"></object>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="fr-py-8w">
    <div class="fr-container">
        <h2 id="la-brigade">La Brigade</h2>

        <div class="fr-grid-row fr-grid-row--gutters">
            <div class="fr-col-md-2 fr-col-xs-2">
                <img src="/assets/images/icon_brigade.svg" alt="Illustration urgence" />
            </div>
            <div class="fr-col-md-10 fr-col-xs-10">
                <p>
                    <b>Qu'est-ce que la Brigade ?</b><br />
                    Forte des apprentissages de la crise sanitaire, la Direction Interministérielle du Numérique recrute sa prochaine Brigade. Composée de 15 expertes et experts multidisciplinaires, la Brigade vise à renforcer la capacité de l'État à construire rapidement de nouveaux services publics numériques ayant un véritable impact social, environnemental ou économique.
                    <br />
                    Entre des temps forts de gestion des priorités de l'État, la Brigade aura des temps plus calmes qui lui permettra de se consacrer à des missions transverses en soutien aux services du réseau beta.gouv. 
                </p>
            </div>
        </div>
        <div class="fr-grid-row fr-grid-row--gutters">
            <div class="fr-col-md-2 fr-col-xs-2">
                <img src="/assets/images/icon_politician.svg" alt="Illustration politique" />
            </div>
            <div class="fr-col-md-10 fr-col-xs-10">
                <p>
                    <b>Les demandes du Gouvernement, c'est-à-dire ?</b><br />
                    La majorité des services publics numériques construits dans le réseau beta.gouv naissent de problèmes soulevés par des agents publics devenus intrapreneur ou intrapreneuse afin de se dédier à la résolution des problèmes rencontrés sur le terrain par les citoyens ou les agents.
                    <br />
                    En parallèle, beta.gouv répond également à des sollicitations parfois urgentes du gouvernement, directement portées par les ministères. Ces sollicitations relèvent de politiques publiques diverses (éducation, santé, transport, insertion, environnement), et donnent généralement lieu à la construction de services publics numériques ambitieux, qui ont généralement haut potentiel d'impact.  
                </p>
            </div>
            <div class="fr-grid-row fr-grid-row--gutters">
                <div class="fr-col-md-2 fr-col-xs-2">
                    <img src="/assets/images/icon_pressure.svg" alt="Illustration pression" />
                </div>
                <div class="fr-col-md-10 fr-col-xs-10">
                    <p>
                        <b>En quoi ces produits sont-ils différents ?</b><br />
                        Les demandes du gouvernement diffèrent des services créés dans le cadre des programmes d'intrapreneuriat animés par beta.gouv : forte dimension politique, sentiment d'urgence, exposition médiatique importante. Plusieurs produits à fort impact sont nés de ce types de demandes comme : [Santé Psy Etudiant](https://www.santepsyetudiants.beta.gouv.fr/), [Aides-Jeunes](https://mes-aides.1jeune1solution.beta.gouv.fr/simulation), [JeVeuxAider](http://jeveuxaider.gouv.fr/), etc. 
                    </p>
                </div>
            </div>
        </div>
        <br><br>
        <h3>Découvrez les services publics numériques lancés par le gouvernement</h3>
        <div class="fr-grid-row fr-grid-row--gutters">
            {% assign startups = site.startups %} {% assign starts = "Santé Psy Etudiant,Pass emploi,Engagement Civique,Aides Jeunes" | split: "," %} {% for startup in startups %} {% if starts contains startup.title %}
            <div class="fr-col-12 fr-col-md-3">
                <div class="fr-card fr-enlarge-link">
                    <div class="fr-card__body">
                        <h4 class="fr-card__title">
                            <a class="fr-card__link" href="{{ startup.url }}">{{ startup.title | strip_html }}</a>
                        </h4>

                        <p class="fr-card__detail">{{ startup.owner | strip_html }}</p>
                        <p class="fr-card__desc">{{ startup.mission | strip_html }}</p>
                    </div>
                    <div class="fr-card__img">{% include screenshot.html startup=startup force=true %}</div>
                </div>
            </div>
            {% endif %} {% endfor %}
        </div>
    </div>
</section>
<section class="fr-py-6w section-blue">
    <div class="fr-container">
        <h2>La Brigade, une équipe au coeur du réseau beta.gouv </h2>
        <div class="fr-grid-row fr-grid-row--gutters">
            <div class="fr-col fr-col-12 fr-col-md-6">
                <img src="/assets/images/seminaire.jpg" style="width: 100%" alt="La communauté au séminaire de septembre 2021" />
            </div>
            <div class="fr-col fr-col-12 fr-col-md-6" style="color: #fff">
                <p class="fr-text--lg" style="margin-bottom: 20px">beta.gouv, c'est une communauté définie par :</p>
                <ul>
                    <li>une <a href="/approche">approche</a> méthodologique inspirée du lean startup</li>
                    <li>un <a href="/approche/manifeste">manifeste</a> proposant une nouvelle façon de concevoir des services publics numériques</li>
                    <li><a href="/communaute/#incubateur">14 incubateurs</a> au sein de l'État</li>
                    <li><a href="/communaute">700 personnes</a> ayant différents métiers (expert métier, développement, UX, déploiement, coaching ...)</li>
                    <li><a href="/startups">150 équipes produits</a> qui se consacrent à l'amélioration de la vie des citoyens et/ou de l'action publique</li>
                </ul>
                <br>
                <a class="fr-btn fr-btn--md fr-enlarge-link fr-btn--secondary button-white" href="/communaute">Découvrir la communauté</a>
            </div>
        </div>
    </div>
</section>
<section class="fr-py-8w section-lightgrey">
    <div class="fr-container">
        <h3>Qui recrutons-nous dans l'équipe de la Brigade ?</h3>
        <div class="fr-grid-row fr-grid-row--gutters">
          <div class="fr-col-md-6 fr-col-xs-6">
            <img src="/assets/images/illu_brigade.svg" style="width: 100%" alt="Illustration profils Brigade" />
          </div>
          <div class="fr-col-md-6 fr-col-xs-6">
              <p style="margin-bottom: 10px">
                Nous recherchons plusieurs types de compétences pour participer à la construction de cette Brigade : 
              </p>
              <ul>
                <li>7 développeurs et développeuses senior, expérimenté(e)s et junior</li>
                <li>4 chargé(e)s de déploiement senior et junior</li>
                <li>3 coachs au un profil d'entrepreneur ou entrepreneuse du numérique</li>
                <li>1 chargé(e) de communication</li>
                <li>1 UX designeur ou designeuse</li>
              </ul>
              <p>Nous recherchons des personnes passionnées par le numérique, animées par l'envie d'améliorer la vie des citoyens et l'action de l'État et motivées pour contribuer à la communauté beta.gouv.</p>
              <a class="fr-btn fr-btn--md fr-enlarge-link" href="/rejoindre-la-brigade/offres">Voir les offres</a>
          </div>
        </div>
    </div>
</section>

<section class="fr-py-6w newsletter">
  <div class="fr-container">
    <h4>Conditions</h4>
    <p style="margin-bottom: 10px">
      Intégrer le programme, c'est obtenir&nbsp;:
    </p>
    <ul>
      <li>Un CDD de 2 ans au sein de la Direction Interministérielle du Numérique jusqu'au 31 décembre 2023.</li>
      <li>Un salaire de 3500 euros net pour des profils ayant moins de 5 ans d'expérience, 4000 euros net entre 5 et 9 ans d'expérience, et sur dossier pour 10 ans et plus.</li>
      <li>L'accès à une communauté d'entrepreneurs publics d'environ 700 personnes présentes dans l'ensemble des administrations publiques (État et territoires).</li>
      <li>La possibilité de télétravailler à raison de 2 jours par semaine et 3 jours dans nos bureaux de Lyon, Paris ou Rennes.</li>
    </ul>
  </div>
</section>
<hr>
<section class="fr-py-6w newsletter">
    <div class="fr-container">
        <form method="post" action="https://app.mailjet.com/widget/iframe/1O2v/9ud" id="newsletter">
            <h4>Gardons le contact</h4>
            <p>Recevez les actualités de beta.gouv, tous les mois</p>

            <input type="hidden" id="csrf_token" name="csrf_token" value="MmE2NTZkNWQ0MGQ0Y2IzOWQyZTllOWUxZGI2OWJhMTM2OTJhMDRjNzJjYjM5NWQ4MTRkM2UwNmRlYzBjM2RiYg==" />
            <div class="fr-input-group">
                <input required="" class="fr-input" type="email" autocomplete="on" id="subscribe-email" name="w-field-field-36469-172104-430683-email" placeholder="votre adresse e-mail" />
                <button class="fr-btn" type="submit" name="subscribe" id="form-submit">S’inscrire</button>
            </div>
        </form>
    </div>
</section>
