---
layout: default
---

<section class="fr-py-6w section-lightgrey">
    <div class="fr-container">
        <div class="fr-grid-row fr-grid-row--gutters fr-py-6w">
            <div class="fr-col fr-col-12 fr-col-md-6">
                <h1>Rejoignez la Brigade</h1>
                <h2 section-highlight>
                    <span class="section-highlight"> Vous souhaitez contribuer au lancement de services publics numériques à fort impact ?<br /> </span>
                    Venez former le premier startup studio dédié aux sujets prioritaires du gouvernement.
                </h2>
                <br />
                <a class="fr-btn fr-btn--md fr-enlarge-link fr-btn--secondary button-white" href="/rejoindre-la-bin/offres">Voir les offres</a>
                <a class="fr-btn fr-btn--md fr-enlarge-link" href="/rejoindre-la-bin/offres">Postuler</a>
            </div>
            <div class="fr-col fr-col-12 fr-col-md-6">
                <div class="home-hero-anim">
                    <object data="/assets/images/teamwork.svg"></object>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="fr-py-8w">
    <div class="fr-container">
        <h2>La Brigade d'Intervention Numérique</h2>

        <div class="fr-grid-row fr-grid-row--gutters">
            <div class="fr-col-md-2 fr-col-xs-2">
                <img src="/assets/images/icon_brigade.svg" alt="Illustration urgence" />
            </div>
            <div class="fr-col-md-10 fr-col-xs-10">
                <p class="fr-text--lg">
                    <b>Pourquoi une Brigade ?</b><br />
                    Fort des apprentissages de la crise sanitaire, la Direction Interministérielle du Numérique lance la Brigade, un nouveau programme dédié à la gestion des demandes du Gouvernement. Composée de 15 experts multidisciplinaires, la Brigade vise à renforcer la capacité de l'État à construire rapidement de nouveaux services publics numériques ayant un véritable impact social, environnemental et/ou économique.
                    <br />
                    Le fonctionnement de la Brigade s'inspire du modèle des « startups studio », en construisant une équipe d'experts mulitidisciplinaires à l'appui des sujets prioritaires du Gouvernement. L'organisation et l'impact de cette équipe seront affinés au fur et à mesure de ses apprentissages et de ses interventions auprès des cabinets ministériels et des ministères. Entre des temps forts de gestion de commandes politiques, la Brigade aura des temps plus calmes, dédiés à des missions transverses. 
                </p>
            </div>
        </div>
        <div class="fr-grid-row fr-grid-row--gutters">
            <div class="fr-col-md-2 fr-col-xs-2">
                <img src="/assets/images/icon_politician.svg" alt="Illustration politique" />
            </div>
            <div class="fr-col-md-10 fr-col-xs-10">
                <p class="fr-text--lg">
                    <b>Les demandes du Gouvernement, c'est-à-dire ?</b><br />
                    La majorité des services publics numériques construits dans le réseau beta.gouv naissent de problèmes soulevés par des agents publics qui ont décidé de devenir intrapreneur ou intrapreneuse afin de se dédier à la résolution d'irritants subis par les citoyens ou les agents.
                    <br />
                    En parallèle de cela, beta.gouv répond à des demandes du Gouvernement, c'est-à-dire des commandes politiques venant directement des Ministres et qui sont pilotées par les cabinets ministériels ou par des directeurs et directrices d'administration. Pouvant relever de politiques publiques diverses (éducation, santé, transport, insertion, environnement), ces services publics numériques ont généralement un impact potentiel élevé.  
                </p>
            </div>
            <div class="fr-grid-row fr-grid-row--gutters">
                <div class="fr-col-md-2 fr-col-xs-2">
                    <img src="/assets/images/icon_pressure.svg" alt="Illustration pression" />
                </div>
                <div class="fr-col-md-10 fr-col-xs-10">
                    <p class="fr-text--lg">
                        <b>Est-ce que ces produits sont différents ?</b><br />
                        Les demandes du Gouvernement diffèrent des Startups d'Etat classiques. En effet, ces services publics numériques sont marqués par une dynamique politique, une temporalité souvent urgente, et une exposition médiatique importante. Plusieurs produits sont nés de ce types de commandes comme : Santé Psy Etudiant, Aides-Jeunes, JeVeuxAider etc. Ainsi, ces nouveaux services publics à fort impact portent sur des enjeux stimulants et importants. 
                    </p>
                </div>
            </div>
        </div>
        <br><br>
        <h3>Découvrez les services publics numériques lancés par le gouvernement</h3>
        <div class="fr-grid-row fr-grid-row--gutters">
            {% assign startups = site.startups %} {% assign starts = "Santé Psy Etudiant,Pass emploi,Engagement Civique,Aides Jeunes" | split: "," %} {% for startup in startups %} {% if starts contains startup.title %}
            <div class="fr-col-12 fr-col-md-3">
                <div class="fr-card fr-enlarge-link">
                    <div class="fr-card__body">
                        <h4 class="fr-card__title">
                            <a class="fr-card__link" href="{{ startup.url }}">{{ startup.title | strip_html }}</a>
                        </h4>

                        <p class="fr-card__detail">{{ startup.owner | strip_html }}</p>
                        <p class="fr-card__desc">{{ startup.mission | strip_html }}</p>
                    </div>
                    <div class="fr-card__img">{% include screenshot.html startup=startup force=true %}</div>
                </div>
            </div>
            {% endif %} {% endfor %}
        </div>
    </div>
</section>
<section class="fr-py-6w section-blue">
    <div class="fr-container">
        <h2>La Brigade, une équipe au coeur du réseau beta.gouv </h2>
        <div class="fr-grid-row fr-grid-row--gutters">
            <div class="fr-col fr-col-12 fr-col-md-6">
                <img src="/assets/images/seminaire.jpg" style="width: 100%" alt="La communauté au séminaire de septembre 2021" />
            </div>
            <div class="fr-col fr-col-12 fr-col-md-6" style="color: #fff">
                <p class="fr-text--lg">beta.gouv, c'est une communauté défnie par :</p>
                <ul>
                    <li>son <a href="/approche">approche</a> méthodologique inspirée du lean startup</li>
                    <li>son <a href="/approche/manifeste">manifeste</a></li>
                    <li><a href="/communaute/#incubateur">14 incubateurs</a> au sein de l'État</li>
                    <li>une <a href="/communaute">membres</a> d'environ 700 personnes ayant différents métiers (expert métier, développement, UX, déploiement, coaching ...)</li>
                    <li>ses <a href="/startups">équipes produits</a></li>
                </ul>
                <a class="fr-btn fr-btn--md fr-enlarge-link fr-btn--secondary button-white" href="/communaute">Découvrir la communauté</a>
            </div>
        </div>
    </div>
</section>
<section class="fr-py-8w section-lightgrey">
    <div class="fr-container">
        <h3>Qui recrutons-nous dans l'équipe de la Brigade ?</h3>
        <div class="fr-grid-row fr-grid-row--gutters">
          <div class="fr-col-md-6 fr-col-xs-6">
            <img src="/assets/images/illu_brigade.svg" style="width: 100%" alt="Illustration profils Brigade" />
          </div>
          <div class="fr-col-md-6 fr-col-xs-6">
              <p style="margin-bottom: 10px">
                Nous recherchons plusieurs types de talents pour participer à la construction de ce premier startup studio dédié aux demandes du Gouvernement : 
              </p>
              <ul>
                <li>7 développeurs et développeuses senior, expérimenté(e)s et junior</li>
                <li>4 chargé(e)s de déploiement senior et junior</li>
                <li>3 coachs agiles polyvalents, avec un profil d'entrepreneur ou entrepreneuse</li>
                <li>1 chargé(e) du marketing produit</li>
                <li>1 UX designeur ou designeuse</li>
              </ul>
              <p>Nous cherchons avant tout <em>des personnes qui veulent s'engager pour améliorer la vie des citoyens et l'action de l'État</em>, pour construire des services publics à fort impact national et pour renforcer la communauté beta.gouv.</p>
              <a class="fr-btn fr-btn--md fr-enlarge-link" href="/rejoindre-la-bin/offres">Voir les offres</a>
          </div>
        </div>
    </div>
</section>

<section class="fr-py-6w newsletter">
  <div class="fr-container">
    <h4>Conditions</h4>
    <p style="margin-bottom: 10px">
      Intégrer le programme, c'est obtenir&nbsp;:
    </p>
    <ul>
      <li>Un CDD de 2 ans au sein de la Direction Interministérielle du Numérique jusqu'au 31 décembre 2023.</li>
      <li>Un salaire de 3500 euros net pour des profils ayant moins de 5 ans d'expérience, 4000 euros net entre 5 et 9 ans d'expérience, et sur dossier pour 10 ans et plus.</li>
      <li>L'accès à une communauté d'entrepreneurs publics d'environ 700 personnes présentes dans l'ensemble des Ministères et sur tout le territoire.</li>
      <li>La possibilité de télétravailler à raison de 2 jours par semaine et 3 jours dans nos bureaux de Lyon, Paris ou Rennes.</li>
    </ul>
  </div>
</section>
<hr>
<section class="fr-py-6w newsletter">
    <div class="fr-container">
        <form method="post" action="https://app.mailjet.com/widget/iframe/1O2v/9ud" id="newsletter">
            <h4>Gardons le contact</h4>
            <p>Recevez les actualités de beta.gouv, tous les mois</p>

            <input type="hidden" id="csrf_token" name="csrf_token" value="MmE2NTZkNWQ0MGQ0Y2IzOWQyZTllOWUxZGI2OWJhMTM2OTJhMDRjNzJjYjM5NWQ4MTRkM2UwNmRlYzBjM2RiYg==" />
            <div class="fr-input-group">
                <input required="" class="fr-input" type="email" autocomplete="on" id="subscribe-email" name="w-field-field-36469-172104-430683-email" placeholder="votre adresse e-mail" />
                <button class="fr-btn" type="submit" name="subscribe" id="form-submit">S’inscrire</button>
            </div>
        </form>
    </div>
</section>
