---
layout: default
---

{%- assign authors = site.intras -%}

<!-- {% include hero-with-image.html title=page.summary image="/img/layouts/home/index.jpg" %} -->

<section class="section-blue section-main" >
  <div class="fr-container">
    <div class="fr-grid-row fr-grid-row--gutters fr-py-6w">
      <div class="fr-col fr-col-12 fr-col-md-6">
        <h1>Votre expérience est précieuse</h1>
        <h2>
          <span class="section-highlight">
          Vous êtes agent public ?
          </span>
          <br>Aidez-nous à résoudre les problèmes des usagers et des agents.
        </h2>
      </div>
      <div class="fr-col fr-col-12 fr-col-md-6">
        <div class="home-hero-anim">
          <!-- TODO corriger les alt pour ces images -->
          <object data="/assets/images/intra/main-lpintra.svg"></object>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="fr-my-2w section-principle">
    <div class="fr-container">
      <p class="centered fr-h2 section-title fr-py-2w">4 étapes pour résoudre 1 problème</p>
      <div class="fr-grid-row fr-grid-row--center fr-grid-row--gutters">
        <div class="fr-col-12 fr-col-md-4">
          <object data="/assets/images/intra/4-etapes-illustration.svg" class="landing-intra-steps"></object>
        </div>
        <div class="fr-col-12 fr-col-md-8">
          <ol>
            <li class="fr-my-2w"><p><b>Évaluer</b> le problème</p></li>
            <li class="fr-my-2w"><p>Déterminer <b>une solution crédible</b></p></li>
            <li class="fr-my-2w"><p>Analyser les <b>résultats</b> après six mois</p></li>
            <li class="fr-my-2w"><p><b>Se former</b> à l’approche pour préparer la phase de construction du service</p></li>
          </ol>
          <p><a class="fr-link fr-icon-arrow-right-line fr-link--icon-left" href="https://doc.incubateur.net/communaute/gerer-sa-startup-detat-ou-de-territoires-au-quotidien/la-vie-dune-se">Découvrir le programme</a></p>
        </div>
      </div>
    </div>
  </section>

<section class="fr-py-6w section-blue">
<div class="fr-container">
  <div class="fr-grid-row fr-grid-row--center">
    <div>
      <h2 class="section-title">Pilotez un projet</h2>
      <p class="fr-h4 section-description fr-pb-6w">
        <span class="section-highlight">Co-concevez</span> un service public numérique
        dans <span class="section-highlight">un des incubateurs</span> du réseau beta.gouv
      </p>
      <div class="fr-grid-row fr-grid-row--gutters startups">
        <div class="fr-col-12 fr-col-md-4 section-feature">
          <div class="fr-card fr-card--no-arrow card-feature">
            <div class="fr-card__body">
              <div class="fr-card__content">
                <div class="lpintra-image-container">
                  <object data="/assets/images/intra/programme.svg"></object>
                </div>
                <h3 class="fr-card__title">
                  Un programme
                </h3>
                <p class="fr-card__desc">
                  Intégrez un <a href="/approche">programme</a> ou l’agent public est au coeur d’une équipe pluridisciplinaire engagées au service de l’intérêt général.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="fr-col-12 fr-col-md-4">
          <div class="fr-card fr-card--no-arrow card-feature">
            <div class="fr-card__body">
              <div class="fr-card__content">
                <div class="lpintra-image-container">
                  <object data="/assets/images/intra/communaute.svg"></object>
                </div>
                <h3 class="fr-card__title">
                  Une communauté
                </h3>
                <p class="fr-card__desc">Rejoignez une <a href="/communaute">communauté</a> qui construit les services publics numériques de demain en partageant les mêmes valeurs.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="fr-col-12 fr-col-md-4">
          <div class="fr-card fr-card--no-arrow card-feature">
            <div class="fr-card__body">
              <div class="fr-card__content">
                <div class="lpintra-image-container">
                  <object data="/assets/images/intra/certification.svg"></object>
                </div>
                <h3 class="fr-card__title">
                  Une certification
                </h3>
                <p class="fr-card__desc">
                  Au bout d’un an, postulez pour obtenir votre <a href="https://doc.incubateur.net/communaute/travailler-a-beta-gouv/se-former/certification-des-intrapreneurs">certification</a> “Intrapreneur” et valoriser votre parcours dans votre administration.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</section>
<section class="fr-py-6w section-grey">
    <div class="fr-container">
      <div class="fr-grid-row fr-grid-row--center">
        <div>
          <h2 class="fr-pb-6w section-title">Comment nous rejoindre ?</h2>
          <div class="fr-grid-row fr-grid-row--gutters startups">
            <div class="fr-col-12 fr-col-md-4">
              <div class="fr-card fr-card--no-arrow">
                <div class="fr-card__body">
                  <h3 class="fr-card__title">
                    Appel à intrapreneurs
                  </h3>
                  <p class="fr-card__detail">Détail</p>
                  <p class="fr-card__desc">Les ministères et incubateurs publient régulièrement des appels à intra. <br/>Surveillez leur actu !</p>
                </div>
              </div>
            </div>
            <div class="fr-col-12 fr-col-md-4">
              <div class="fr-card fr-enlarge-link">
                <div class="fr-card__body">
                  <h3 class="fr-card__title">
                    <a href="/approche/formation" class="fr-card__link">Une journée de formation🌟</a>
                  </h3>
                  <p class="fr-card__desc">
                    Pour challenger votre idée, votre problème,
                    poser toutes vos questions.
                    Vous sortirez de la journée avec les idées claires pour définir la prochaine étape.
                </p>
                </div>
                <div class="fr-card__img">
                  <img src="/assets/images/intra/join.png" alt="">
                </div>
              </div>
            </div>
            <div class="fr-col-12 fr-col-md-4">
              <div class="fr-card fr-card--no-arrow">
                <div class="fr-card__body">
                  <h3 class="fr-card__title">
                    Posez votre question
                  </h3>
                  <p class="fr-card__desc">
                    <a href="/contact/">Nous contacter</a>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>
<section class="fr-py-6w section-white">
    <div class="fr-container">
      <h2 class="section-title">Plus de 100 agents et 120 startups&nbsp;</h2>
      <div class="fr-grid-row fr-grid-row--gutters fr-py-6w">
        {%- for author in authors -%}
          <div class="fr-col-md-4 fr-col-12 fr-mb-2w">{%- include card-community.html author=author -%}</div>
        {%- endfor -%}
      </div>

      <div class="fr-grid-row fr-grid-row--center fr-grid-row--gutters startups fr-pt-6w">
        <a class="fr-btn fr-btn--md fr-enlarge-link fr-btn--secondary"
          href="https://blog.beta.gouv.fr/">Plus de témoignages</a>
      </div>
    </div>
</section>
