---
layout: default
---

<div id="masthead">
	<h1>{{ page.title}}</h1>
</div>

<article class="ui text container">
	{{ content }}

	{% if page.category == 'evenement' %}
		<div class="vevent">
			<strong><a class="url" href="{{ page.registration }}">Inscrivez-vous</a> pour participer à l'évènement <span class="summary">{{ page.title }}</span></strong> du <time datetime="{{ page.start }}" class="dtstart"></time> au <time datetime="{{ page.end }}" class="dtend"></time> à <span class="location">{{ page.location }}</span>.
		</div>
	{% endif %}

	{% if page.authors %}
	<address class="ui stackable cards">
		{% for author in page.authors %}
		{% include author.html id=author size='small' %}
		{% endfor %}
	</address>
	{% endif %}

	<div class="ui divider"></div>

	<footer>
		<h3>Un avis, une question ?</h3>
		<p>Écrivez-nous <a href="https://twitter.com/BetaGouv">@BetaGouv sur Twitter</a> ou envoyez-nous <a href="mailto:social@beta.gouv.fr?subject={{ page.title | uri_escape }}">un mail</a>.</p>
		<p>Vous avez repéré une coquille ? <a href="https://github.com/sgmap/beta.gouv.fr/edit/master/{{ page.path }}">Corrigez-la</a> !</p>
	</footer>
</article>
