---
layout: default
---

<div id="masthead">
	<h1>{{ page.title}}</h1>
</div>

<div class="ui text container">
	{{ content }}

	{% if page.category == 'evenement' %}
		<div class="vevent">
			<strong><a class="url" href="{{ page.registration }}">Inscrivez-vous</a> pour participer à l'évènement <span class="summary">{{ page.title }}</span></strong> du <time datetime="{{ page.start }}" class="dtstart"></time> au <time datetime="{{ page.end }}" class="dtend"></time> à <span class="location">{{ page.location }}</span>.
		</div>
	{% endif %}
</div>
