---
layout: default
---

{% if page.startup %}
	{% capture id %}/startup/{{ page.startup }}{% endcapture %}
	{% for currentStartup in site.startup %}
		{% if currentStartup.id == id %} {% comment %} where query doesn't work on id {% endcomment %}
			{% assign startup = currentStartup %}
		{% endif %}
	{% endfor %}
{% endif %}

<div id="masthead">
	<h1>{% if startup %}[{{ startup.title }}] {% endif %}{{ page.title}}</h1>
</div>

<article class="ui text container">
	{{ page.excerpt }}

	{% if startup %}
		{% include startup-card.html description=startup %}
	{% endif %}

	{{ content | remove: page.excerpt }}

	{% if page.category == 'evenement' %}
		<div class="vevent">
			<strong><a class="url" href="{{ page.registration }}">Inscrivez-vous</a> pour participer à l'évènement <span class="summary">{{ page.title }}</span></strong> du <time datetime="{{ page.start }}" class="dtstart"></time> au <time datetime="{{ page.end }}" class="dtend"></time> à <span class="location">{{ page.location }}</span>.
		</div>
	{% endif %}
</article>
