---
layout: default
---
<div id="fast">
  <section class="hero-section">
    <div class="fr-container fr-py-5w">
      <div class="fr-grid-row">
        <div class="fr-col-md-8">
          <h1 class="fr-mb-3w">Consolidez votre service numérique</h1>
          <p class="fr-text--lead fr-pr-3w">Le programme de consolidation est un accompagnement de 6 mois de la direction interministérielle du numérique (DINUM) qui vise à inscrire l'impact des services numériques matures sur le long terme en renforçant leur ancrage dans l’administration et le développement de synergies avec d’autres services ou activités.</p>
          <a href="https://demarche.numerique.gouv.fr/commencer/programme-de-consolidation-1ere-edition" class="fr-btn fr-btn--primary">Candidater</a>
          <a href="/accompagnements/programme-de-consolidation/contenu-du-programme" class="fr-link--lg fr-ml-4w">En savoir plus sur le programme</a>
        </div>
        <div class="fr-col-md-4">
          <img class="fr-responsive-img" alt="" src="/assets/images/fast-home.svg" style="max-width: 200px" />
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="fr-container fr-py-5w">
      <h2>Un enjeu pour votre équipe</h2>
      <p>La consolidation est une étape importante mais risquée. Être accompagné, c’est s’assurer de :</p>

      <div class="fr-grid-row fr-grid-row--gutters">
        <div class="fr-illu fr-col-12 fr-col-md-4">
          <img src="/assets/images/pictograms/success.svg" class="fr-responsive-img" alt="">
          <h3 class="fr-h4">Consolider l'impact</h3>
          <p>du service après son incubation</p>
        </div>
        <div class="fr-illu fr-col-12 fr-col-md-4">
          <img src="/assets/images/pictograms/human-cooperation.svg" class="fr-responsive-img" alt="">
          <h3 class="fr-h4">Renforcer les synergies</h3>
          <p>avec les parties prenantes</p>
        </div>
        <div class="fr-illu fr-col-12 fr-col-md-4">
          <img src="/assets/images/pictograms/calendar.svg" class="fr-responsive-img" alt="">
          <h3 class="fr-h4">Projeter une ambition</h3>
          <p>et des moyens à allouer</p>
        </div>
      </div>
    </div>
  </section>

  <section style="background: var(--background-alt-blue-france);">
    <div class="fr-container fr-py-5w">
      <div class="fr-grid-row">
        <h2>Notre accompagnement</h2>
      </div>

      <div class="fr-grid-row">
        <div class="fr-col-md-7">
          <ul style="list-style-type: none;">
            <li class="fr-mb-2w">
              <p><span class="fr-mr-1w fr-icon-check-line" aria-hidden="true"></span><strong>Un coaching dédié à la consolidation</strong></p><br/>
              <p style="display: inline-block;" class="fr-my-1w">Un interlocuteur expérimenté sur ces enjeux est mobilisé sur des objectifs définis ensemble.</p>
            </li>
            <li class="fr-mb-2w">
              <p><span class="fr-mr-1w fr-icon-check-line" aria-hidden="true"></span><strong>Un regard extérieur pour débloquer des situations difficiles</strong></p><br/>
              <p style="display: inline-block;" class="fr-my-1w">Relations sponsors, négociations de reprise, rapprochement avec d'autres administrations ou services numériques.</p>
            </li>
            <li class="fr-mb-2w">
              <p><span class="fr-mr-1w fr-icon-check-line" aria-hidden="true"></span><strong>Des ressources complémentaires mobilisables en fonction des besoins</strong></p><br/>
              <p style="display: inline-block;" class="fr-my-1w">Des renforts tech, design, déploiement ou juridique peuvent être mis à disposition pour répondre à des problématiques spécifiques.</p>
            </li>
          </ul>
          <a href="/accompagnements/programme-de-consolidation/contenu-du-programme" class="fr-link--lg">En savoir plus sur le programme</a>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="fr-container fr-py-5w">
      <div class="fr-grid-row">
        <div class="fr-col-md-8">
          <h2>Comment candidater ?</h2>

          <p class="fr-text--lead">Vous préparez votre sortie d’incubation ou souhaitez faire évoluer le périmètre ou la gouvernance de votre service ?</p>

          <div class="fr-grid-row fr-text--lead">
            <ol>
              <li class="fr-my-2w">
                <h3 class="fr-h6 fr-my-1w">Dépôt des candidatures jusqu'au 21 juin</h3>
                <p class="fr-tag fr-tag--yellow-moutarde">mai - juin 2026</p><br/>
                <p>Décrivez votre service et vos enjeux dans un dossier.</p>
              </li>
              <li class="fr-my-2w">
                <h3 class="fr-h6 fr-my-1w">Audition des équipes pré-sélectionnées</h3>
                <p class="fr-tag">juin - juillet 2026</p><br/>
                <p>Échangez avec nous pour poser le diagnostic et cadrer le potentiel accompagnement.</p>
              </li>
              <li class="fr-my-2w">
                <h3 class="fr-h6 fr-my-1w">Accompagnement des équipes sélectionnées</h3>
                <p class="fr-tag">septembre 2026</p><br/>
                <p>Bénéficiez de l’accompagnement d’un coach dédié et de ressources complémentaires.</p>
              </li>
            </ol>
          </div>
        </div>
      </div>
    </div>

    <div class="fr-container">
      <div class="fr-grid-row">
        <div class="fr-col-md-8">
          <h2>En savoir plus sur la sortie d’incubation</h2>
          <p>Nous proposons des ressources en accès immédiat aux produits qui se préparent à la sortie d’incubation :</p>
          <ul>
            <li>Supports d’ateliers prêts à l'emploi</li>
            <li>Une équipe de coachs produit mobilisable ponctuellement pour vous aider.</li>
          </ul>

          <a href="https://doc.incubateur.net/communaute/gerer-son-produit/la-vie-du-produit/perennisation" class="fr-link--lg">Accéder à la documentation</a>
        </div>
      </div>
    </div>
  </section>
</div>
