---
layout: default
---

<div class="fr-container fr-py-6w">
  <h1>Résultats</h1>

  <p id="search-page-title" class="fr-h5"></p>

  <div id="search-noresults" class="fr-hidden">
    <p>Votre recherche n'a retourné aucun résultat. Vous pouvez :</p>
    <ul>
      <li class="fr-pb-1w">Vérifier l’orthographe de votre recherche</li>
      <li>Essayer avec d’autres mots-clés</li>
    </ul>
  </div>

  <div id="search-results-incubators">
    <h2 class="fr-h3 fr-pt-4w" id="search-results-incubators-title">Incubateurs</h2>
    <div id="search-results-incubators-list" class="fr-grid-row fr-grid-row--gutters"></div>
  </div>

  <div id="search-results-realisations">
    <h2 class="fr-h3 fr-pt-4w" id="search-results-realisations-title">Services numériques</h2>
    <div id="search-results-realisations-list" class="fr-grid-row fr-grid-row--gutters"></div>
  </div>

  <div id="search-results-pages">
    <h2 class="fr-h3 fr-pt-4w" id="search-results-pages-title">Pages</h2>
    <div id="search-results-pages-list" class="fr-grid-row fr-grid-row--gutters"></div>
  </div>
</div>

<script src="/assets/additional/js/fuse.js@7.0.0.js"></script>
<script src="https://unpkg.com/jquery/dist/jquery.min.js"></script>

<script>
  function getQueryVariable(variable) {
      let params = (new URL(document.location)).searchParams;
      return params.get(variable);
  }

  function displaySearchResults(searchTerm, categories) {
     let count=0;
     for (let index = 0; index < categories.length; index++) {
         count+=displaySearchResultsForCategory(searchTerm, categories[index]);
     }

     return count;
  }

  function displaySearchResultsForCategory(searchTerm, category) {
      var results = category.idx && category.idx.search(searchTerm) ||[];


      var searchResultDiv = document.getElementById(category.searchResultId);
      var searchResultTitle = document.getElementById(category.searchResultTitleId);
      var searchResultList = document.getElementById(category.searchResultListId);

      if (results.length) {
          searchResultList.innerHTML = results
              .slice(0,25)
              .map(result => category.print(result.item))
              .join('');
      }

      searchResultTitle.innerHTML = results.length + '&nbsp;' + (results.length == 1 ? category.name : category.name_plural);

      return results.length;
  }

  // Replace to trim the query, removing extra white spaces
  var searchTerm = decodeURIComponent(getQueryVariable('q').trim());

  const startups = {
      {%- for startup in site.startups -%}
      {% assign startup_id = startup.id | remove: "/startups/" %}

      {% assign team = site.authors | where:"startups", startup_id %}
      {% assign current_team = "" %}
      {% for people in team %}
      {% capture to_append %}{{people.fullname}}, {% endcapture %}
      {% assign current_team = current_team | append: to_append %}
      {% endfor %}

      {% assign team = site.authors | where:"previously", startup_id %}
      {% assign past_team = "" %}
      {% for people in team %}
      {% capture to_append %}{{people.fullname}}, {% endcapture %}
      {% assign past_team = past_team | append: to_append %}
      {% endfor %}

      "{{ startup_id | xml_escape }}" : {
          "title"         : "{{ startup.title | escape }}",
          "mission"       : "{{ startup.mission | escape }}",
          "incubator"     : "{{ startup.incubator | escape }}",
          "url"           : "{{ site.baseurl }}{{ startup.url }}",
          "contact"       : "{{ startup.contact }}",
          "current_team"  : "{{ current_team | xml_escape}}",
          "past_team"     : "{{ past_team | xml_escape }}",
          "thematiques"   : [ {% for thematique in startup.thematiques %}{name: "{{ thematique }}"}{% unless forloop.last %}, {% endunless %}{% endfor %} ]
      },
      {%- endfor -%}
  };

  const pages = {
      {% assign pages = site.pages | where_exp: 'page', 'page.title' %}
      {%- for page in pages -%}
      "{{ page.url }}" : {
          title: "{{ page.title }}",
          url: "{{ site.baseurl }}{{ page.url }}",
          search_description: "{% if page.search_description %}{{ page.search_description }}{% endif %}",
      } {% unless forloop.last %},{% endunless %}
      {%- endfor -%}
  };

  const incubators = [
      {%- for incubator in site.incubators -%} {
          id: "{{incubator.id}}".replace('/incubateurs/', ''),
          title: "{{incubator.title}}",
          owner: "{{incubator.owner}}",
          content_url_encoded_markdown: "{{incubator.content_url_encoded_markdown}}",
          short_description: "{{incubator.short_description | escape}}",
          website: "{{incubator.website}}",
          contact: "{{incubator.contact}}",
          address: "{{incubator.address}}",
          github: "{{incubator.github}}",
          url: "{{ incubator.id}}"
      },
      {%- endfor -%}
  ];

  // convert to arrays
  const startupsData = Object.entries(startups).map(([k, v]) => ({id: k, ...v}))
  const pagesData = Object.entries(pages).map(([k, v]) => ({id: k, ...v}))
  const incubatorsData = Object.entries(incubators).map(([k, v]) => ({id: k, ...v, content: decodeURIComponent(v.content_url_encoded_markdown)}))

  const fuseOptions = {
    includeMatches: true,
    minMatchCharLength: 3,
    threshold: 0.3,
    ignoreLocation: true,
    includeScore: true,
    //distance: 100
  }


  const categories = [
      {
          name: 'incubateur',
          name_plural: 'incubateurs',
          searchResultId: 'search-results-incubators',
          searchResultTitleId: 'search-results-incubators-title',
          searchResultListId: 'search-results-incubators-list',
          print: function(incubator) {
             return `<div class="fr-col-12 fr-col-sm-6 fr-col-md-4 fr-col-lg-3">
                        <div class="fr-card fr-enlarge-link fr-card--sm">
                            <div class="fr-card__body">
                                <div class="fr-card__content">
                                    <p class="fr-card__title">
                                        <a href="${incubator.url}">${incubator.title}</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>`;
          },
          // https://www.fusejs.io/api/options.html
          idx: new Fuse(incubatorsData, {
              keys: [
                'id',
                {name:'title', weight:5},
                {name:'shortDescription', weight:3},
                {name:'content', weight:2},
                'owner',
                'website',
                'contact',
                'address',
                'github',
                'url',
              ],
              ...fuseOptions,
          }),
          store: incubators
      },
      {
          name: 'service numérique',
          name_plural: 'services numériques',
          searchResultId: 'search-results-realisations',
          searchResultTitleId: 'search-results-realisations-title',
          searchResultListId: 'search-results-realisations-list',
          print: function(startup) {
             return `<div class="fr-col-12 fr-col-sm-6 fr-col-md-4 fr-col-lg-3">
                        <div class="fr-card fr-enlarge-link fr-card--sm">
                            <div class="fr-card__body">
                                <div class="fr-card__content">
                                    <h3 class="fr-card__title">
                                        <a href="${startup.url}">${startup.title}</a>
                                    </h3>
                                    <p class="fr-card__desc">${startup.mission}</p>
                                </div>
                            </div>
                        </div>
                    </div>`;
          },
          // https://www.fusejs.io/api/options.html
          idx: new Fuse(startupsData, {
              keys: [
                {name:'id', weight:3},
                {name:'title', weight:5},
                {name:'mission', weight:2},
                'thematiques.name',
                'incubator',
                'url',
                'contact',
                'current_team',
                'past_team',
              ],
              ...fuseOptions
          }),
          store: startups
      }, {
          name: 'page',
          name_plural: 'pages',
          searchResultId: 'search-results-pages',
          searchResultTitleId: 'search-results-pages-title',
          searchResultListId: 'search-results-pages-list',
          print: function(page) {
             return `<div class="fr-col-12 fr-col-sm-6 fr-col-md-4 fr-col-lg-3">
                        <div class="fr-tile fr-enlarge-link">
                            <div class="fr-tile__body">
                                <div class="fr-tile__content">
                                    <p class="fr-tile__title">
                                        <a href="${page.url}">${page.title}</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>`;
          },
          // https://www.fusejs.io/api/options.html
          idx: new Fuse(pagesData, {
              keys: [
                {name:'id', weight:5},
                {name:'title', weight:5},
                'search_description',
                'url',
              ],
              ...fuseOptions
          }),
          store: pages
  }];


  document.getElementById('search').setAttribute("value", searchTerm);

  var searchPageTitle = document.getElementById('search-page-title');
  const count = displaySearchResults(searchTerm, categories);

  document.title = `Résultats de recherche pour « ${searchTerm} » — beta.gouv.fr`;

  if(count === 0) {
     $(searchPageTitle).text(`Aucun résultat pour « ${searchTerm} »`);
     document.getElementById('search-noresults').classList.remove('fr-hidden')
  } else {
    $(searchPageTitle).text(`Résultat${count > 1 ? "s" : ""} pour « ${searchTerm} »`);
  }
</script>
