---
layout: default
---

<div class="fr-container fr-py-6w">
    <h1 id="search-page-title">Résultat(s) de la recherche</h1>

    <div id="search-results-incubators">
        <h2 class="fr-h3 fr-pt-4w" id="search-results-incubators-title">Aucun incubateur</h2>
        <ul id="search-results-incubators-list" class="fr-raw-list"></ul>
    </div>

    <div id="search-results-realisations">
        <h2 class="fr-h3 fr-pt-4w" id="search-results-realisations-title">Aucune réalisation</h2>
        <ul id="search-results-realisations-list" class="fr-raw-list"></ul>
    </div>

    <div id="search-results-pages">
        <h2 class="fr-h3 fr-pt-4w" id="search-results-pages-title">Aucune page</h2>
        <ul id="search-results-pages-list" class="fr-raw-list"></ul>
    </div>
</div>

<script src="https://unpkg.com/lunr/lunr.js"></script>
<script>
    function getQueryVariable(variable) {
        let params = (new URL(document.location)).searchParams;
        return params.get(variable);
    }

    function displaySearchResults(searchTerm, categories) {
        for (let index = 0; index < categories.length; index++) {
            displaySearchResultsForCategory(searchTerm, categories[index]);
        }
    }

    function displaySearchResultsForCategory(searchTerm, category) {
        var results = category.idx.search(searchTerm);

        var searchResultDiv = document.getElementById(category.searchResultId);
        var searchResultTitle = document.getElementById(category.searchResultTitleId);
        var searchResultList = document.getElementById(category.searchResultListId);
        
        if (results.length) {
            searchResultList.innerHTML = results
                .map(result => category.store[result.ref])
                .map(startup => category.print(startup))
                .join('');
            searchResultDiv.style.display = "block";
        } else {
            searchResultList.innerHTML = '';
            searchResultDiv.style.display = "none";
        }

        searchResultTitle.innerHTML = results.length + '&nbsp;' + category.name;
    }

    // Replace to trim the query, removing extra white spaces
    var searchTerm = getQueryVariable('q').replace(/^\s+|\s+$/g, '');

    const startups = {
        {% for startup in site.startups %}
            {% assign startup_id = startup.id | remove: "/startups/" %}

            {% assign team = site.authors | where:"startups", startup_id %}
            {% assign current_team = "" %}
            {% for people in team %}
                {% capture to_append %}{{people.fullname}}, {% endcapture %}
                {% assign current_team = current_team | append: to_append %}
            {% endfor %}

            {% assign team = site.authors | where:"previously", startup_id %}
            {% assign past_team = "" %}
            {% for people in team %}
                {% capture to_append %}{{people.fullname}}, {% endcapture %}
                {% assign past_team = past_team | append: to_append %}
            {% endfor %}

            "{{ startup_id | xml_escape }}" : {
                "title"         : "{{ startup.title | escape }}",
                "mission"       : "{{ startup.mission | escape }}",
                "incubator"     : "{{ startup.incubator | escape }}",
                "url"           : "{{ site.baseurl }}{{ startup.url }}",
                "contact"       : "{{ startup.contact }}",
                "current_team"  : "{{ current_team | xml_escape}}",
                "past_team"     : "{{ past_team | xml_escape }}"
            } {% unless forloop.last %},{% endunless %}
        {% endfor %}   
    };

    const pages = {
        {% assign pages = site.pages | where_exp: 'page', 'page.title' %}
        {% for page in pages %}
            "{{ page.url }}" : {
                title: "{{ page.title }}"
            } {% unless forloop.last %},{% endunless %}
        {% endfor %}   
    };

    const incubators = [
        {% for incubator in site.incubators %} {
        id: "{{incubator.id}}".replace('/incubators/', ''),
        title: "{{incubator.title}}",
        owner: "{{incubator.owner}}",
        website: "{{incubator.website}}",
        contact: "{{incubator.contact}}",
        address: "{{incubator.address}}",
        github: "{{incubator.github}}",
        url: "/startups/?incubateur={{ incubator.id | remove: '/incubators/' }}"
        },
        {% endfor %}
    ];

    const categories = [
        {
            name: 'Incubateur(s)',
            searchResultId: 'search-results-incubators',
            searchResultTitleId: 'search-results-incubators-title',
            searchResultListId: 'search-results-incubators-list',
            print: function(incubator) {
                return '<li><a class="fr-link fr-fi-arrow-right-line fr-link--icon-left" href="' + incubator.url + '">' + incubator.title + '</a></li>';
            },
            idx: lunr(function () {
                this.field('title', { boost: 10 });
                this.field('owner');
                this.field('website');
                this.field('contact');
                this.field('address');
                this.field('github');
                for (var key in incubators) { 
                    this.add({
                        'id': key,
                        'title': incubators[key].title,
                        'owner': incubators[key].owner,
                        'website': incubators[key].website,
                        'contact': incubators[key].contact,
                        'address': incubators[key].address,
                        'github': incubators[key].github
                    });
                }
            }),
            store: incubators
        },
        {
            name: 'Réalisation(s)',
            searchResultId: 'search-results-realisations',
            searchResultTitleId: 'search-results-realisations-title',
            searchResultListId: 'search-results-realisations-list',
            print: function(startup) {
                return '<li><a class="fr-link fr-fi-arrow-right-line fr-link--icon-left" href="' + startup.url + '">' + startup.title + '</a></li>';
            },
            idx: lunr(function () {
                this.field('title', { boost: 10 });
                this.field('mission');
                this.field('incubator');
                this.field('url');
                this.field('contact');
                this.field('current_team');
                this.field('past_team');
                for (var key in startups) { 
                    this.add({
                        'id': key,
                        'title': startups[key].title,
                        'mission': startups[key].mission,
                        'mission': startups[key].mission,
                        'incubator': startups[key].incubator,
                        'contact': startups[key].contact,
                        'current_team': startups[key].current_team,
                        'past_team': startups[key].past_team
                    });
                }
            }),
            store: startups
    }, {
            name: 'Page(s)',
            searchResultId: 'search-results-pages',
            searchResultTitleId: 'search-results-pages-title',
            searchResultListId: 'search-results-pages-list',
            print: function(page) {
                return '<li><a class="fr-link fr-fi-arrow-right-line fr-link--icon-left" href="/communaute/annuaire">' + page.title + '</a></li>';
            },
            idx: lunr(function () {
                this.field('title');
                for (var key in pages) { 
                    this.add({
                        'id': key,
                        'title': pages[key].title
                    });
                }
            }),
            store: pages
    }];

    document.getElementById('search').setAttribute("value", searchTerm);

    var searchPageTitle = document.getElementById('search-page-title');
    searchPageTitle.innerHTML = 'Résultat(s) de recherche pour : <strong>«&nbsp;' + searchTerm + '&nbsp;»</strong>';
    displaySearchResults(searchTerm, categories);
</script>