---
layout: default
---

{% assign lang = page.lang | default: site.lang | default: "fr" %}
<div class="page article">
  {% include hero-seedling.html title=page.title mission=page.mission %}

  <section class="section section-grey">
    <div class="container">
      {% include screenshot.html seedling=page %}
    </div>
  </section>

  {% if page.link %}
    <div class="notification full-width">Découvrez la démo au <a href="{{ page.link }}" title="{{ page.title }}">{{ page.link }}</a>.</div>
  {% endif %}

  <section class="section section-white">
    <div class="container">
      <div class="text-quote">
        <ul>
          <li>
            Le code source
            {% if page.repository %}
              <a href="{{ page.repository }}">est libre.</a>
            {% else %}
              <em>n'est pas encore ouvert.</em>
            {% endif %}
          </li>
          <li>
            Le porteur administratif est {{ page.owner }}.
          </li>
          <li>
            {% if page.contact %}
              <a href="mailto:{{ page.contact }}?subject={{ page.title | uri_escape }}%20sur%20beta.gouv.fr">Contacter l’équipe</a>.
            {% else %}
              <em><a href="mailto:{{ site.email }}?subject={{ page.title | uri_escape }}%20sur%20beta.gouv.fr">Contacter l'incubateur</a>.</em>
            {% endif %}
          </li>
        </ul>
      </div>
    </div>

    <div class="container">
      <div class="richtext">
        {{ content }}
      </div>
    </div>
  </section>

  <section class="section section-grey">
    <div class="container">
      <div class="grid">
        {% for people in page.team %}
        <div class="article__author panel">
          <div class="article__author-info">
            <div class="article__author-name">{{ people.name }}</div>
            <div class="article__author-role">{{ people.role }}</div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </section>

</div>
