---
layout: default
---

{% assign startup = page %}

{% assign lang = page.lang | default: site.lang | default: "fr" %}
{% assign startup_id = page.id | remove: '/startups/' %}

{% comment %} Détection du status de la startup {% endcomment %}
{% capture phase_id %}/phases/{{ page.phases.last.name }}{% endcapture %}
{% assign phase = site.phases | where: "id", phase_id | first %}

{% comment %} Détection de l'incubateur {% endcomment %}
{% capture incubator_id %}/incubators/{{ page.incubator }}{% endcapture %}
{% assign incubator = site.incubators | find:'id', incubator_id %}

{% include hero-startup.html startup=page phase=phase %}

{% capture contact_info %}
  {% if page.contact %}
    <a href="mailto:{{ page.contact }}?subject={{ page.title | uri_escape }}%20sur%20beta.gouv.fr">Contacter l’équipe</a>.
  {% else %}
    <em><a href="mailto:{{ site.email }}?subject={{ page.title | uri_escape }}%20sur%20beta.gouv.fr">Contacter l'incubateur</a>.</em>
  {% endif %}
{% endcapture %}

{% capture statistiques_info %}
  Les statistiques d'usage
  {% if page.stats %}
    <a href="{% if page.stats_url %}{{ page.stats_url }}{% else %}{{ page.link | strip }}/stats{% endif %}" title="Statistiques de {{ page.title }}">sont disponibles</a>.
  {% else %}
    <em>ne sont pas encore disponibles.</em>
  {% endif %}
{% endcapture %}

{% capture source_info %}
  Le code source
  {% if page.repository %}
    <a href="{{ page.repository }}">est libre</a>.
  {% else %}
    <em>n'est pas encore ouvert.</em>
  {% endif %}
{% endcapture %}

{% capture budget_info %}
  {% if page.budget_url %}
    Le budget <a href="{{ page.budget_url }}">est ouvert</a>.
  {% else %}
    L’équipe ne communique pas encore sur son budget.
  {% endif %}
{% endcapture %}

{% capture techno_info %}
  Technologies utilisées : {{ page.techno | join: ", " }}
{% endcapture %}

{% capture analyse_risques %}
  {% if page.analyse_risques_url %}
    <li>L'équipe a réalisé un atelier <a href="{{ page.analyse_risques_url }}" title="Analyse de risques de {{ page.title }}"> d'analyse de risques</a>.</li>
  {% elsif page.analyse_risques %}
    <li>L'équipe a réalisé un atelier d'analyse de risques mais ne le rend pas encore public.</li>
  {% elsif phase.status == 'acceleration' or phase.status == 'success' or phase.status == 'transfer' %}
    <li>L'équipe <em>n'a pas encore réalisé ou publié son atelier d'analyse de risques.</em></li>
  {% endif %}
{% endcapture %}

<hr />

<div class="fr-container startup-info">
  <div class="fr-grid-row fr-grid-row--gutters">
    <div class="fr-col-12 fr-col-sm-7 summary">
      <div class="fr-col-10">
        {{ content }}
      </div>
    </div>

    <aside class="fr-col-12 fr-col-sm-4">
      <div class="fr-p-4w">
        <p>
          {% if startup.status == 'success' %}
            L'équipe a été portée par <a href="/incubateurs/#{{ incubator_id}}" title="{{ incubator.title }}">{{ incubator.title }}.</a>
          {% else %}
            L'équipe est portée par <a href="/incubateurs/#{{ incubator_id}}" title="{{ incubator.title }}">{{ incubator.title }}.</a>
          {% endif %}
        </p>

        <p>L'équipe est sponsorisée par :&nbsp;
          {% for sponsorId in page.sponsors %}
            {% assign sponsor = site.organisations | find: 'id', sponsorId %}
            {% if forloop.index > 1 %}, {% endif %}{{sponsor.name}}
          {% endfor %}
        </p>

        <p>
          <a class="fr-link fr-icon-mail-fill fr-link--icon-left"
             href="mailto:{{ startup.contact }}?subject={{ startup.title | uri_escape }}%20sur%20beta.gouv.fr"
          >Contacter l’équipe</a>
        </p>

        <span class="fr-text--bold">Indicateurs de qualité</span>

        <ul class="indicateurs">
          <li>{{ startup | stats | to_badge }}</li>
          <li>{{ startup | a11y_status | to_badge }}</li>
          <li>{{ startup | security_analysis | to_badge }}</li>
          <li>{{ startup | indicators | to_badge }}</li>
        </ul>

        <span class="fr-text--bold">Transparence</span>
        <ul class="indicateurs">
          <li>{{ startup.dashlord_url | to_link: "Mesures d'impact", 'line-chart' }}</li>
          <li>{{ startup.respository | to_link: "Code source", 'github' }}</li>
          <li>{{ startup.stats_url | to_link: "Statistiques", 'pie-chart-2' }}
        </ul>
      </div>
    </aside>
  </div>
</div>

<section class="fr-py-6w section-blue">
  {% include grid-authors.html startup=page %}
</section>

{% if page.rgpd %}
  <section class="fr-py-6w section-white">
    <div class="fr-container fr-py-6w">
      <h2>Protection des données personnelles</h2>
      <div class="fr-callout">
        <ul>
          <li>Le responsable du traitement est : <b>{{ page.rgpd.responsable }}</b></li>
          {% if page.rgpd.finalites %}
            <li>Le traitement a pour finalité(s) :
              <ul>
                {% for finalite in page.rgpd.finalites %}
                  <li>{{ finalite }}</li>
                {% endfor %}
              </ul>
            </li>
          {% else %}
            <li>La finalité du traitement est : {{ page.mission }}</li>
          {% endif %}
          <li>Les données personnelles suivantes sont collectées :
            <ul>
              {% for donnee in page.rgpd.donnees %}
                <li>{{ donnee }}</li>
              {% endfor %}
            </ul>
          </li>
          <li>Les mesures suivantes ont été mises en place en vue d'assurer la sécurité :
            <ul>
              {% for controle in page.rgpd.controles %}
                <li>{{ controle.type }} par {{ controle.intervenant }} le {{ controle.date }}</li>
              {% endfor %}
            </ul>
          </li>
          {% if page.rgpd.mesures_securite %}
            <li>{{ page.rgpd.mesures_securite }}</li>
          {% endif %}
          {% if page.rgpd.validite_homologation %}
            <li>Ce produit a fait l'objet d'une homologation de sécurité valable jusqu'au {{ page.rgpd.validite_homologation }}</li>
          {% else %}
            <li>Ce produit est encore en cours d'obtention de l'homologation de sécurité</li>
          {% endif %}
        </ul>

        <p>Pour exercer vos <a href="https://www.cnil.fr/fr/les-droits-pour-maitriser-vos-donnees-personnelles">droits</a> : <a href="{{ page.rgpd.exercer_vos_droits }}">{{ page.rgpd.exercer_vos_droits }}</a></p>
      </div>
    </div>
  </section>
{% endif %}
