---
layout: default
---

<main class="ui container">

	<h1>{{ page.title }}</h1>

	<h2>{{ page.mission }}</h2>

	{% if page.link %}<a target="_blank" href="{{ page.link }}">{% elsif page.domain %}<a target="_blank" href="https://{{ page.domain }}">{% endif %}
		{% include screenshot.html startup=page %}
	{% if page.link or page.domain %}</a>{% endif %}

	<ul>
		<li>Le porteur administratif est {{ page.owner }}.</li>
		<li>Le produit est en <em>{{ page.status}}</em>, il
			{% if page.link %}
				est disponible sur <a href="{{ page.link }}" title="{{ page.title }}">{{ page.domain }}</a>.
			{% elsif page.domain %}
				est disponible sur <a href="https://{{ page.domain }}" title="{{ page.title }}">{{ page.domain }}</a>.
			{% else %}
				<em>n'est pas encore accessible au public.</em>
			{% endif %}
		</li>

		<li>Le code source
			{% if page.repository %}
				<a href="{{ page.repository }}">est libre.</a>
			{% else %}
				<em>n'est pas encore ouvert.</em>
			{% endif %}
		</li>

		<li>
			{% if page.contact %}
				<a href="mailto:{{ page.contact }}?subject={{ page.title | replace: ' ', '%20' }}%20sur%20beta.gouv.fr">Contacter l’équipe</a>.
			{% else %}
				<em><a href="mailto:{{ site.email }}?subject={{ page.title | replace: ' ', '%20' }}">Contacter l'incubateur</a>.</em>
			{% endif %}
		</li>		
	</ul>


	<section class="ui text container">
		{{ content }}
	</section>

	{% if page.analytics_idSite %}
	<section class="ui text container">
		<h2 class="ui divider horizontal">Statistiques de consultation</h2>
		<a href="https://stats.data.gouv.fr/index.php?idSite={{page.analytics_idSite}}"><img alt="Statistiques de consultation" src="https://stats.data.gouv.fr/index.php?module=API&method=ImageGraph.get&idSite={{page.analytics_idSite}}&apiModule=VisitsSummary&apiAction=get&token_auth=anonymous&graphType=evolution&period=day&date=previous90&width=700&height=200"/>
		<div class="ui center aligned container"><small>(Cliquez pour les statistiques détaillées)</small></div></a>
	</section>
	{% endif %}

</main>
