---
layout: default
---

{% comment %}additional_css : side-panel.css grid.css{% endcomment %}

{% assign lang = page.lang | default: site.lang | default: "en" %}
{% assign phases = site.phases | where:"related","incubation" | sort: 'order' %}
{% assign phases_with_stopped = site.phases | sort: 'order' %}
{% assign incubators = site.incubators %}

<div class="page article" id="presentation">
  {% include hero-page.html title=page.title %}
</div>

<section class="section section-white" style="padding-top: 0;">
    <div class="container startup-lists">
        <ul>
            {% for phase in phases %}
              {% assign counter_target = phase.id | remove: "/phases/" %}
              {% assign counter = site.startups | where:'status', counter_target | size %}
              {% if phase.status == "investigation" %}
                  {% assign title-label = "problème" %}
              {% else %}
                  {% assign title-label = "service" %}
              {% endif %}
              <li>
                <div class="startup-lists__counter">{{ counter }}</div>
                <div class="startup-lists__label">{{ phase.label }}</div>
                <p class="startup-lists__description">{{ phase.short_description }}</p>
                <a class="startup-lists__link" href="/startups/#{{ phase.status }}">Voir les {{title-label}}s</a>
              </li>
            {% endfor %}
        </ul>
    </div>
</section>

<main>
    <section class="filters sticky">
        <div class="container">
            <div class="selects">
                <select id="select-phase">
                    <option>Aller à une phase</option>
                    {% for phase in phases_with_stopped %}
                        <option value="{{ phase.status }}">{{ phase.label }}</option>
                    {% endfor %}
                </select>
            </div>
            <input type="text" id="search-input" placeholder="Rechercher...">
            <button id="search-input-button" class="overlay-button" aria-label="Effacer" style="width: 29px;">
              Effacer
            </button>
            <ul id="results-container"></ul>
        </div>
    </section>

    <section class="section section-white">
        <div class="container">
            {% assign phases = site.phases | sort: 'order' %}
            {% for phase in phases %}
              {% assign counter_target = phase.id | remove: "/phases/" %}
              {% assign counter = site.startups | where:'status', counter_target | size %}
              {% assign plural = "" %}
              {% if counter > 1 %}
                {% assign plural = "s" %}
              {% endif %}
              {% if phase.status == "investigation" %}
                  {% assign title-label = "problème" %}
              {% else %}
                  {% assign title-label = "service" %}
              {% endif %}
              <div id="{{ phase.status }}" style="padding-top: 4em;">
                  
                  <h2 class="phase-title"><em>{{ counter }}</em> {{ title-label }}{{ plural }} en <em>{{ phase.label | downcase }}</em></h2>
                  <p class="phase-description">{{ phase.short_description }}.</p>
                  <div class="startups grid">
                    {% assign startups = site.startups | where:"status", phase.status %}
                    {% for startup in startups %}
                      {% include card-startup.html startup = startup %}
                    {% endfor %}
                  </div>
              </div>
            {% endfor %}
        </div>
    </section>
</main>


<!-- Filtres -->
<script>
    if(typeof(String.prototype.trim) === "undefined") {
        String.prototype.trim = function() {
            return String(this).replace(/^\s+|\s+$/g, '');
        };
    }

    var searchInput = document.getElementById('search-input');
    var searchInputBtn = document.getElementById('search-input-button');
    var resultsContainer = document.getElementById('results-container');

    searchInput.addEventListener('keyup', function(e) {
        if (e.target.value.trim() != '') {
            resultsContainer.style.display = 'block';
            searchInputBtn.style.display = 'block';
        } else {
            resultsContainer.style.display = 'none';
            searchInputBtn.style.display = 'none';
        }
    });

    searchInputBtn.addEventListener('click', function(e) {
        searchInput.value = '';
        resultsContainer.style.display = 'none';
        searchInputBtn.style.display = 'none';
    });

    var selectPhase = document.getElementById('select-phase');
    selectPhase.addEventListener('change', function(e) {
        var url = location.href;
        var selectedPhase = e.target.value;
        var anchor = "#"+selectedPhase
        location.href = anchor;
        history.replaceState(null,null,url+anchor);
    });
</script>

<!-- Script pointing to search-script.js -->
<script src="/assets/additional/js/search-script.js" type="text/javascript"></script>

<!-- Configuration -->
<script>
SimpleJekyllSearch({
  searchInput: document.getElementById('search-input'),
  resultsContainer: document.getElementById('results-container'),
  searchResultTemplate: "<li><p><a href=\"{url}\">{title}</a> - {owner}<br>{mission}<p></li>",
  noResultsText: "<li class=\"empty\">Aucun résultat</li>",
  json: '/search.json'
})
</script>
