---
layout: default
---

<section class="fr-py-6w section-lightgrey">
    <div class="fr-container">
        <h1>Comment candidater à la Brigade ?</h1>
        <ol>
            <li>Je postule avant le 20 décembre 2021 ;</li>
            <li>Je suis présélectionné(e), je reçois fin décembre un questionnaire à remplir sur mes compétences et mes préférences en termes de culture de travail ;</li>
            <li>En cas de concordance, je reçois début janvier une invitation pour échanger avec un ou plusieurs membres de l’incubateur ;</li>
            <li>J’ai réussi le processus et je rejoins la Brigade à partir de février et jusqu’en décembre 2023.</li>
        </ol>

        <h2>Conditions</h2>
        <p style="margin-bottom: 10px">Intégrer le programme, c'est obtenir&nbsp;:</p>
        <ul>
            <li>Un CDD de 2 ans au sein de la Direction Interministérielle du Numérique jusqu'au 31 décembre 2023.</li>
            <li>Un salaire de 3500 euros net pour des profils ayant moins de 5 ans d'expérience, 4000 euros net entre 5 et 9 ans d'expérience, et sur dossier pour 10 ans et plus.</li>
            <li>L'accès à une communauté d'entrepreneurs publics d'environ 700 personnes présentes dans l'ensemble des Ministères et sur tout le territoire.</li>
            <li>Le droit de télétravailler à raison de 2 jours par semaine et 3 jours dans nos bureaux de Lyon, Paris ou Rennes.</li>
        </ul>
    </div>
</section>

<section class="fr-py-6w section-lightgrey">
    <div class="fr-container">
        <div class="fr-tabs">
            <ul class="fr-tabs__list" role="tablist" aria-label="[A modifier | nom du système d'onglet]">
                <li role="presentation">
                    <button id="tabpanel-404" class="fr-tabs__tab fr-tabs__tab--icon-left" tabindex="0" role="tab" aria-selected="true" aria-controls="tabpanel-404-panel">2 coachs agiles et polyvalents</button>
                </li>
                <li role="presentation">
                    <button id="tabpanel-405" class="fr-tabs__tab fr-tabs__tab--icon-left" tabindex="-1" role="tab" aria-selected="false" aria-controls="tabpanel-405-panel">3 lead développeurs ou développeuses</button>
                </li>
                <li role="presentation">
                    <button id="tabpanel-406" class="fr-tabs__tab fr-tabs__tab--icon-left" tabindex="-1" role="tab" aria-selected="false" aria-controls="tabpanel-406-panel">4 développeurs ou développeuses</button>
                </li>
            </ul>
            <div id="tabpanel-404-panel" class="fr-tabs__panel fr-tabs__panel--selected" role="tabpanel" aria-labelledby="tabpanel-404" tabindex="0">
                <h2>2 coachs agiles et polyvalents</h2>
                <h3>Missions</h3>

                <p>En tant que coach, votre rôle et vos missions dépendent du contexte de la commande du gouvernement. Aussi, en fonction des phases du produit (investigation, construction, accélération ou transfert), votre rôle pourra être opérationnel et/ou stratégique.</p>
                <ul>
                    <li>Pouvoir expliquer l’approche « Startup d’État », grandement inspirée du Lean Startup, aux personnes à l’origine de la commande (conseiller cabinets ministériels, directeurs d’administration etc...)&nbsp;;</li>
                    <li>Organiser, planifier et assurer le développement de produits numériques&nbsp;;</li>
                    <li>Contribuer à l’amélioration continue du produit, des outils et de l’organisation de l’équipe pour gagner en efficacité&nbsp;;</li>
                    <li>S’assurer de la qualité du code grâce aux outils d’analyse automatisés et mettre en place les bonnes pratiques adéquates&nbsp;;</li>
                    <li>Automatiser les procédures de déploiement et autres outils de productivité&nbsp;;</li>
                    <li>Participer à la maintenance des environnements&nbsp;;</li>
                    <li>Veiller à l’optimisation des performances et à la sécurité des solutions&nbsp;;</li>
                    <li>Préparer les mises en production des différents produits&nbsp;;</li>
                    <li>Coordonner, effectuer la mise à jour de la documentation technique&nbsp;;</li>
                    <li>Participer aux événements (OpenLabs, séminaires, ateliers...)&nbsp;;</li>
                    <li>Maîtrise de plusieurs langages de développement dont un parmi Python et Javascript (NodeJS).</li>
                </ul>

                <h3>Profil</h3>
                <p>Vous avez environ 5 à 10 années d’expérience dans l’application du lean startup (en startup ou dans l’administration). Vous avez démontré votre capacité à conduire des projets complexes et à intervenir dans un environnement pluridisciplinaire. Vous avez une appétence pour les affaires publiques et vous comprenez l’environnement de l’Etat et son fonctionnement.</p>
                <ul>
                    <li>Vous avez une connaissance des enjeux et des contraintes liés au service public&nbsp;;</li>
                    <li>Vous disposez d’une appétence pour les méthodes type lean startup&nbsp;;</li>
                    <li>Vous êtes sensible aux questions RGPD et sécurité&nbsp;;</li>
                    <li>Vous avez une bonne compréhension des sujets relatifs à un service numérique (Ops, data, méthodes entrepreneuriales, UX, marketing, stratégie d’acquisition, impact)&nbsp;;</li>
                    <li>Vous avez le goût du travail pratique&nbsp;;</li>
                    <li>Vous avez, parfois, le sens des raccourcis pour résoudre les problèmes&nbsp;;</li>
                    <li>Vous disposez d’une aisance orale et relationnelle en public et dans les sphères décisionnelles&nbsp;;</li>
                    <li>Vous êtes bienveillant(e) et avez un bon esprit d’équipe&nbsp;;</li>
                    <li>Vous avez un sens critique et goût du challenge&nbsp;;</li>
                    <li>Vous êtes rigoureux(se), polyvalent(e) et réactif(ve).</li>
                </ul>
            </div>
            <div id="tabpanel-405-panel" class="fr-tabs__panel" role="tabpanel" aria-labelledby="tabpanel-405" tabindex="0">
                <h2>3 lead développeurs ou développeuses</h2>

                <p>Vous avez + de 10 d’expérience en lead dev. Vous avez déjà construit des produits dont vous êtes fier(e) en temps que directeur/directrice technique ou développeur/développeuse principal(e) dans un environnement startup (startup privé ou Startup d'État). Vous maitrisez bien le lean startup.</p>

                <h3>Missions</h3>

                <p>Participer au développement d’un service numérique au sein d’un portefeuille, auprès d’une équipe travaillant selon l’approche Startup d'État et notamment :</p>
                <ul>
                    <li>Comprendre les besoin des utilisateurs et le métier de la startup d’état&nbsp;;</li>
                    <li>Investiguer un problème de politique publique et faire une recherche exhaustive des solutions existantes&nbsp;;</li>
                    <li>Accompagner la création de l’équipe produit, assurer son autonomie et sa bonne organisation (rituels, sprint, rétro etc.)&nbsp;;</li>
                    <li>Assurer la cohérence des différents éléments qui garantissent le succès des produits : concentration sur l’impact et les besoins des usagers, bonnes métriques, itérations courtes, trouver des solutions aux problèmes, anticiper le déploiement, activer une stratégie de communication, garantir un haut niveau de sécurité et conformité RGPD&nbsp;;</li>
                    <li>Faciliter la communication entre l’administration, les cabinets ministériels et l’équipe&nbsp;;</li>
                    <li>Favoriser la mise en œuvre d’une stratégie de croissance et de passage à l’échelle&nbsp;;</li>
                    <li>Œuvrer à la pérennisation institutionnelle des projets. Intervenir à tous les niveaux impactés et pertinents pour mener à bien la mission de transfert&nbsp;;</li>
                    <li>Accompagner éventuellement les agents qui reprennent la responsabilité du projet dans leur administration.</li>
                </ul>

                <p>Les thématiques peuvent être diverses (transports, emploi, aides sociales, handicap, insertion, santé, etc.) et les modalités d’interventions peuvent varier en fonction des contextes.</p>

                <h3>Profil</h3>
                <p>Vous avez environ 5 à 10 années d’expérience dans l’application du lean startup (en startup ou dans l’administration). Vous avez démontré votre capacité à conduire des projets complexes et à intervenir dans un environnement pluridisciplinaire. Vous avez une appétence pour les affaires publiques et vous comprenez l’environnement de l’Etat et son fonctionnement.</p>
                <ul>
                    <li>Vous avez une connaissance des enjeux et des contraintes liés au service public&nbsp;;</li>
                    <li>Vous disposez d’une appétence pour les méthodes type lean startup&nbsp;;</li>
                    <li>Vous êtes sensible aux questions RGPD et sécurité&nbsp;;</li>
                    <li>Vous avez une bonne compréhension des sujets relatifs à un service numérique (Ops, data, méthodes entrepreneuriales, UX, marketing, stratégie d’acquisition, impact)&nbsp;;</li>
                    <li>Vous avez le goût du travail pratique&nbsp;;</li>
                    <li>Vous avez, parfois, le sens des raccourcis pour résoudre les problèmes&nbsp;;</li>
                    <li>Vous disposez d’une aisance orale et relationnelle en public et dans les sphères décisionnelles&nbsp;;</li>
                    <li>Vous êtes bienveillant(e) et avez un bon esprit d’équipe&nbsp;;</li>
                    <li>Vous avez un sens critique et goût du challenge&nbsp;;</li>
                    <li>Vous êtes rigoureux(se), polyvalent(e) et réactif(ve).</li>
                </ul>
            </div>
            <div id="tabpanel-406-panel" class="fr-tabs__panel" role="tabpanel" aria-labelledby="tabpanel-406" tabindex="0">
                <h2>4 développeurs ou développeuses</h2>

                <h3>Missions</h3>

                <p>En tant que développeur ou développeuse junior ou expérimenté(e) vous participerez au développement d’un service numérique à fort impact, au sein d’une équipe travaillant selon l’approche Startup d'État, grandement inspirée du lean startup et notamment :</p>
                <ul>
                    <li>Organiser, planifier et assurer le développement de produits numériques&nbsp;;</li>
                    <li>Contribuer à l’amélioration continue du produit, des outils et de l’organisation de l’équipe pour gagner en efficacité&nbsp;;</li>
                    <li>Livrer en continu un produit aux utilisateurs afin d’en tester l’usage et l’utilité en continu&nbsp;;</li>
                    <li>S’assurer de la qualité du code grâce aux outils d’analyse automatisés et la mise en place les bonnes pratiques adéquates&nbsp;;</li>
                    <li>Automatiser les procédures de déploiement et autres outils de productivité en utilisant des services PaaS&nbsp;;</li>
                    <li>Participer à la maintenance des environnements&nbsp;;</li>
                    <li>Veiller à l’optimisation des performances et à la sécurité des solutions&nbsp;;</li>
                    <li>Coordonner, effectuer la mise à jour de la documentation technique&nbsp;;</li>
                    <li>Participer aux événements de la communauté (OpenLabs, séminaires, ateliers, formations etc...).</li>
                </ul>

                <h3>Profil</h3>
                <p>Vous avez de l’expérience ou de l’appétence dans le développement de produits numériques. Vous avez envie de rejoindre un programme dédié à la construction de services numériques publics et vous souhaitez travailler au sein d’une culture produit.</p>
                <ul>
                    <li>Vous avez une connaissance des enjeux et des contraintes liés au service public&nbsp;;</li>
                    <li>Vous disposez d’une appétence pour les méthodes type lean startup&nbsp;;</li>
                    <li>Vous êtes sensible aux questions RGPD et sécurité&nbsp;;</li>
                    <li>Vous avez une bonne compréhension des sujets relatifs à un service numérique (Ops, data, méthodes entrepreneuriales, UX, marketing, stratégie d’acquisition, impact)&nbsp;;</li>
                    <li>Vous avez le goût du travail pratique&nbsp;;</li>
                    <li>Vous avez, parfois, le sens des raccourcis pour résoudre les problèmes&nbsp;;</li>
                    <li>Vous disposez d’une aisance orale et relationnelle en public et dans les sphères décisionnelles&nbsp;;</li>
                    <li>Vous êtes bienveillant(e) et avez un bon esprit d’équipe&nbsp;;</li>
                    <li>Vous avez un sens critique et goût du challenge&nbsp;;</li>
                    <li>Vous êtes rigoureux(se), polyvalent(e) et réactif(ve).</li>
                </ul>
            </div>
        </div>
    </div>
</section>
