---
layout: default
---

<section class="fr-py-6w section-lightgrey">
    <div class="fr-container">
        <h1>Comment candidater à la Brigade ?</h1>
        <ol>
            <li>Je postule avant le 20 décembre 2021 ;</li>
            <li>Je suis présélectionné(e), je reçois fin décembre un questionnaire à remplir sur mes compétences et mes préférences en termes de culture de travail ;</li>
            <li>En cas de concordance, je reçois début janvier une invitation pour échanger avec un ou plusieurs membres de l’incubateur ;</li>
            <li>J’ai réussi le processus et je rejoins la Brigade à partir de février et jusqu’en décembre 2023.</li>
        </ol>

        <br />

        <p style="margin-bottom: 10px"><b>Intégrer le programme, c'est obtenir&nbsp;:</b></p>
        <ul>
            <li>Un CDD de 2 ans au sein de la Direction Interministérielle du Numérique jusqu'au 31 décembre 2023.</li>
            <li>Un salaire de 3500 euros net pour des profils ayant moins de 5 ans d'expérience, 4000 euros net entre 5 et 9 ans d'expérience, et sur dossier pour 10 ans et plus.</li>
            <li>L'accès à une communauté d'entrepreneurs publics d'environ 700 personnes présentes dans l'ensemble des Ministères et sur tout le territoire.</li>
            <li>Le droit de télétravailler à raison de 2 jours par semaine et 3 jours dans nos bureaux de Lyon, Paris ou Rennes.</li>
        </ul>

        <br />

        <a class="fr-btn fr-btn--lg fr-enlarge-link" href="https://www.demarches-simplifiees.fr/dossiers/6943330/brouillon">Postuler</a>
    </div>
</section>

<div class="fr-py-6w fr-container">
    <section class="fr-accordion">
        <h2 class="fr-accordion__title">
            <button class="fr-accordion__btn" aria-expanded="false" aria-controls="accordion-81">2 coachs agiles et polyvalents</button>
        </h2>
        <div class="fr-collapse" id="accordion-81">
            <h3>Missions</h3>

            <p>En tant que coach, votre rôle et vos missions dépendent du contexte de la commande du gouvernement. Aussi, en fonction des phases du produit (investigation, construction, accélération ou transfert), votre rôle pourra être opérationnel et/ou stratégique.</p>
            <ul>
                <li>Pouvoir expliquer l’approche « Startup d’État », grandement inspirée du Lean Startup, aux personnes à l’origine de la commande (conseiller cabinets ministériels, directeurs d’administration etc...)&nbsp;;</li>
                <li>Organiser, planifier et assurer le développement de produits numériques&nbsp;;</li>
                <li>Contribuer à l’amélioration continue du produit, des outils et de l’organisation de l’équipe pour gagner en efficacité&nbsp;;</li>
                <li>S’assurer de la qualité du code grâce aux outils d’analyse automatisés et mettre en place les bonnes pratiques adéquates&nbsp;;</li>
                <li>Automatiser les procédures de déploiement et autres outils de productivité&nbsp;;</li>
                <li>Participer à la maintenance des environnements&nbsp;;</li>
                <li>Veiller à l’optimisation des performances et à la sécurité des solutions&nbsp;;</li>
                <li>Préparer les mises en production des différents produits&nbsp;;</li>
                <li>Coordonner, effectuer la mise à jour de la documentation technique&nbsp;;</li>
                <li>Participer aux événements (OpenLabs, séminaires, ateliers...)&nbsp;;</li>
                <li>Maîtrise de plusieurs langages de développement dont un parmi Python et Javascript (NodeJS).</li>
            </ul>

            <h3>Profil</h3>
            <p>Vous avez environ 5 à 10 années d’expérience dans l’application du lean startup (en startup ou dans l’administration). Vous avez démontré votre capacité à conduire des projets complexes et à intervenir dans un environnement pluridisciplinaire. Vous avez une appétence pour les affaires publiques et vous comprenez l’environnement de l’Etat et son fonctionnement.</p>
            <ul>
                <li>Vous avez une connaissance des enjeux et des contraintes liés au service public&nbsp;;</li>
                <li>Vous disposez d’une appétence pour les méthodes type lean startup&nbsp;;</li>
                <li>Vous êtes sensible aux questions RGPD et sécurité&nbsp;;</li>
                <li>Vous avez une bonne compréhension des sujets relatifs à un service numérique (Ops, data, méthodes entrepreneuriales, UX, marketing, stratégie d’acquisition, impact)&nbsp;;</li>
                <li>Vous avez le goût du travail pratique&nbsp;;</li>
                <li>Vous avez, parfois, le sens des raccourcis pour résoudre les problèmes&nbsp;;</li>
                <li>Vous disposez d’une aisance orale et relationnelle en public et dans les sphères décisionnelles&nbsp;;</li>
                <li>Vous êtes bienveillant(e) et avez un bon esprit d’équipe&nbsp;;</li>
                <li>Vous avez un sens critique et goût du challenge&nbsp;;</li>
                <li>Vous êtes rigoureux(se), polyvalent(e) et réactif(ve).</li>
            </ul>

            <br />

            <a class="fr-btn fr-btn--lg fr-enlarge-link" href="https://www.demarches-simplifiees.fr/dossiers/6943330/brouillon">Postuler</a>
        </div>
    </section>

    <section class="fr-accordion">
        <h2 class="fr-accordion__title">
            <button class="fr-accordion__btn" aria-expanded="false" aria-controls="accordion-82">3 lead développeurs ou développeuses</button>
        </h2>
        <div class="fr-collapse" id="accordion-82">
            <p>Vous avez plus de 10 d’expérience professionelle. Vous avez déjà construit des produits dont vous êtes fier(e) en temps que directeur/directrice technique ou développeur/développeuse principal(e) dans un environnement startup (startup privé ou Startup d'État). Vous maitrisez bien les méthodes de travail issues du lean startup. Vous êtes fier de la qualité et la maintenabilité de votre code</p>

            <h3>Missions</h3>

            <p>Participer au développement d’un service numérique au sein d’un portefeuille, auprès d’une équipe travaillant selon l’approche Startup d'État et notamment :</p>
            <ul>
                <li>Comprendre les besoin des utilisateurs et le métier de la startup d’état en allant à la rencontre des publics concernés&nbsp;;</li>
                <li>Organiser, planifier et assurer le développement de produits numériques&nbsp;;</li>
                <li>Contribuer à l’amélioration continue du produit, des outils et de l’organisation de l’équipe pour gagner en efficacité&nbsp;;</li>
                <li>S’assurer de la qualité du code grâce aux outils d’analyse automatisés et mettre en place les bonnes pratiques adéquates&nbsp;;</li>
                <li>Automatiser les procédures de déploiement et autres outils de productivité&nbsp;;</li>
                <li>Participer à la maintenance des environnements&nbsp;;</li>
                <li>Veiller à l’optimisation des performances et à la sécurité des solutions&nbsp;;</li>
                <li>Préparer les mises en production des différents produits&nbsp;;</li>
                <li>Coordonner, effectuer la mise à jour de la documentation technique&nbsp;;</li>
                <li>Participer aux événements (OpenLabs, séminaires, ateliers...)&nbsp;;</li>
                

            <h3>Profil</h3>
            <ul>
                <li>Vous avez une très bonne connaissance en développement logiciel (algorithmique, structuration de données, architecture logicielle, etc.)&nbsp;;</li>
                <li>Vous avez de solides connaissances en intégration et déploiement continu&nbsp;;</li>
                <li>Vous disposez de connaissances démontrables en méthodes agiles et lean startup&nbsp;;</li>
                <li>Vous avez une bonne compréhension des enjeux RGPD et des questions de sécurité&nbsp;;</li>
                <li>Vous disposez d’une sensibilité UX/accessibilitét&nbsp;;</li>
                <li>Vous maîtrisez plusieurs langages de développement dont un parmi Python et Javascript (NodeJS)&nbsp;;</li>
                <li>Vous avez de l’expérience dans la gestion des processus de développement et de déploiement automatisés (Test, infra as code, pair programming, …)&nbsp;;</li>
                <li>Vous avez un bon sens de l’écoute et un bon esprit d’équipe&nbsp;;</li>
                <li>Vous aimez vous engager avec fiabilité, rigueur et responsabilité pour livrer un produit&nbsp;;</li>
                <li>Vous appréciez la culture produit et vous avez une approche orientée usagers et impact&nbsp;;</li>
            </ul>

            <br />

            <a class="fr-btn fr-btn--lg fr-enlarge-link" href="https://www.demarches-simplifiees.fr/dossiers/6943330/brouillon">Postuler</a>
        </div>
    </section>

    <section class="fr-accordion">
        <h2 class="fr-accordion__title">
            <button class="fr-accordion__btn" aria-expanded="false" aria-controls="accordion-83">4 développeurs ou développeuses</button>
        </h2>
        <div class="fr-collapse" id="accordion-83">
            <h3>Missions</h3>

            <p>En tant que développeur ou développeuse junior ou expérimenté(e) vous participerez au développement d’un service numérique à fort impact, au sein d’une équipe travaillant selon l’approche Startup d'État, grandement inspirée du lean startup et notamment :</p>
            <ul>
                <li>Organiser, planifier et assurer le développement de produits numériques&nbsp;;</li>
                <li>Contribuer à l’amélioration continue du produit, des outils et de l’organisation de l’équipe pour gagner en efficacité&nbsp;;</li>
                <li>Livrer en continu un produit aux utilisateurs afin d’en tester l’usage et l’utilité en continu&nbsp;;</li>
                <li>S’assurer de la qualité du code grâce aux outils d’analyse automatisés et la mise en place les bonnes pratiques adéquates&nbsp;;</li>
                <li>Automatiser les procédures de déploiement et autres outils de productivité en utilisant des services PaaS&nbsp;;</li>
                <li>Participer aux événements de la communauté (OpenLabs, séminaires, ateliers, formations etc...).</li>
            </ul>

            <h3>Profil</h3>
            <p>Vous avez de l’expérience ou de l’appétence dans le développement de produits numériques. Vous avez envie de rejoindre un programme dédié à la construction de services numériques publics et vous souhaitez travailler au sein d’une culture produit.</p>
            <ul>
                <li>Vous disposez de bonnes connaissances en développement logiciel (algorithmique, structuration de données, architecture logicielle, etc.)&nbsp;</li>
                <li>Vous avez des connaissances en intégration et déploiement continu&nbsp;</li>
                <li>Vous avez une bonne connaissance en méthodes agiles et/ou lean startup&nbsp;</li>
                <li>Vous prenez au sérieux les questions de sécurité des systèmes d’information&nbsp;</li>
                <li>Vous avez une compréhension des enjeux RGPD&nbsp;</li>
                <li>Vous êtes pragmatique et vous vous préoccupez du coût à long terme de vos choix technologiques&nbsp;</li>
                <li>Vous disposez d’une sensibilité pour l’expérience utilisateur ou l'accessibilité pour la partie front&nbsp;</li>
                <li>Vous avez des expériences sur un langage de programmation parmi Python et Javascript (NodeJS)&nbsp;</li>
                <li>Vous avez un bon sens de l’écoute et un bon esprit d’équipe&nbsp;</li>
                <li>Vous aimez vous engager avec fiabilité, rigueur et responsabilité pour livrer un produit.</li>
            </ul>

            <br />

            <a class="fr-btn fr-btn--lg fr-enlarge-link" href="https://www.demarches-simplifiees.fr/dossiers/6943330/brouillon">Postuler</a>
        </div>
    </section>

    <section class="fr-accordion">
        <h2 class="fr-accordion__title">
            <button class="fr-accordion__btn" aria-expanded="false" aria-controls="accordion-84">2 chargé(e)s de déploiement senior</button>
        </h2>
        <div class="fr-collapse" id="accordion-84">
            <h3>Missions</h3>

            <p>De formation supérieure (Bac +5), vous avez plus de cinq ans d’expérience dans le déploiement de produits numériques. Vous avez démontré votre capacité à accélérer la croissance d’un projet complexe et à intervenir dans un environnement pluridisciplinaire.</p>
            <ul>
                <li>Cibler, identifier et approcher les partenaires potentiels (revendeurs, distributeurs, partenaires technologiques, partenaires financiers...)&nbsp;</li>
                <li>Négocier avec les partenaires&nbsp;</li>
                <li>Conduire une stratégie d’animation des partenariats noués&nbsp;</li>
                <li>Conduire l’évaluation des résultats obtenus sur la base de métriques d’impact (exemple : nombre d’heures économisées)&nbsp;</li>
                <li>Réaliser des veilles stratégiques&nbsp;</li>
                <li>Contribuer au suivi administratif des partenaires : inscriptions, réclamations, audits, incidents&nbsp;</li>
                <li>Participer aux événements (OpenLabs, Séminaires, ateliers...&nbsp;</li>
                <li>Concevoir et mettre en place une stratégie d’accélération et de passage à l’échelle&nbsp;</li>
                <li>Travailler avec la personne en charge du marketing produit pour couvrir l’ensemble des canaux d’acquisition pertinents&nbsp;</li>
                <li>Avoir une expérience en growth hacking est un avantage.</li>
            </ul>

            <p>Les thématiques peuvent être diverses (transports, emploi, aides sociales, handicap, insertion, santé, etc.) et les modalités d’interventions peuvent varier en fonction des contextes.</p>

            <h3>Profil</h3>
            <p>Vous avez de l’expérience ou de l’appétence dans le développement de produits numériques. Vous avez envie de rejoindre un programme dédié à la construction de services numériques publics et vous souhaitez travailler au sein d’une culture produit.</p>
            <ul>
                <li>Vous êtes intéressé(e) par les enjeux liés à la réforme de l’administration et à la transformation numérique&nbsp;</li>
                <li>Vous êtes polyvalent(e) et disposez d’un esprit entrepreneurial&nbsp;</li>
                <li>Vous avez une connaissance des différents outils de communication et une bonne maîtrise des réseaux sociaux&nbsp;</li>
                <li>Vous avez une appétence pour les méthodes type lean startup&nbsp;</li>
                <li>Vous êtes créatif/ve et proactif/ve&nbsp;</li>
                <li>Vous avez de bonnes capacités de rédactions et de synthèse&nbsp;</li>
                <li>Vous avez une forte aisance orale et relationnelle en public&nbsp;</li>
                <li>Vous avez le souci du résultat et du suivi par l’impact&nbsp;</li>
                <li>Vous êtes curieux, rigoureux et autonome.</li>
            </ul>

            <br />

            <a class="fr-btn fr-btn--lg fr-enlarge-link" href="https://www.demarches-simplifiees.fr/dossiers/6943330/brouillon">Postuler</a>
        </div>
    </section>

    <section class="fr-accordion">
        <h2 class="fr-accordion__title">
            <button class="fr-accordion__btn" aria-expanded="false" aria-controls="accordion-85">2 chargé(e)s de déploiement junior</button>
        </h2>
        <div class="fr-collapse" id="accordion-85">
            <h3>Missions</h3>

            <p>En tant que chargé(e) de déploiement junior, votre rôle sera de participer au déploiement et à l’accompagnement des utilisateurs et utilisatrices d’un service public numérique auprès d’une équipe produit travaillant selon l’approche Startup d'État et notamment :</p>
            <ul>
                <li>Répondre avec soin aux questions venant des usagers et mettre en place une stratégie de support utilisateur&nbsp;</li>
                <li>Assurer une couverture territoriale des dispositifs en menant des actions de déploiement, parfois en binôme&nbsp;</li>
                <li>Mettre en place une stratégie de déploiement du dispositif&nbsp;</li>
                <li>Garantir la réussite du dispositif en assurant une bonne communication avec les différentes parties prenantes du dispositif&nbsp;</li>
                <li>Faire remonter des problèmes usagers et participer à l'élaboration de solutions rapides&nbsp;</li>
                <li>Travailler avec la personne en charge du marketing produit pour couvrir l’ensemble des canaux d’acquisition pertinents&nbsp;</li>
                <li>Animer et stimuler les partenariats noués&nbsp;</li>
                <li>Contribuer au suivi administratif des partenaires : inscriptions, réclamations, audits, incidents&nbsp;</li>
                <li>Participer aux événements (OpenLabs, séminaires, ateliers...).</li>
            </ul>

            <p>Les thématiques peuvent être diverses (transports, emploi, aides sociales, handicap, insertion, santé, etc.) et les modalités d’interventions peuvent varier en fonction des contextes. Le ou la chargé(e) de déploiement junior sera au cœur de cette aventure à impact national.</p>

            <h3>Profil</h3>
            <p>Vous avez une expérience dans le déploiement de projets numériques ou de projets d’innovation. Vous avez démontré votre capacité à accompagner la satisfaction des usagers dans un projet complexe et à intervenir dans un environnement pluridisciplinaire.</p>
            <ul>
                <li>Vous êtes intéressé(e) par les enjeux liés à la réforme de l’administration et à la transformation numérique&nbsp;</li>
                <li>Vous êtes polyvalent(e) et disposez d’un esprit entrepreneurial&nbsp;</li>
                <li>Vous avez une connaissance des différents outils de communication et une bonne maîtrise des réseaux sociaux&nbsp;</li>
                <li>Vous avez une appétence pour les méthodes type lean startup&nbsp;</li>
                <li>Vous êtes créatif/ve et proactif/ve&nbsp;</li>
                <li>Vous avez de bonnes capacités de rédactions et de synthèse&nbsp;</li>
                <li>Vous avez une forte aisance orale et relationnelle en public&nbsp;</li>
                <li>Vous avez le souci du résultat et du suivi par l’impact&nbsp;</li>
                <li>Vous êtes curieux/se, rigoureux/se et autonome.</li>
            </ul>

            <br>
            
            <a class="fr-btn fr-btn--lg fr-enlarge-link" href="https://www.demarches-simplifiees.fr/dossiers/6943330/brouillon">Postuler</a>
        </div>
    </section>

    <section class="fr-accordion">
        <h2 class="fr-accordion__title">
            <button class="fr-accordion__btn" aria-expanded="false" aria-controls="accordion-86">1 UX/UI designer F/H</button>
        </h2>
        <div class="fr-collapse" id="accordion-86">
            <h3>Missions</h3>

            <p>En tant que UX/UI designer F/H, votre rôle sera d’accompagner différentes équipes dans la mise en place d’une ergonomie et d’un design favorable à l’impact du produit et à la satisfaction des besoins usagers, auprès d’équipes produits, notamment en étant en charge de :</p>
            <ul>
                <li>L’intégration de la vision du projet et traduction des besoins métiers en parcours utilisateur&nbsp;;</li>
                <li>La conception fonctionnelle des flux et de l'architecture de l’information&nbsp;;</li>
                <li>L’itération et co-réalisation des tests utilisateurs pour confronter la solution aux utilisateurs&nbsp;;</li>
                <li>La création d’interfaces web ergonomiques respectant la charte du gouvernement (Design system)&nbsp;;</li>
                <li>L’amélioration continue de l’UX des utilisateurs des produits prioritaires&nbsp;;</li>
                <li>L’accompagnement et soutien des équipes lors du développement des interfaces ( PO, développeurs et développeuses).</li>
            </ul>

            <p>Les thématiques peuvent être diverses (transports, emploi, aides sociales, handicap, insertion, santé, etc.) et les modalités d’interventions peuvent varier en fonction des contextes.</p>

            <h3>Profil</h3>
            <p>Vous avez au moins 3 ans d'expérience en UX design, vous êtes sensible aux questions d’accessibilité numérique et vous avez à cœur l’impact réel sur les utilisateurs.</p>
            <ul>
                <li>Vous avez un intérêt et/ou connaissance des enjeux liés à la réforme de l’administration et à la transformation numérique&nbsp;;</li>
                <li>Vous avez une forte appétence pour les méthodes type lean startup&nbsp;;</li>
                <li>Vous maîtrisez les techniques de wireframing et process mapping&nbsp;;</li>
                <li>Vous avez une bonne maîtrise de l'outil Figma (ou Sketch)&nbsp;;</li>
                <li>Vous avez une bonne compréhension du cycle de vie d’un projet : vision, méthodes de priorisation, méthodes d’estimations, gestion du backlog, tests&nbsp;;</li>
                <li>Vous êtes autonome et organisez votre temps et votre travail avec brio&nbsp;;</li>
                <li>Vous avez un bon sens du service et surtout vous aimez partager votre passion pour ce métier&nbsp;;</li>
                <li>Vous êtes bienveillant et avez un bon esprit d’équipe&nbsp;;</li>
                <li>Vous avez un sens critique et avez le goût du challenge.</li>
            </ul>

            <br>
            
            <a class="fr-btn fr-btn--lg fr-enlarge-link" href="https://www.demarches-simplifiees.fr/dossiers/6943330/brouillon">Postuler</a>
        </div>
    </section>

    <section class="fr-accordion">
        <h2 class="fr-accordion__title">
            <button class="fr-accordion__btn" aria-expanded="false" aria-controls="accordion-87">1 chargé(e) du marketing produit</button>
        </h2>
        <div class="fr-collapse" id="accordion-87">
            <h3>Missions</h3>

            <p>En tant que chargé(e) de marketing produit, vous serez en immersion au sein des équipes produits de l’incubateur. Votre rôle sera de communiquer autour de la valeur de ce service public numérique pour les usagers et pour les parties prenantes.</p>
            <ul>
                <li>Vous élaborerez et mettrez en œuvre des plans et actions de communication destinées à valoriser les services publics numériques développés dans le programme des commandes politiques de l’incubateur&nbsp;;</li>
                <li>Vous serez en charge de la création de contenu : support marketing, communication, outils d’aide au déploiement, démos, fiches techniques, articles de blog etc.&nbsp;;</li>
                <li>Vous suivrez les métriques de succès avec les équipes de déploiement&nbsp;;</li>
                <li>Vous serez à l’aise pour accompagner l'ensemble des équipes sur la stratégie et la communication autour des produits&nbsp;;</li>
                <li>Vous mettrez en œuvre les campagnes d’acquisition des produits numériques (Facebook Ads, etc…)&nbsp;;</li>
                <li>Vous contribuerez aussi à la stratégie presse du lancement du programme de la Brigade, en assurant un bon relais dans les médias officiels, sur les réseaux sociaux etc...&nbsp;;</li>
                <li>Vous contribuerez à la construction des différents supports de communication pour présenter le programme&nbsp;;</li>
                <li>Vous pourrez contribuer à organiser des évènements pour promouvoir le programme en présence des utilisateurs cibles de ce service.</li>
            </ul>

            <p>Les thématiques peuvent être diverses (transports, emploi, aides sociales, handicap, insertion, santé, etc.) et les modalités d’interventions peuvent varier en fonction des contextes.</p>

            <h3>Profil</h3>
            <p>En tant que personne en charge du Marketing Produit, vous avez un minimum de 3 ans d’expérience en Marketing Produit dans un environnement digital (SaaS, web, mobile...). Vous avez évolué dans une organisation produit et vous en comprenez les enjeux. Vous avez une bonne connaissance du copywriting et un goût prononcé pour l’écriture.</p>
            <ul>
                <li>Vous avez une grande qualité rédactionnelle et un orthographe exemplaire&nbsp;;</li>
                <li>Vous avez une expérience en communication, growth hacking et/ou marketing de produit&nbsp;;</li>
                <li>Vous disposez d’une capacité d’autonomie alliée à une bonne communication auprès de l’équipe&nbsp;;</li>
                <li>Vous avez une appétence et un intérêt pour la compréhension du cadre d’action de l’État&nbsp;;</li>
                <li>Vous avez le souci du résultat et du suivi par l’impact&nbsp;;</li>
                <li>Vous êtes bienveillant(e), avec un bon esprit d’équipe&nbsp;;</li>
                <li>Vous êtes dynamique, positif/ve et avec du leadership&nbsp;;</li>
                <li>Vous êtes responsable, organisé(e) et rigoureux/se&nbsp;;</li>
                <li>Vous avez le sens du service public et de l’intérêt général&nbsp;;</li>
                <li>Vous avez un sens critique et un esprit challengeur.</li>
            </ul>

            <br>
            
            <a class="fr-btn fr-btn--lg fr-enlarge-link" href="https://www.demarches-simplifiees.fr/dossiers/6943330/brouillon">Postuler</a>
        </div>
    </section>
</div>
