---
layout: default
---

{% comment %}additional_css : side-panel.css{% endcomment %} {% assign lang =
page.lang | default: site.lang | default: "en" %}

<div class="page article">{% include hero-page.html title=page.title %}</div>

<section class="section section-white" style="padding-top: 0;">
  <div class="container">
    <div class="documentation">
      {% include {{ page.sidebar }} %}
      <div class="main-pane"><div class="markdown">{{ content }}</div></div>
    </div>
  </div>
</section>
