---
layout: default
---

{% comment %}additional_css : side-panel.css{% endcomment %} {% assign lang =
page.lang | default: site.lang | default: "en" %}

<div class="rf-container rf-pb-6w rf-pt-6w">
  <div class="rf-grid-row rf-grid-row--gutters rf-b__two-col">
    <!-- Menu -->
    <div class="rf-col-xs-12 rf-col-md-3">
      {% include {{ page.sidebar }} %}
    </div>
    <!-- Content -->
    <div class="rf-col-xs-12 rf-col-md-9">
      <h2>{{ page.title }}</h2>

      {{ content }}
    </div>
  </div>
</div>
