---
layout: default
---

{% assign lang = page.lang | default: site.lang | default: "en" %}

{% if page.hero_title %}
  {% include hero-page.html title=page.title subtitle=page.subtitle light=true %}
{% endif %}

<div class="fr-container fr-pb-6w fr-pt-6w">
  <div class="fr-grid-row fr-grid-row--gutters fr-b__two-col">
    <!-- Menu -->
    <div class="fr-col-12 fr-col-md-4">
      {% include {{ page.sidebar }} %}
    </div>
    <!-- Content -->
    <div class="fr-col-12 fr-col-md-8">
      {% if page.hero_title == empty %}
      <h1>{{ page.title }}</h1>
      {% endif %}

      <div>
        {% if page.new-fast %}
          {% include fast-results.html %}
        {% else %}
          {{ content }}
        {% endif %}
      </div>
    </div>
  </div>
</div>
