---
layout: default
---

{% assign lang = page.lang | default: site.lang | default: "en" %}

<div class="fr-container fr-pb-6w fr-pt-6w">
  <div class="fr-grid-row fr-grid-row--gutters fr-b__two-col">
    <!-- Menu -->
    <div class="fr-col-12 fr-col-md-3">
      {% include sidebar-approche.html %}
    </div>
    <!-- Content -->
    <div class="fr-col-12 fr-col-md-9">
      <h1>{{ page.title }}</h1>
      <div class="fr-grid-row fr-grid-row--gutters fr-mt-2w">
          {% for image in page.images %}
          <div class="fr-col-6">
            <div class="fr-card fr-card--no-arrow">
              <div class="fr-card__img">
                <img
                  src="{{ image }}" class="fr-responsive-img" alt="">
                <!-- L'alternative de l'image (attribut alt) doit à priori rester vide car l'image est illustrative et ne doit pas être restituée aux technologies d’assistance. Vous pouvez toutefois remplir l'alternative si vous estimer qu'elle apporte une information essentielle à la compréhension du contenu non présente dans le texte -->
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
      <div class="markdown">{{ content }}</div>
      <h2 class="fr-mt-6w">La formation alpha en chiffres</h2>
      <div class="fr-grid-row fr-grid-row--gutters">
          {% for metric in page.metrics %}
          <div class="fr-col-md-3 fr-col-12">
            <div class="fr-card fr-card--no-arrow fr-card--grey">
              <div class="fr-card__body">
                <div class="fr-card__content">
                  <h3 class="fr-card__title text-center">
                    {{ metric.value }}
                  </h3>
                  <p class="fr-card__desc text-center">
                    {{ metric.text }}
                  </p>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
      <div class="fr-grid-row fr-grid-row--gutters fr-mt-2w">
        {% for product in page.verbatims %}
          <div class="fr-col-md-6 fr-col-12">
            <div class="fr-card fr-card--no-arrow fr-card--grey">
              <div class="fr-card__body">
                <div class="fr-card__content">
                    <h3 class="fr-card__title">
                        {{ product.text }}
                    </h3>
                    <p class="fr-card__desc">
                      {{ product.name }}<br>
                      {{ product.job }}
                    </p>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
