---
title: Blog
menu_index: 6
redirect_from:
-   /annonces
additional_css: blog
permalink: /blog/
lang: fr
ref: blog
---

<section class="ui container blog-container">

    <h2>Notre blog</h2>

    <ul class="unstyled">
    {% for post in site.posts %}
        <li class="blog-segment">
            <a class="blog-segment-link" title="{{ post.title }}" href="{{ post.url }}"></a>

            {% if post.authors %}
                {% for author in post.authors %}
                    {% capture id %}/authors/{{ author }}{% endcapture %}
                    {% assign description = site.authors | where:"id", id | first %}

                    {% capture avatar %}
                        <img class="ui avatar image" alt="" src="{% if description.avatar %}{{ description.avatar }}{% else %}/img{{ description.id }}.jpg{% endif %}" />
                    {% endcapture %}

                    <div class="ui horizontal list">
                        <div class="item">
                            {{ avatar }}
                            <div class="content">
                                <div class="header">{{ description.fullname }}</div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}

            <a class="blog-title-link" href="{{ post.url }}">{{ post.title }}</a>

            <div class="excerpt-meta-informations">
                <div class="excerpt-parution-date">Paru le {{ post.date | date: "%d/%m/%Y" }}</div>
            </div>

            {% capture mastheadImagePath %}/img/{{ post.path | replace:'_posts','posts' | replace:'.html','' | replace:'.md','' }}.jpg{% endcapture %}
            <div class="thumbnail">
                <img src="{{ mastheadImagePath }}" alt="">
            </div>

            {% if post.category == 'evenement' %}
                <div class="vevent">
                    Retrouvez-nous le <time datetime="{{ post.start }}">{{ post.start | date: "%m/%d/%Y à %R" }}</time> ({{ post.location }}).
                </div>
            {% endif %}

            <div>
                {{ post.excerpt }}
            </div>

            <a href="{{ post.url }}">Lire la suite…</a>
        </li>
    {% endfor %}
    </ul>
</section>
