---
title: Communauté
menu_index: 3
additional_css: communaute
additional_js:
    - https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.bundle.min.js
    - communaute

hire_card:
    id: recrutement
    fullname: Vous ?
    role: Développeu·r·se, chef·fe de produit numérique, coach lean, expert·e marketing digital…
    link: /contact
    avatar: /img/logo-generique-startup-carre.jpg
    content: <b>Vous avez envie de nous rejoindre ? Contactez-nous !</b>
    # Not used in page but required to validate the author object
    employer: none
    start: site.time

permalink: /communaute/
lang: fr
ref: community
---
{% capture build_date %}{{ site.time | date:"%Y-%m-%d" }}{% endcapture %}
{% assign members = site.authors | sort: 'start' | reverse %}


{% capture current_members_cards %} {% comment %} Capture in order to get the count right before outputting the cards {% endcomment %}
    {% for person in members %}
        {% capture end_date_as_string %}{{ person.end }}{% endcapture %}
        {% if end_date_as_string == '' or end_date_as_string > build_date %}
            {% include author.html description=person %}
            <!--{% increment members_count %}-->
        {% endif %}
    {% endfor %}
{% endcapture %}


<section id="effectifs" class="ui container">
    <h2 class="ui divider horizontal">Évolution des effectifs</h2>
    <div id="chart-wrapper">
        <canvas>
            Nous avons actuellement {% increment members_count %} membres.
        </canvas>
    </div>
    <p>À l'exception de quelques membres permanents qui assurent la passation de la connaissance, le lien avec l'administration hôte et la continuité de l'animation de la communauté, nos membres sont recrutés pour faire réussir <em>une</em> Startup d'État. Leur engagement est limité dans le temps. Cela évite à l'administration qui a lancé une Startup de la considérer comme un investissement impossible à abandonner, qui signerait la fin de son droit à l'échec et donc de sa capacité à innover.</p>
</section>

<section class="ui four stackable doubling cards container">
    <h2 class="ui divider horizontal">La communauté des Startups d'État</h2>

    {% include author.html description=page.hire_card %}

    {{ current_members_cards }}

    <h2 id="alumni" class="ui divider horizontal">Les ancien·ne·s</h2>

    {% for person in members %}
        {% capture end_date_as_string %}{{ person.end }}{% endcapture %}
        {% if end_date_as_string != '' and end_date_as_string <= build_date %}
            {% include author.html description=person %}
        {% endif %}
    {% endfor %}
</section>

<script type="text/javascript">
(function() {
    window.buildDate = '{{ build_date }}';
    window.data = {
        dinsic: [],
        admin: [],
        independent: [],
        service: []
    };

    {% for person in site.authors %}
        var employerType = '{{ person.employer | slugify }}'.split('-')[0];

        {% if person.start %}
            window.data[employerType].push({
                date: '{{ person.start }}',
                increment: 1
            });
        {% endif %}
        {% if person.end %}
            window.data[employerType].push({
                date: '{{ person.end }}',
                increment: -1
            });
        {% endif %}
    {% endfor %}
})();
</script>
