---
title: Incubateurs
menu_index: 2
permalink: /incubateurs/
lang: fr
ref: incubateurs
additional_js:
    - incubateurs
    - https://unpkg.com/leaflet@1.3.1/dist/leaflet.js
additional_css:
    - incubateurs
    - https://unpkg.com/leaflet@1.3.1/dist/leaflet.css
---
<section id="principes" class="ui container">
    <h2 class="ui divider horizontal">Manifeste d’un incubateur</h2>
    <p>
        L’écosystème beta.gouv.fr grandit depuis 2013 et réunit aujourd’hui de nombreux incubateurs autonomes partageant les mêmes objectifs et les mêmes valeurs. Leur ambition&nbsp;: amener à l’excellence les individus qu’ils accueillent – quel que soit leur rôle&nbsp;: responsable de produit, informaticien·ne, coach, designer, chargé·e de développement… – pour construire les services publics les plus utiles à nos concitoyens.
    </p>
    <p>
        Nous faisons partie d’un réseau d’incubateurs de Startups d’État et de Territoires qui&nbsp;:
    </p>

    <section class="manifeste">
        <h3>Considère les <strong>besoins des usagers</strong> avant ceux de l’<strong>administration</strong></h3>
        <p>
            Il cible ses investissements sur des sujets qui en valent la peine, c’est-à-dire où existe un réel irritant supporté par des milliers ou des millions de personnes. Il ne soutient pas d’investissement qui n’ait obtenu de plébiscite usagers au-delà de 6 mois, il incite donc à la confrontation la plus rapide au terrain.
        </p>

        <h3>Pilote ses équipes <strong>par la finalité</strong> plus que <strong>par les moyens</strong></h3>
        <p>
            Son mode de gestion repose sur la confiance. Une autonomie maximale est concédée aux équipes, pilotées uniquement par leurs objectifs d’impact et non par leurs moyens. Il veille en particulier à ne leur imposer aucune des contraintes inhérentes à la structure (comitologie, communication, achat, standard technologique…).
        </p>

        <h3><strong>S'améliore en continu</strong> plus qu’il n'<strong>obéit à un plan</strong></h3>
        <p>
            Il s’impose à lui-même la méthode frugale et incrémentale qu’il promeut. En particulier, son objectif initial est de lancer le plus rapidement possible une première startup puis d’améliorer en continu ses méthodes, ses produits et les compétences de ses membres. Dans son portefeuille, rien n’est en maintenance, tout est soit en vie, soit stoppé.
        </p>
    </section>

    <p>
        Pour simpliste en apparence, ce manifeste permet en réalité de valider à tout moment que ce que l’on produit est utile à quelqu’un, et ainsi de bâtir non seulement des services publics numériques, mais bien des politiques publiques cohérentes dans leur ensemble.
    </p>
    <p>
        Par porosité, un incubateur travaille avec son environnement pour faire évoluer les pratiques de l'administration qui le porte. 
    </p>
</section>

<section id="incubateurs" class="ui two stackable doubling cards container">
    <h2 class="ui divider horizontal">Les incubateurs publics adhérant à ces principes</h2>
    {% for incubator in site.incubator %}
        {% include incubator-card.html description=incubator %}
    {% endfor %}
</section>
