---
title: Incubateurs
menu_index: 2
permalink: /incubateurs/
lang: fr
ref: incubateurs
additional_js:
    - incubateurs
    - https://unpkg.com/leaflet@1.3.1/dist/leaflet.js
additional_css:
    - incubateurs
    - https://unpkg.com/leaflet@1.3.1/dist/leaflet.css
---
<section id="principes" class="ui container">
    <h2 class="ui divider horizontal">Principes d’un incubateur</h2>
    <p>
        L’écosystème beta.gouv.fr grandit depuis 2013 et réunit aujourd’hui de nombreux incubateurs autonomes partageant les mêmes objectifs et les mêmes valeurs. Leur ambition : amener à l’excellence les individus qu’ils accueillent - quel que soit leur rôle : responsable de produit, informaticien, coach, designer, chargé de développement… - pour construire les services publics les plus utiles à nos concitoyens.
    </p>
    <p>
    Un incubateur de Startups d’État et de Territoires obéit au manifeste suivant :
    </p>
    <ul>
        <li><strong>Impact</strong>: il cible ses investissements sur des sujets qui en valent la peine, c’est-à-dire où existe un réel irritant supporté par des milliers ou des millions de personnes. Il ne soutient pas d’investissement qui n’ait pas obtenu un plébiscite de ses usagers au-delà de 6 mois, il incite donc à la confrontation la plus rapide au terrain ;</li>
        <li><strong>Confiance</strong>: son mode de gestion repose sur la confiance : une autonomie maximale est concédée aux équipes, pilotées uniquement par leurs objectifs et non par leurs moyens. Il veille en particulier à ne leur imposer aucune des contraintes inhérentes à la structure (comitologie, communication, achat, informatique...) ;</li>
        <li><strong>Amélioration continue</strong>: il s’impose à lui-même la méthode itérative et incrémentale qu’il promeut. En particulier, son objectif initial est de lancer le plus rapidement possible une première startup puis d’améliorer en continu ses méthodes, ses produits et les compétences de ses membres</li>
    </ul>
</section>

<section id="incubateurs" class="ui two stackable doubling cards container">
    <h2 class="ui divider horizontal">Les incubateurs publics adhérant à ces principes</h2>
    {% for incubator in site.incubator %}
        {% include incubator-card.html description=incubator %}
    {% endfor %}
</section>
