---
additional_css:
- homepage
- dashboard
- startup-presentation
additional_js: homepage
permalink: /
lang: fr
ref: landing
title: Incubateur de services publics numériques
---

<section id="intro-header">
    <h1>{{ site.description }}</h1>
    <a class="primary investigation cta" href="#cycle">Découvrez comment</a>
</section>

<section id="presentation" class="ui container">
    <div id="example">
        {% include startup-presentation.html id='mdph' %}
        {% include startup-presentation.html id='pix' %}
        {% include startup-presentation.html id='tps' %}
        {% include startup-presentation.html id='mes-aides' %}
        {% include startup-presentation.html id='la-bonne-boite' %}
        {% include startup-presentation.html id='mps' %}
    </div>

    <span class="cta" id="otherExample">Voir d'autres exemples</span>
</section>

<section id="dashboard">
    {% include dashboard.html phases=site.data.fr.phases %}

    <a href="startups" class="primary success cta">Explorez nos {{ site.startup | size }} Startups d'État&nbsp;&nbsp;➤</a>
</section>

<section id="cycle">
    <h2 class="ui divider horizontal">Phases d'une Startup d'État</h2>

    <ol class="ui container">
        <li>Un agent public <strong>investigue une friction</strong> entre administration et citoyens.</li>
        <li>Deux à quatre personnes <strong>construisent un produit</strong> numérique en moins de six mois.</li>
        <li>L'équipe <strong>consolide le service</strong> en élargissant son public cible.</li>
        <li>Un opérateur institutionnel <strong>reprend le service</strong> et assure sa pérennité.</li>
    </ol>

    <a href="communaute" class="primary success cta">Une communauté de {{ site.authors | size }} personnes&nbsp;&nbsp;➤</a>
</section>
