---
title: Startups
menu_index: 1
additional_css:
  - startups
  - dashboard
permalink: /startups/
lang: fr
ref: startups
redirect_from:
  - /portefeuille
---

<h1 class="site-description">
  {{ site.description }}.<br/>
  Vous trouverez ici tous les services créés avec l'<a href="/#cycle">approche Startup d'État</a>.
</h1>

<section id="dashboard" class="section-grey">
  {% include dashboard.html phases=site.data.fr.phases %}
</section>

{% for phase in site.data.fr.phases.incubation %}
    {% assign startups = site.startup | where:'status',phase[0] %}
    <section id="{{ phase[0] }}" class="section-grey">
      <div class="container">
        <h2>Nos Startups d'État en {{ phase[1].name }}</h2>
        <div class="">
          {% capture phase_description %}phases/{{phase[0]}}.md{% endcapture %}
          {% capture phase_description %}{% include {{phase_description}} %}{% endcapture %}
          {{ phase_description | markdownify }}
        </div>

        <div class="grid">
          {% for startup in startups %}
            {% include startup-card.html description=startup %}
          {% endfor %}
        </div>
      </div>
    </section>
{% endfor %}

{% for phase in site.data.fr.phases.endgame %}
    {% assign startups = site.startup | where:'status',phase[0] %}
    <section id="{{ phase[0] }}" class="section-grey">
      <div class="container">
        <h2>Nos Startups d'État {{ phase[1].name }}</h2>
        <div class="ui container">
          {% capture phase_description %}phases/{{phase[0]}}.md{% endcapture %}
          {% capture phase_description %}{% include {{phase_description}} %}{% endcapture %}
          {{ phase_description | markdownify }}
        </div>

        <div class="grid">
          {% for startup in startups %}
            {% include startup-card.html description=startup %}
          {% endfor %}
        </div>
      </div>
    </section>
{% endfor %}
