name: automerge # https://github.com/pascalgn/automerge-action
on:
  pull_request:
  check_suite:
    types:
      - completed
jobs:
  automerge:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
    steps:
      - id: automerge
        name: automerge
        uses: "pascalgn/automerge-action@v0.16.4"
        env:
          GITHUB_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
          MERGE_METHOD: "squash"
          MERGE_FORKS: "false"
          MERGE_LABELS: ""
          MERGE_FILTER_AUTHOR: "secretariat-bot"
