name: automerge
on:
  pull_request:
    types:
      - labeled
      - unlabeled
      - synchronize
      - opened
      - edited
      - ready_for_review
      - reopened
      - unlocked
  pull_request_review:
    types:
      - submitted
  check_suite:
    types:
      - completed
  workflow_run:
    workflows: ["Tests", "Sync 'authors' content with blog.beta.gouv.fr"]
    types: 
      - completed
  status: {}
jobs:
  automerge:
    runs-on: ubuntu-latest
    steps:
      - name: automerge
        uses: "pascalgn/automerge-action@v0.13.0"
        env:
          GITHUB_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
          MERGE_LABELS: "merge it !"
          MERGE_REMOVE_LABELS: "merge it !"
          MERGE_METHOD: "squash"
          MERGE_RETRIES: "10"
          MERGE_RETRY_SLEEP: "10000"